@{
    Layout = null;
    string cdnFileRoot = CC.ERP.Portal.Global.CDNFileRoot;
}
@model CC.Public.HashObject
@using CC.Public
@{
    var content = Model.GetValue<HashObject>("content", new HashObject());
    ViewBag.Title = content["title"];
    ViewBag.Keywords = content["keyboard"];
    ViewBag.description = content["ftitle"];
    ViewBag.modifytime = content.GetString("modifytime");
    var urlprefix = "http://" + Request.Url.DnsSafeHost;
}
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <title>@(ViewBag.Title)</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=yes">
    <meta name="keywords" content="在线进销存,进销存软件,经销商管理,crm管理系统,免费进销存软件,进销存软件哪个好,进销存软件免费版">
    <meta name="description" content="来肯云商是一家专业为中小企业提供在线管理软件的互联网SAAS供应商，旗下产品涵盖在线进销存、网上订货、经销商管理、加盟商订货、erp、crm管理系统等软件，并支持移动版及微信版下载使用，是中国首家专业支持微信客户端使用的SAAS技术服务商,免费版试用热线400-800-7683/028-84519710。">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <meta http-equiv="Pragma" content="cache">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="screen-orientation" content="portrait">
    <meta name="full-screen" content="yes">
    <meta name="browsermode" content="application">
    <meta name="x5-orientation" content="portrait">
    <meta name="x5-fullscreen" content="true">
    <meta name="x5-page-mode" content="app">
    <script src="@(cdnFileRoot)/Scripts/cdn/_lk_check_cdn_avaiabled.js" data-cdn-loader-type="check" data-cdn-loader-src="@(cdnFileRoot)"></script>
    <script src="/Scripts/cdn/cdn-loader.js?v=04241"></script>
    <style>
        body, html {
            padding: 0;
            margin: 0;
        }
        ul,li{
            padding:0;
            margin:0;
        }
        .clear {
            clear: both;
        }

        .MNews_title {
            color: #595959;
            /*padding: 0 20px;*/
            line-height: 1.5;
        }

        .MNews_text {
            color: #5c5c5c;
            padding: 0 20px;
        }
          .MNews_text a{
             text-decoration:none;
             color:#595959;
        }
         .MNews_text img{
             width:100%;
         }
        .MNews_bouttomtitle{
            font-size:24px;
            text-align:center;
            border-bottom:1px solid #B1B1B1;
            width:98%;
            margin:25px auto;
            padding-bottom:3px;
        }
         .MNews_bouttomtitle span{
           display:block;
            margin:8px auto 14px;
        }

        .MNews_bouttom {
            background: url("@(cdnFileRoot)/Images/3.0/wenku/wenku_bg.png") no-repeat;
            background-size: cover;
            color: #fff;
            padding: 20px 20px 0 20px;
        }

        .MNews_tel {
            text-align: center;
            padding-top: 70px;
        }

            .MNews_tel div {
                font-size: 20px;
                padding-bottom: 40px;
            }

            .MNews_tel img {
                width: 80px;
            }

        .MNews_bouttomew div {
            float: left;
        }

        .MNews_bouttomew {
            padding-top: 50px;
        }

        .MNews_bouttomew {
            padding-top: 50px;
        }

            .MNews_bouttomew div span {
                display: block;
                margin: 20px 0 0 35px;
                font-size: 16px;
            }

        .MNews_bouttombtn span {
            display: inline-block;
            text-align: center;
        }

        .MNews_bouttombtn {
            font-size:17px;
            text-align: center;
            background: #4eab6c;
            height: 44px;
            line-height: 44px;
            letter-spacing:1px;
            border-radius:3px;
            margin:20px auto;
            width:90%;
        }

            .MNews_bouttombtn a {
                color: #fff;
                text-decoration: none;
            }

            .MNews_bouttomewimg img {
                width: 110px;
                text-align:center;
            }

        @@media (max-width:380px) {
            .MNews_bouttomtitle {
                font-size: 20px;
                text-align: center;
            }

            .MNews_tel {
                text-align: center;
                padding-top: 40px;
            }

                .MNews_tel div {
                    padding-bottom: 30px;
                }

            .MNews_bouttomew div span {
                margin: 10px 0 0 10px;
                font-size: 14px;
            }
        }

        .MNews_user{
            width:90%;
            margin:0 auto;
        }
        .MNews_usertitle{
            font-size:18px;
            text-align:center;
            margin:20px 0 30px;
        }
        .MNews_usercontent ul li{
            list-style:none;
        }
        .MNews_usercontent img{
            width:18px;
            height:20px;
        }
         .MNews_usercontent ul li span{
              display:inline-block;
         }
        .MNews_usercontent ul li span:nth-child(1){
            height:40px;
            text-align:center;
            line-height:40px;
            font-size:14px;
            text-align:left;
        }
        .MNews_usercontent ul li span:nth-child(2){
            height:40px;
            line-height:40px;
            font-size:14px;
        }
       .MNews_usercontent ul li a{
          display: inline-block;
            color: #fff;
            background-color: #4eab6c;
            width: 70px;
            height: 35px;
            font-size: 14px;
            border-radius: 3px;
            text-decoration: none;
            line-height: 35px;
            text-align: center;
            vertical-align: 11px;
            position:absolute;
            right:0;
      }
      .MNews_imgregister{
          text-align:center;
          margin-top:20px;
      }
         .MNews_imgregister span{
          display:block;
          font-size:14px;
          margin-top:4px;
      }
        .MNews_imgregister span:nth-child(3){
          color:rgb(250,190,144);
      }
        .MNews_title_img{
            width:100%;
        }
         .MNews_title_img img{
            width:100%;
        }
         .MNews_title_text{
             font-weight:bold;
             padding:0 10px;
         }
         .MNews_title_Per{
             width:150px;
             float:right;
             position:relative;
             margin:10px;
         }
          .MNews_title_Per div span{
             display:block;
          }
        .MNews_title_Per:before {
            content: url("@(cdnFileRoot)/Images/3.0/wenku/wenku_img4.png");
            position:absolute;
            left:-65px;
        }
        .wenku_logo{
            width:46%;
        }
        .wenkuTel{
            margin: 6px 6px 0 -5px;
            float: right;
            vertical-align: 5px;
        }
        .downlond_btn{
            text-align:center;
            padding:28px 0 90px;
        }
        .downlond_btn a{
            font-size:14px;
            color:#d3d3d3;
            
        }
    </style>
</head>
<body>
    <div class="MNews_title">     
        <div class="MNews_title_img">
            <img class="img-responsive" src="@(cdnFileRoot)/Images/3.0/wenku/wenku_img3.jpg" />
        </div>       
        <div class="MNews_title_text">@(ViewBag.Title)</div>
        <div class="MNews_title_Per"><div><span style="display:none;">admin</span><span style="margin-top:10px;">@(ViewBag.modifytime)</span></div></div>
        <div class="clear"></div>
    </div>
    <div>
        <input type="hidden" id="down_add" value="@(CC.ERP.Portal.Global.DownloadForIos)">
        <div class="MNews_text">@Html.Raw(content["newstext"])</div>
        @if (!string.IsNullOrWhiteSpace(Request["userid"]))
        {
            var agent_info = Model.GetValue("agent_info", new HashObject());
            //管理咨询
            var type = content.GetInt("classid");
            var barcodeDesc = type == 22 ? "关注后申请成为合作伙伴" : "关注后即可免费注册试用";
            var linkText = type == 22 ? "提交合作申请" : "免费注册试用";
            var linkHref = type == 22 ? "http://m.lk361.com/mobile/agentapply?salerid=" + (@Request["userid"] ?? "0") : agent_info.GetString("registsite");


            <div class="MNews_bouttom">
                <div class="MNews_bouttomtitle">
                    <img src="@(cdnFileRoot)/Images/3.0/wenku/wenku_logo.png" class="wenku_logo" />
                    <span>互联网端商贸管理专家</span>
                </div>
                <div class="MNews_user">
                    <div class="MNews_usertitle">联系人信息</div>
                    <div class="MNews_usercontent">
                        <ul>
                            <li><span>服务商：</span><span>@agent_info.GetString("agentrealname")</span></li>
                            <li><span>联系人：</span><span>@agent_info.GetString("userrealname")</span></li>
                            <li style="margin-top:-7px;position:relative;"><span>电　话：</span><span>@agent_info.GetString("tel")</span>
                                <a href="tel://@agent_info.GetString("tel")">拨号<img src="@(cdnFileRoot)/Images/3.0/wenku/wenku_tel.png" class="wenkuTel" /> </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="MNews_bouttombtn"><span><a href="@agent_info.GetString("registsite")">@linkText</a></span></div>
                <div class="downlond_btn">
                    <a id="down" href="#" style="display:none;">下载APP</a>
                </div>
            </div>
        }
    </div>
    <script src="@(cdnFileRoot)/Scripts/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script src="@(cdnFileRoot)/Scripts/companyshow/eqishow.js?v=1"></script>
    @if (!string.IsNullOrWhiteSpace(Request["userid"]))
    {
        <script>
            weixin.setShareContent("@Request["userid"]", "@Model.GetString("id_str")", "@ViewBag.Title", "@ViewBag.Title", location.href, "");
        </script>
    }
    <script>
        var userid=@Request["userid"];
        //获得浏览器信息
        function GetClientinfo() {
            var userAgent = navigator.userAgent;
            return userAgent;
        }
        $(function () {
            $("#down").click(function () {
                var clientinfo = GetClientinfo();
                if(userid>0){
                    $.ajax({
                        url: '/news/savedownlog',
                        type: 'POST',
                        dataType: 'JSON',
                        data: { userid: userid, clientinfo: clientinfo },
                        success: function (data) {
                            if (data.success) {
                                window.location.href=$("#down_add").val();
                            }
                            else {
                                alert(data.message);
                            }
                        }
                    });
                }
                else{
                   var href=$("#down_add").val();
                   window.open(href);    
                }
            });
        });
    </script>
</body>
</html>