@model HashObject
@using CC.Public
@{
    var content = Model.GetValue<HashObject>("content", new HashObject());
    var ncount = Model.GetValue<int>("ncount", 0);
    var nlist = Model.GetValue<List<HashObject>>("nlist", null);
    Layout = "~/Views/Shared/_Layout.cshtml";
    var gooditems = Model.GetValue<HashObjectList>("gooditems", new HashObjectList());
    var linkitems = Model.GetValue<HashObjectList>("linkitems", new HashObjectList());
    var urlprefix = "http://" + Request.Url.DnsSafeHost;
    //算分页
    var lastid = content.GetLong("lastid");
    var nextid = content.GetLong("nextid");
    var classid = content.GetString("classid");

    ViewBag.Title = content.GetString("ftitle");
    ViewBag.Keywords = content.GetString("keyboard");
    ViewBag.description = content.GetString("smalltext");

    string cdnFileRoot = CC.ERP.Portal.Global.CDNFileRoot;
    ViewData.Add("cdnFileRoot", cdnFileRoot);
}

<div class="blogs_topbg"></div>
<div class="lkerp_bottom_nav blogs_subnav">
    <ul>
        <li classid="0" id="allnews">全部</li>
        <li classid="4">公司动态</li>
        <li classid="6" style="display:none;">SAAS说事</li>
        <li classid="7">用户案例</li>
        <li classid="1">发版公告</li>
        <li classid="2">行业快讯</li>
    </ul>
</div>
<div>
    <div class="lkblogs_xqwrapper">
        <div class="lkblogs_xqtext">
            <div><img class="lazy" data-original="@(cdnFileRoot)/Images/3.0/blogs/lkblogs_title@(content.GetString("classid")).jpg" /></div>
            <div><span>@content.GetString("username")</span><span>@content.GetString("modifytime")</span></div>
        </div>
        <div class="clear"></div>
        <div class="lkblogs_xqcontent">
            <span style="width:880px;display:inline-block;text-align:center;font-size:22px;">@content["title"]</span>
            @if (!string.IsNullOrEmpty(content.GetString("pic")))
            {
                <img class="lkblogs_xqimg1" src="@(CC.ERP.Portal.Global.webhost)/@content["pic"]" onerror="javascript:this.src='@(cdnFileRoot)/Images/3.0/common/news.jpg'" />
            }
            <div class="lkblogs_xqcontent1">
                @Html.Raw(content["newstext"])
            </div>
            @*<div class="lkblogs_xqimg2"></div>*@
        </div>
    </div>
    <div class="lkblogs_xqbottom_btn">
        @if (lastid > 0)
        {
            <a href="/news/newscontent/@(classid+"-"+lastid)"> «上一篇 <span>@(content["last_title"])</span></a>
        }
        @if (nextid > 0)
        {
            <a href="/news/newscontent/@(classid+"-"+nextid)"> «下一篇 <span>@(content["next_title"])</span></a>
        }
    </div>
    <div class="lkblogs_xacopyright"><div class="lkblogs_xacopyrightL">版权声明</div><div class="lkblogs_xacopyrightR">本内容授权于来肯云商，如有任何合作或转载,请直接与我们联系</div><div class="clear"></div></div>
    
    @if (ncount > 0)
    {
        <div class="newscontent_bot">
            <span class="botcontent_title">还想了解更多<span id="classname">行业快讯</span>？</span>
            <ul>
                @foreach (HashObject news in nlist)
                {
                    <li>
                        <div class="botcontent_wra">
                            <a href="/news/newscontent/@news["classid"]-@(news["id"])"><span class="text_title">@news["title"]</span><span class="text_time">@(news["modifytime"] == null ? "" : news.GetDateTime("modifytime").ToString("yyyy-MM-dd"))</span></a>
                        </div>
                    </li>
                }
            </ul>
            <div class="clear"></div>
        </div>
    }
</div>

@Html.Hidden("classid", @content["classid"])

<script>
    $(function () {
        var classid = $("#classid").val();
        if (classid > 0) {
            $(".blogs_subnav li").each(function (i, n) {
                if ($(this).attr("classid") == classid) {
                    $(this).css('color', '#62d1ff');
                    $("#classname").text($(this).text());
                }
            })
        } else {
            $("#allnews").css('color', '#62d1ff');
        }
    });

    $(".blogs_subnav li").click(function () {
        $(".blogs_subnav li").each(function (i, n) {
            $(this).css('color', '#333333')
        })
        $(this).css('color', '#62d1ff')
        $("#classname").text($(this).text());
        var classid = $(this).attr("classid");
        location.href = "@(urlprefix)/news/news/" + classid + "-0";
    })
</script>