@{
    ViewBag.Title = "WenKuList";
    Layout = "~/Views/Shared/_WeiXinLayout.cshtml";

    string cdnFileRoot = CC.ERP.Portal.Global.CDNFileRoot;
    ViewData.Add("cdnFileRoot", cdnFileRoot);

    var top10Fixed = CC.ERP.Portal.Controllers.Public.LoadLists(0, 0, 10, true).GetValue("itemslist", new HashObjectList());
}
<style>
    .clear {
        clear: both;
    }

    li {
        list-style: none;
    }

    ul, li {
        padding: 0;
        margin: 0;
    }

    .catelist li.active * {
        color: #00aaff;
    }

    .wenku_navcontainer {
        width: 100%;
        position: fixed;
        bottom: 1px;
        z-index: 1;
        height: 40px;
        background-color: #f3f6f9;
        padding: 2px 0;
    }

        .wenku_navcontainer li {
            width: 50%;
            float: left;
            text-align: center;
            line-height: 40px;
            background: #f3f6f9;
        }

            .wenku_navcontainer li a {
                color: #000;
                text-decoration: none;
                font-size: 16px;
                display: block;
            }

            .wenku_navcontainer li.active a {
                background: #368de8;
                color: #fff;
                display: block;
            }
    /*.wenku_subnav {
           position:fixed;top:0px;
          margin:0 10px;
       }
      .wenku_subnav li{
          float:left;
           padding:5px 10px;
           text-align:center;
           font-size:16px;
      }
      .wenku_subnav li a{
          color:#88888a;
          text-decoration:none;
      }
      .wenku_subnav_item{
          width:90%;
      }*/
    .wenku_lunbo_content {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 35px;
        background-color: rgba(0,0,0,.33);
        color: #fff;
    }

        .wenku_lunbo_content span {
            display: inline-block;
            width: 65%;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            height: 100%;
            margin-left: 10px;
            padding-left: 5px;
        }

            .wenku_lunbo_content span:before {
                content: url("../../Images/3.0/wenku/lunbo_texticon.png");
                position: relative;
                left: -5px;
                top: 6px;
            }

    .wenku_lunbo .carousel-indicators {
        bottom: -3px;
        margin-left: 0px;
        width: 25px;
        left: 68%;
        text-align: right;
    }

        .wenku_lunbo .carousel-indicators li {
            width: 7px;
            height: 7px;
        }

        .wenku_lunbo .carousel-indicators .active {
            width: 8px;
            height: 8px;
        }

    .wenku_content_title span {
        display: inline-block;
        margin-left: 5px;
        color: #000;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: 77%;
    }

    .wenku_subnav {
        width: 100%;
        position: relative;
        border: 1px solid #ccc;
    }

        .wenku_subnav .hd .prev, .txtScroll-left .hd .next {
            display: block;
            height: 20px;
        }

        .wenku_subnav .hd {
            width: 5%;
        }

        .wenku_subnav .bd {
            padding: 8px 0;
            width: 90%;
            overflow-x: scroll;
            float: left;
            height: 40px;
        }

            .wenku_subnav .bd a:focus {
                outline: none;
            }

            .wenku_subnav .bd::-webkit-scrollbar {
                /*width:0px;*/
                height: 0px;
            }

            .wenku_subnav .bd::-webkit-scrollbar-thumb:vertical {
                background: #000;
            }

            .wenku_subnav .bd div {
                overflow: auto !important;
            }

                .wenku_subnav .bd div::-webkit-scrollbar {
                    /*width:0px;*/
                }

            .wenku_subnav .bd ul {
                overflow: hidden;
                zoom: 1;
            }

                .wenku_subnav .bd ul li {
                    float: left;
                    height: 24px;
                    line-height: 24px;
                    text-align: center;
                    _display: inline;
                    width: 80px;
                }

                    .wenku_subnav .bd ul li a {
                        color: #88888a;
                    }

    .hd_left {
        float: left;
        margin-top: 10px;
        text-align: center;
    }

    .hd_right {
        float: right;
        margin-top: 10px;
        text-align: center;
    }

    .catelist li.active a {
        color: #00aaff !important;
        text-decoration: underline;
    }

    .wenku_navicon {
        height: 30px;
        display: inline-block;
        position: relative;
        top: 5px;
        left: -7px;
    }

    .wenku_navicon1 {
        width: 25px;
    }

    .wenku_navicon2 {
        width: 31px;
    }

    .wenku_navcontainer li.active a .wenku_navicon1 {
    }

    .wenku_navcontainer li.active a .wenku_navicon2 {
    }

    .carousel-inner > .item > a > img {
        width: 100%;
    }

    .wk_new {
        display: inline-block;
        width: 18px;
        height: 18px;
        background: url('../../Images/3.0/wenku/new.png') no-repeat center;
        background-size: 100%;
        position: absolute;
        top: 31%;
    }

    .wk_new_light {
        display: inline-block;
        width: 18px;
        height: 18px;
        background: url('../../Images/3.0/wenku/new_light.png') no-repeat center;
        background-size: 100%;
        position: absolute;
        top: 31%;
    }

    .article_num {
        float: right;
        color: #e7e7e7;
        font-size: 10px;
        margin: 10px 14px auto 0;
    }

    .list-group-item {
        padding: 10px 6px;
    }

        .list-group-item a {
            margin-left: 22px;
        }
</style>
@model CC.Public.HashObject
@using CC.Public
@{
    HashObjectList list = Model.GetValue<HashObjectList>("itemslist", new HashObjectList());
    HashObjectList cateList = Model.GetValue<HashObjectList>("catelist", new HashObjectList());
    string eqishowUrl = ViewBag.eqishowUrl;
    string openid = ViewBag.openid;
    long? userid = ViewBag.userid;
    string code = ViewBag.code;

    HashObject data = (HashObject)Model;
    int totalcount = data.GetInt("itmescount");
}
<div class="container wenku_navcontainer">
    <ul>
        <li role="presentation" class="@(Request["type"]=="cms"?"active":"")"><a href="/WeiXin/WenKuList?type=cms&openid=@openid&code=@code&userid=@Request.QueryString["userid"]&su=@Request.QueryString["su"]&accesstoken=@HttpUtility.UrlEncode(Request.QueryString["accesstoken"])">静态文库</a></li>
        <li role="presentation" class="@(Request["type"]!="cms"?"active":"")"><a href="/WeiXin/WenKuList?openid=@openid&code=@code&userid=@Request.QueryString["userid"]&su=@Request.QueryString["su"]&accesstoken=@HttpUtility.UrlEncode(Request.QueryString["accesstoken"])">动态文库</a></li>
    </ul>
</div>
<div>
    <div id="carousel-example-generic" class="carousel slide wenku_lunbo" data-ride="carousel">
        <ol class="carousel-indicators">
            @{
                var counter = 0;
            }
            @if (top10Fixed.Count > 1)
            {
                foreach (var item in top10Fixed)
                {
                    <li data-target="#carousel-example-generic" data-slide-to="@counter" class="@(counter!=0?"":" active")"></li>
                    counter++;
                }
                counter = 0;
            }
        </ol>
        <div class="carousel-inner" role="listbox">
            @foreach (var item in top10Fixed)
            {
                <div class="item@(counter!=0?"":" active")">
                    <a href="/news/newscontent/@(item.GetString("classid"))-@(item.GetString("id"))?type=1&userid=@(userid)">
                        <img class="img-responsive" src="@(CC.ERP.Portal.Global.webhost)/@item.GetString("pic")" onerror="onerror=null;src='http://www.lk361.com//d/file/yonghudayi/2016-01-30/f207521075bfe74171af720309a82513.jpg'" />
                    </a>
                    <div class="wenku_lunbo_content">
                        <span>@item.GetString("title")</span>
                        <div class="article_num">总计:@totalcount 篇</div>
                    </div>
                </div>
                counter++;
            }
        </div>
    </div>
</div>
<ul class="list-group prolist">
    @if (list.Any())
    {
        for (int i = 1; i <= list.Count; i++)
        {
            HashObject news = list[i - 1];
            var url = "";
            var hasImg = true;
            var title = "";            
            var public_day_count = (DateTime.Now - news.GetDateTime("modifytime")).Days;
            if (Request["type"] == "cms")
            {
                hasImg = false;
                url = string.Format("/news/NewsContent/{0}-{1}?type=1&userid={2}", news.GetLong("classid"), news.GetLong("id"), userid);
                title = news.GetString("title");
            }
            else
            {
                public_day_count = (DateTime.Now - news.GetDateTime("createtime_time")).Days;
                hasImg = true;
                url = eqishowUrl + "/v-" + news["scenecode_varchar"] + "?userid=" + userid;
                title = news.GetString("scenename_varchar");
            }

            <li class="list-group-item wenku_content_title">
                @if (public_day_count <= 30)
                {
                    if (public_day_count <= 15)
                    {
                        <div class="wk_new_light"></div>
                    }
                    else
                    {
                        <div class="wk_new"></div>
                    }
                }

                <a href='@url'>
                    @if (hasImg)
                    {
                        <img class="lazy" data-original="@eqishowUrl/uploads/@news["thumbnail_varchar"]" style="width:50px" />
                    }
                    <span>@title</span>
                </a>
            </li>
        }
    }
    else
    {
        @Html.Raw("该分类中没有数据");
    }
</ul>

<script src="@(cdnFileRoot)/Scripts/3.0/jquery.SuperSlide.2.1.1.js"></script>
<script language='javascript' src='http://res.wx.qq.com/open/js/jweixin-1.0.0.js'></script>
<script src="@(cdnFileRoot)/Scripts/companyshow/eqishow.js?v=1"></script>
<script>
    var page = 1;
    var finished = 0;
    var sover = 0;

    //加载完
    function loadover() {
        if (sover == 1) {
            var overtext = "Duang～到底了";
            if ($(".loadover").length > 0) {
                $(".loadover span").eq(0).html(overtext);
            }
            else {
                var txt = '<div class="loadover list-group-item" style="text-align:center;margin-left:26%;"><span>' + overtext + '</span></div>'
                $("body").append(txt);
            }
        }
    }

    //加载更多
    var vid = 0;
    function loadmore(obj, isclear) {
        if ('@(userid>=0)' == 'False')
            return;

        if (finished == 0 && sover == 0) {
            var scrollTop = $(obj).scrollTop();
            var scrollHeight = $(document).height();
            var windowHeight = $(obj).height();

            //var pagesize = parseInt(windowHeight / 20) * 3;

            if (scrollHeight - (scrollTop + windowHeight) <= 50) {
                //此处是滚动条到底部时候触发的事件，在这里写要加载的数据，或者是拉动滚动条的操作
                var txt = '<div class="loadmore"><span class="loading"></span>加载中..</div>'
                $("body").append(txt);

                //防止未加载完再次执行
                finished = 1;
                loaddata();
            }
        }
    }
    //加载数据
    function loaddata(isclear) {
        var _this = this;
        var _type = _this.GetQueryString("type");
        $.ajax({
            type: 'GET',
            url: '/WeiXin/GetWenKuList?openid=@openid&page=' + page + '&cate=' + _this.GetQueryString('cate') + '&type=' + _type+'&userid=@Request.QueryString["userid"]&su=@Request.QueryString["su"]&accesstoken=@HttpUtility.UrlEncode(Request.QueryString["accesstoken"])',
            dataType: 'json',
            success: function (data) {
                var result = ''
                for (var i = 0; i < data.itemslist.length; i++) {
                    if (_type != "cms") {
                        var url = "@eqishowUrl/v-" + data.itemslist[i].scenecode_varchar + "?userid=@userid";
                        result += "<li class='list-group-item'>"
                                     + "<a href='" + url + "'>"
                                     + "<img class='lazylazy' data-original='@eqishowUrl/uploads/" + data.itemslist[i]['thumbnail_varchar'] + "' style='width:32px'/>&nbsp;"
                                     + data.itemslist[i].scenename_varchar + "</a>"
                                + "</li>";
                    } else {
                        //url = string.Format("/news/NewsContent/{0}-{1}?type=1&userid={2}", news.GetLong("classid"), news.GetLong("id"), userid);
                        var url = "/news/NewsContent/" + data.itemslist[i].classid + "-" + data.itemslist[i].id + "?type=1&userid="+@userid;
                        result += "<li class='list-group-item'>"
                                     + "<a href='" + url + "'>"
                                     + data.itemslist[i].title + "</a>"
                                + "</li>";
                    }
                }
                var itmescount = data.itmescount;

                setTimeout(function () {
                    $(".loadmore").remove();
                    if (isclear) {
                        if (result == '') {
                            $('.prolist').html("该分类中没有数据");
                        } else {
                            $('.prolist').html("");
                        }

                    }
                    $('.prolist').append(result);
                    $("img.lazylazy").lazyload();
                    page += 1;
                    finished = 0;
                    //最后一页
                    var maxPage = Math.ceil(itmescount / 50);
                    if (page >= maxPage) {
                        sover = 1;
                        loadover();
                    }
                }, 0);
            },
            error: function (xhr, type) {
                alert('Ajax error!');
            }
        });
    }
    //页面滚动执行事件
    $(window).scroll(function () {
        loadmore($(this));
    });

    $(function () {
        $("img.lazy").lazyload();
    })

    function GetQueryString(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if (r != null) return unescape(r[2]); return "";
    }

    //隐藏微信菜单
    weixin.hideAllOptionMenu();

    //子菜单js
    //$(".wenku_subnav").slide({titCell:".hd ul",mainCell:".bd ul",autoPage:true,effect:"left",autoPlay:false,scroll:2,vis:4,trigger:"click"});
    var li_num=$(".wenku_subnav .catelist").children("li").length;
    $(".catelist").width(li_num*$(".wenku_subnav .catelist li").width())

    //$(".wenku_subnav .bd ").scroll(function(){
    //    console.log( $(".wenku_subnav .bd").scrollLeft());
    //})

    var li_name=$(".wenku_subnav .bd .active a").attr("name");
    window.location.hash=li_name;
    $(".wenku_subnav .bd").scrollLeft($(".wenku_subnav .bd").scrollLeft())

    //console.log($(".wenku_subnav .bd").scrollLeft());
    if($(".wenku_subnav .bd").scrollLeft()<50){
        $(".wenku_subnav .bd").scrollLeft($(".wenku_subnav .bd").scrollLeft()+10)
    }else if($(".wenku_subnav .bd").scrollLeft()>50){
        $(".wenku_subnav .bd").scrollLeft($(".wenku_subnav .bd").scrollLeft()+160)
    }
</script>
