@{
    var surpportpassportSSL = System.Configuration.ConfigurationManager.AppSettings["surpportpassportSSL"] == "true";
    var passportdomain = System.Configuration.ConfigurationManager.AppSettings["passportdomain"];
    string cdnFileRoot = CC.ERP.Portal.Global.CDNFileRoot;
    }
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>来肯抽奖系统</title>
    <link href="@(cdnFileRoot)/Content/lottery/zstyle.css" rel="stylesheet" />
    <script src="@(cdnFileRoot)/Scripts/jquery-1.11.0.min.js"></script>
    <script src="@(cdnFileRoot)/Scripts/lottery/awardRotate.js"></script>
    <script src="@(cdnFileRoot)/Scripts/lottery/lottery.js"></script>
    <script type="text/javascript">
        var authurl = "@((surpportpassportSSL ? "https://" : "http://") + passportdomain + "/Account/Auth")";
    </script>
    </head>
    <body style="background:#e62d2d;margin:0 auto;color:#FFFBDC">
        <div style="width:1590px;margin:0 auto;position:relative">
            <div  class="bg1"></div>
            <div  class="bg2"></div>
            <div  class="bg3"></div>
            <div  class="bg4"></div>
            <div  class="bg5"></div>
            <div  class="lottery">
                <div style="position:absolute;width:30px;height: 30px;top: 98px;right: 180px;">
                    <canvas id="getTime" width="30" height="30"></canvas>
                </div>
                <div style="position:absolute;width:422px;height:422px;top: 160px;left: 85px;">
                    <canvas class="item" id="wheelcanvas" width="422" height="422"></canvas>
                    <div  class="pointer">

                    </div>
                </div>
            </div>
            <div id="giftList">
                数据加载中
            </div>
            <div id="showme">

            </div>
            <div id="showmelist">
               <div style="text-align:center;padding-bottom:5px;"><h4>我的奖品</h4></div>
               <div id="showmelisttext"></div>
               <div style="left: 190px;bottom: 10px; border:1px solid #6C0C27" class="lkDialogBtn" id="showmeclose">关闭</div>
            </div>
            <!--弹窗开始-->

            <div  class="lkDialog" id="showLogin">
                <div  class="lkDialogText">您还没有登录，请先登录或注册新帐号后再进行抽奖</div>
                <div style="left: 200px;bottom: 70px;"  class="lkDialogBtn" id="btnLogin">登录</div>
                <div style="right: 150px;bottom: 70px;" class="lkDialogBtn" id="btnRegister">注册</div>
                <div  class="lkDialogClose lkDialogOnlyClose"></div>
            </div>

            <div class="lkDialog" id="showMsg">
                <div class="lkDialogText" id="msgText"></div>
                <div style="left: 280px;bottom: 70px;" class="lkDialogClose lkDialogBtn">确定</div>
                <div class="lkDialogClose lkDialogOnlyClose"></div>
            </div>
          
            <div id="showDoLogin" style="display:none; border:2px solid #EF3A33; background:#6C0C27;width:450px;top: 0;   left: 0;   bottom: 0;   right: 0;   margin: auto; height: 300px; position: fixed; border-radius:5px;">
                <div style="text-align:center; color:#fff;font-size:1.3em;padding-top:10px;"><h3>请登录</h3></div>
                <div>
                    <div style="font-size:20px;padding:10px;">账号：<input type="text" name="username" id="username" style=" height: 24px;width:80%" placeholder="请输入账号" /></div>
                    <div style="font-size:20px;padding:10px;">密码：<input type="password" name="pwd" id="pwd" style=" height: 24px;width:80%" placeholder="请输入密码" /></div>
                    <div style="font-size:20px;padding:10px;">
                        验证：<input type="text" name="imgCode" id="imgCode" style=" height: 24px;width:80%" placeholder="请输入图片验证码" />
                        <img src="@((surpportpassportSSL ? "https://" : "http://") + passportdomain + "/account/vcode")" onclick="javascript: document.getElementById('picCode').src = '@((surpportpassportSSL ? "https://" : "http://") + passportdomain + "/account/vcode")?' + Math.random(); return false;" style="height: 25px; margin-left: -70px;" title="看不清换一张" id="picCode" />
                    </div>
                </div>
                <div class="lkDialogBtn" style="width:120px;left: 35.38%;bottom: 10.88%;" id="btnLoginRightNow">立即登录</div>
                <div class="lkDialogClose lkDialogOnlyClose"></div>
            </div>



            <!--弹窗结束-->

        </div>
    </body>
</html></script>