@{
    Layout = null;
    string cdnFileRoot = CC.ERP.Portal.Global.CDNFileRoot;   
}

<!DOCTYPE html>

<html>
<head>
    <title>来肯云商|来肯在线|进销存软件|进销存管理软件|在线进销存</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width" />
    <link href="@(cdnFileRoot)/Content/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="@(cdnFileRoot)/Content/portal_local.css?v=0527" rel="stylesheet" />
    <link href="@(cdnFileRoot)/Content/4.0/ka.css?v=20170629" rel="stylesheet" />
    <script src="@(cdnFileRoot)/Scripts/jquery-1.11.0.js"></script>
    <script src="@(cdnFileRoot)/Scripts/3.0/account.js"></script>
    <script src="@(cdnFileRoot)/Content/bootstrap/js/bootstrap.js"></script>
    <script src="@(cdnFileRoot)/Scripts/4.0/ka.js?v=1208"></script>
</head>
<body>
    <div id="apply_page">
        <!-- 手机号码获页开始 -->
        <div id="telephone_section" class="section">
            <div class="background">
                <img src="@(cdnFileRoot)/Images/4.0/ka/custom-apply-panel-bg.png" />
            </div>
            <div class="lk-panel">
                <div class="logo">
                    <img src="@(cdnFileRoot)/Images/4.0/ka/custom-apply-logo.png" />
                </div>               

                <div class="lk-panel-header">
                    <img class="title" src="@(cdnFileRoot)/Images/4.0/ka/custom-apply-title.png" />
                </div>
                <div class="lk-panel-body">
                    <div class="form-group icon-group big-group" data-html="true">
                        <span class="add-on">
                            <img src="@(cdnFileRoot)/Images/4.0/ka/telephone-icon.png" />
                        </span>
                        <input type="text" id="cellphone" name="cellphone" class="form-control" placeholder="请输入手机号码" />
                    </div>

                    <div class="form-group big-group">
                        <a href="#" type="button" id="btnMsgCode" class="btn btn-gray btn-default btn-lg btn-block btn-space btn_light">点击获取验证码</a>
                    </div>

                    <div class="form-group icon-group big-group">
                        <span class="add-on">
                            <img src="@(cdnFileRoot)/Images/4.0/ka/lock-icon.png" />
                        </span>
                        <input type="text" id="msgcode" class="form-control" placeholder="请输入收到的验证码">
                    </div>

                    <div class="form-group form-action big-group">
                        <button type="button" id="btnNext" class="btn btn-primary btn-lg btn-block btn-purple btn-space">获取方案</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- 手机号码获页结束 -->
        <!-- 客户信息收集页面开始 -->
        <div id="contact_section" class="hidden section">
            <div class="background">
                <img src="@(cdnFileRoot)/Images/4.0/ka/custom-apply-panel-bg.png" />
            </div>

            <div class="lk-panel">
                <div class="logo">
                    <img src="@(cdnFileRoot)/Images/4.0/ka/custom-apply-logo.png" />
                </div>
                <div class="lk-panel-header">
                    <img class="title" src="@(cdnFileRoot)/Images/4.0/ka/custom-apply-title.png" />
                </div>
                <div class="lk-panel-body">
                    <form>
                        <div class="form-group icon-group big-group" data-html="true" data-trigger="manual">
                            <span class="add-on">
                                <img src="@(cdnFileRoot)/Images/4.0/ka/user-icon.png" />
                            </span>
                            <input type="text" id="contactor" class="form-control" placeholder="请输入联系人" />
                            <span class="append">
                                <span class="required-tag">*</span>必填项
                            </span>
                        </div>

                        <div class="form-group icon-group big-group">
                            <span class="add-on">
                                <img src="@(cdnFileRoot)/Images/4.0/ka/home-icon.png" />
                            </span>
                            <input type="text" id="companyname" class="form-control" placeholder="请输入您公司的名称">
                        </div>

                        <div class="form-group detail-group">
                            <label class="control-label">请在下面的方框内填写您的需求概况：</label>
                            <textarea id="requirement" class="form-control" rows="4"></textarea>
                        </div>

                        <div class="form-group form-action big-group">
                            <button type="button" id="btnSubmit" class="btn btn-lg btn-block btn-purple">提交</button>
                        </div>

                    </form>
                </div>

                <div class="lk-panel-footer">
                    <h4>联系我们/Contract us</h4>
                    <ul>
                        <li>咨询电话1: 13547968152 </li>
                        <li>咨询电话2: 13018240365</li>
                        <li>
                            <a style="color: #565656;" href="@string.Format("http://wpa.qq.com/msgrd?v=3&uin={0}&site=qq&menu=yes", "2880928299")" rel="external nofollow">咨询QQ<img src="@(cdnFileRoot)/Images/4.0/ka/contact-qq-1.png"></a>: 2880928299(添加时请填写验证信息)
                        </li>
                        <li>地址: 成都市高新科技孵化园9号楼F座6F/8F</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- 客户信息收集页面结束 -->
        <!-- 跳转页开始 -->
        <div id="redirect_section" class="hidden section">
            <div class="logo-describe">
                <img class="logo" src="@(cdnFileRoot)/Images/4.0/ka/lk-logo.png" />
                <span class="describe">来肯云商</span>
            </div>

            <p class="lead">
                恭喜您!已成功提交信息，我们将尽快与您取得联系，谢谢!
            </p>
            <p id="redirect_link">
                <span>5</span>秒后自动跳转到定制方案页面，<a href="/product/customized">点击此处立即跳转！</a>
            </p>
        </div>
        <!-- 跳转页结束 -->

    </div>
</body>
</html>
