
@{
    Layout = "~/Views/Shared/_PassportLayoutFor.cshtml";
    var passportdomain = CC.ERP.Portal.Global.PassportDomain;
    var surpportpassportSSL = CC.ERP.Portal.Global.SurpportpassportSSL;
    var action = "";
    if (surpportpassportSSL)
    {
        action = "//" + passportdomain + "/account/auth";
    }
    else
    {
        action = "//" + passportdomain + "/account/auth";
    }

    var plugin = "http://" + passportdomain + "/product/GetPlugin";
    var actionurl = "https://localhost.lk361.com:7801/";
    var actionuk = actionurl + "usbkey?redirectURL=" + HttpUtility.UrlEncode(Model["ulcallbackurl"].ToString());
    var ukr = DateTime.Now.Ticks.ToString();

    string cdnFileRoot = CC.ERP.Portal.Global.CDNFileRoot;
    ViewData.Add("cdnFileRoot", cdnFileRoot);
}
<script type="text/javascript">
    window.actionurl = "@actionurl";
    window.actionuk = "@actionuk";
    window.ukr = "@ukr";
    window.plugin = "@plugin";
</script>
<script src="@(cdnFileRoot)/Scripts/3.0/logon.js?v=20170904"></script>
<script src="@(cdnFileRoot)/Scripts/3.0/account.js?v=0810"></script>
<style>
    #login .loginfor_wra{
         width: 330px;
         height: 380px;
         position:static;
         background-color:#fafafc;
         margin: 90px auto 0;
    }
    .login_wra{
        padding-top:0px;
    }
    .regster_content {
         padding-top: 50px;
     }
    .account_footer input[type=button]:hover{
        background-color:#02A3E6;
    }
    .loginfor_wra .input_div{
        padding-left:15px;
    }
    .loginfor_wra .input_div input{
        width:80%;
    }
    .login_wra #logon_foot_link label input{
        width:14px !important;
    }
    .login_wra #logon_foot_link label input:checked:after{
        top:-16px;
    }
    .input_div a:hover{
        color:#1bace0;
    }
    .loginfor_bottom_links{
            margin: 140px auto 0;
    }
  #div_img_code  #picCode{
          position: absolute;
        right: 4px;
        top: 5px;
  }
  #div_img_code input{
      width:74%;
  }
</style>
<div class="loginfor_topbar">
    <div>
        <img src="@(cdnFileRoot)/Images/3.0/account/login_top_img.png" />
        <span>云上遵义</span>
    </div>
</div>
<div id="login">
    <div class="loginfor_wra login_wra wra_same wrapper_tips">
        <div class="account_header" style="background-color:#000;">
            <ul>
                <li id="a_login" class="account_header_selectedA">
                    <a>账号登录</a>
                </li>
                <li id="a_login_weixin">
                    <a>微信登录</a>
                </li>
                <li id="a_login_u">
                    <a>U盾登录</a>
                </li>
            </ul>
        </div>
        <div class="regster_content" id="login1">
            <div class="input_div">
                账号：@Html.TextBox("username", string.Empty, new { autocomplete = "true", placeholder = "请输入手机号码或用户名" })
            </div>
            <div class="input_div">
                密码：@Html.Password("pwd", string.Empty, new { placeholder = "登录密码 " })
            </div>
            <div class="input_div" id="div_img_code" style="display:none;">
                验证码：@Html.TextBox("imgCode", string.Empty, new { placeholder = "图片验证码 ", data_val_required = "请输入图片验证码", data_val = "true" })
                <img src="@((surpportpassportSSL ? "https://" : "http://") + passportdomain + "/account/vcode")" onclick="javascript:document.getElementById('picCode').src='@((surpportpassportSSL ? "https://" : "http://") + passportdomain + "/account/vcode?")'+Math.random();return false;" title="看不清换一张" id="picCode" />
                @*<a id="picCode_a" onclick='$("#picCode").attr("src", "vcode?r=" + Math.random())'>看不清换一张</a>*@
            </div>
            <div id="accounttypecontainer" class="input_div" style="display:none;">
                <p style="margin-top:25px;">
                    登录方式：<input type="radio" name="type" value="1">手机号<input type="radio" name="type" value="2">操作员账号
                </p>
            </div>
            <div class="account_footer">
                <input type="button" id="btn_login" class="btn" value="立即登录" />
            </div>
            <div class="input_div" id="logon_foot_link" style="border:none;height:35px;text-align:right;margin-top:25px;background-color:transparent;">
                <a href="/account/register?agentid=@(Request["agentid"])&salerid=@(Request["salerid"])&sourceflag=@(Request["sourceflag"])&promoteCode=@(Request["promoteCode"])" style="display:none;">注册</a>
                <a href="/account/resetpwd?agentid=@(Request["agentid"])&salerid=@(Request["salerid"])&sourceflag=@(Request["sourceflag"])&promoteCode=@(Request["promoteCode"])" style="display:none;">忘记密码？</a>
                @*<a href="http://@(passportdomain)/home/index#footer-outer" target="_blank" style="margin-right:30px;display:none;">下载</a>*@
                <a href="https://www.lk361.com/download/pc_client_download" target="_blank" style="margin-right:30px;display:none;">下载</a>
                <label style="font-weight:500;font-size:14px;" title="勾选之后会记住密码，取消勾选则不记住！"><input class="iconfont" type="checkbox" checked="checked" id="check_expire" value="7" />记住密码？</label>
            </div>
        </div>

        <div class="regster_content" id="login2" style="display:none;padding-top:25px;">
            <p style="text-align:center;color:#808080;">安全登录<span style="margin-left:30px;">防止被盗</span></p>
            <div style="width:150px;height:150px;text-align:center;margin:10px auto;border:1px solid #D3D3D3;">
                <img id="wx_login_qrcode" src="" style="width:140px;margin:5px;" />
            </div>
            <p style="text-align:center;color:#808080;">使用微信扫描上方二维码</p>
            <p style="text-align:right;margin-right:30px;padding-top:25px;"><a style="color:#1bace0;font-size:20px;display:none" href="http://www.lk361.com/help/detail/159" target="_blank">微信登录帮助</a></p>
            <p class="msg" id="msg2"></p>
        </div>
        <div class="regster_content" id="login3" style="display:none;">
            <div class="input_div">
                密码：@Html.Password("upwd", string.Empty, new { placeholder = "请输入U盾密码 " })
            </div>
            <div class="account_footer" style="padding-top:25px;">
                <input type="button" id="btn_login_u" class="btn" value="登录" />
                <p class="msg" id="msg3"></p>
            </div>
            <div class="input_div" style="border:none;height:35px;text-align:right;margin-top:10px;">
                <a href="http://www.lk361.com/product/getplugin" target="_blank" style="margin-right:15px;">下载</a>
            </div>
        </div>
    </div>
</div>

<div class="loginfor_bottom_links">
    <ul>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
        <li style="width:190px;"><a href="#"></a></li>
        <li style="width:170px;"><a href="#"></a></li>
        <li style="width:80px;"><a href="#"></a></li>
    </ul>
    <div class="clear"></div>
</div>

<iframe src="about:blank" id="ukvalidate_service_frame" name="ukvalidate_service_frame" style="display: none"></iframe>

<form id="ukvalidate_service_form" style="display: none" action="@actionuk" method="post" target="ukvalidate_service_frame">
    <input id="ukvalidate_service_form___postdata" type="hidden" name="d" />
</form>
<script>
    $(function () {
        $("#a_login_weixin").click(function () {
            $("#login").css("padding-top", "0px");
        })
        $("#a_login_u").click(function () {
            $("#login").css("padding-top", "0px");
        })
    })
</script>