@{
    Layout = null;
}
@using CC.Public
@model HashObject
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Auth</title>
    <script>
        function onbodyload() {
            document.getElementById("form").submit();
        }
    </script>
</head>
<body onload="onbodyload()">
    <form action="@(Model.GetString("handleurl"))" method="post" id="form">
        <input type="hidden" name="success" value="@(Model.GetString("success").ToLower())" />
        <input type="hidden" name="tok" value="@(Model.GetString("token"))" />
        <input type="hidden" name="s" value="@(Model.GetString("sign"))" />
        <input type="hidden" name="msg" value="@(Model.GetString("msg"))" />
        <input type="hidden" name="needvcode" value="@(Model.GetString("needvcode").ToLower())" />
        <input type="hidden" name="needaccounttype" value="@(Model.GetValue<bool>("needaccounttype",false).ToString().ToLower())" />
    </form>
</body>
</html>
