@{
    Layout = "~/Views/Shared/_LayoutOpenLogin.cshtml";
}
@using CC.Public
@using CC.ERP.Portal
@model HashObject
@{
    var passportdomain = Global.PassportDomain;
    var surpportpassportSSL = Global.SurpportpassportSSL;
    var action = "//" + passportdomain + "/account/OpenBind";
}
<style>
    .copeninfo {
        padding-top:10px;
        font-size:12px;
        padding-bottom:5px;
        width:100%;
        text-align:center;
        color:#808895;
    }
    .copeninfo #copenname {
        font-size:15px;
        font-weight:bold;
    
    }
</style>



<div class="register_div" id="login">
    <div class="copeninfo"><span id="copenname">Hi,@(Model.GetString("openname"))</span>, 欢迎使用@(Model.GetString("platformname").ToUpper())帐号登录来肯云商</div>
    <div class="account_header">
        <ul>
            <li style="text-align:left;" class="tab-item" data-target="#panel-reg">
                <a id="a_login" class="account_header_selectedA">创建新账号</a>
            </li>
            <li style="text-align:right;" class="tab-item" data-target="#panel-login">
                <a id="a_login_u">已有账号</a>
            </li>
        </ul>
    </div>
    <div class="regster_content" id="panel-reg" style="margin-top: 50px;">
        <form role="form" id="regform" method="post">
            <input type="hidden" name="openid" value="@(Model.GetString("openid"))" />
            <input type="hidden" name="openname" value="@(Model.GetString("openname"))" />
            <input type="hidden" name="accesstoken" value="@(Model.GetString("accesstoken"))" />
            <input type="hidden" name="expire" value="@(Model.GetString("expire"))" />
            <input type="hidden" name="refreshtoken" value="@(Model.GetString("refreshtoken"))" />
            <input type="hidden" name="logoimg" value="@(Model.GetString("logoimg"))" />
            <input type="hidden" name="platform" value="@(Model.GetString("platform"))" />
            <div class="input_div">
                <span class="selectBg">
                    <span class="selectHid">
                        @Html.DropDownList("industry")
                    </span>
                </span>
            </div>
            <div class="input_div">
                <span class="selectBg">
                    <span class="selectHid">
                        @Html.DropDownList("version")
                    </span>
                </span>
            </div>
            <div class="account_footer" style="padding-top:10px;">
                <input type="submit" value="立即登录" class="btn" id="btnReg" data-loading-text="登录..." />
                <p id="err_reg_msg" class="msg">@(Model.GetString("msg"))</p>
            </div>
        </form>
    </div>  
    <div class="regster_content" id="panel-login" style="display:none;">       
        <form role="form" action="@(action)" id="signform" method="get" target="lg_frm" autocomplete="off">
            <input type="hidden" name="openid" value="@(Model.GetString("openid"))" />
            <input type="hidden" name="openname" value="@(Model.GetString("openname"))" />
            <input type="hidden" name="accesstoken" value="@(Model.GetString("accesstoken"))" />
            <input type="hidden" name="expire" value="@(Model.GetString("expire"))" />
            <input type="hidden" name="refreshtoken" value="@(Model.GetString("refreshtoken"))" />
            <input type="hidden" name="logoimg" value="@(Model.GetString("logoimg"))" />
            <input type="hidden" name="platform" value="@(Model.GetString("platform"))" />
            <input type="hidden" name="handleurl" value="//@(Request.Url.DnsSafeHost)/sso/login" />
            <input type="hidden" id="hf_random" name="r" value="" />
            <div class="input_div">
                @Html.TextBox("username", string.Empty, new { placeholder = "手机号码/用户名", data_val_required = "手机号码/用户名不能为空", data_val = "true", msg_target="#msg_username" })
            </div>
            <p class="msg_detail" id="msg_username"></p>
            <div class="input_div">
                @Html.Password("pwd", string.Empty, new { placeholder = "登录密码 ", data_val_required = "请输入登录密码", data_val = "true", msg_target = "#msg_pwd" })
            </div>
            <p class="msg_detail" id="msg_pwd"></p>
            <div class="input_div" id="div_img_code" style="display:none;">
                @Html.TextBox("imgCode", string.Empty, new { placeholder = "图片验证码 ", data_val_required = "请输入图片验证码"})
                <a id="picCode_a" onclick='$("#picCode").attr("src","GetValidateCode?r="+Math.random())'>看不清换一张</a>
                <img src="@((surpportpassportSSL ? "https://" : "http://") + passportdomain + "/account/vcode")" onclick="javascript:document.getElementById('picCode').src='@((surpportpassportSSL ? "https://" : "http://") + passportdomain + "/account/vcode?")'+Math.random();return false;" title="看不清换一张" id="picCode" />
            </div>
            <div class="input_div" style="border:none;height:35px;">
                <a href="/account/resetpwd" style="float:right;color:#808080;margin-top:10px;border-bottom:1px solid #808080;font-size:15px;">忘记密码？点击找回</a>
            </div> 
            <div class="account_footer">
                <input type="submit" value="绑定账号" class="btn" id="btnlogin" data-loading-text="绑定中..." /> 
                <p class="msg" id="err_msg"></p>
            </div>
        </form>
    </div>
</div>
<iframe id="lg_frm" src="about:blank" style="display: none" name="lg_frm"></iframe>



<script>
    (function ($) {
        window.authCallback = function (data) {
            $("#err_msg_container").hide();
            if (data.needvcode) {
                $("#vcoderow").show();
                $("#login").css({ "height": "500px" });
                $("#imgvcode").attr("src", "@((surpportpassportSSL ? "https://" : "http://") + passportdomain)/account/vcode?r" + Math.random());
            } else {
                $("#vcoderow").hide();
            }
            if (data.success) {
                location.href = "/account/enterproduct";
            } else {
                $("#VerifyImage").attr("src", $("#VerifyImage").attr("src"));
                $("#vcode").val("");
                $("#err_msg").text(data.msg);
                $("#div_img_code").show();
                $("#err_msg_container").show();
                if (data['needaccounttype']) {
                    $("#accounttypecontainer").show();
                }
            }
        }
    })(jQuery);
</script>
<script>
    $(document).ready(function () {     

        function validateRequire() {
            var success = true;
            $("div.input_div>input[data-val=true]").each(function (i) {
                $($(this).attr("msg-target")).text("");
            });
            $("div.input_div>input[data-val=true]").each(function (i) {
                var item = $(this);
                var val = item.val();
                if (!val) {
                    $(item.attr("msg-target")).text(item.attr("data-val-required"));
                    success = false;
                    return false;
                } else {
                    $(item.attr("msg-target")).text("");
                }
            });
            return success;
        }

        $("#signform").submit(function () {
            $("#hf_random").val(Math.random());
        });

        /*检查行业*/
        function CheckIndustry() {
            var industry = $("#industry").val();
            var result = false;

            if (industry == "") {
                $("#err_reg_msg").text("请选择行业！");
            } else {
                $("#err_reg_msg").text("");
                result = true;
            }

            return result;
        }

        /*检查版本*/
        function CheckVersion() {
            var version = $("#version").val();
            var result = false;

            if (version.trim() == "" || version == $("#version").attr("placeholder")) {
                $("#err_reg_msg").text("请选择版本！");
            } else {
                $("#err_reg_msg").text("*行业和版本功能不同，一旦选定后不能更改，请谨慎选择");
                result = true;
            }

            return result;
        }

        $("#regform").submit(function () {
            if (!CheckIndustry()) {
                return false;
            }  else if (!CheckVersion()) {
                return false;
            }

        });
        $('#btnlogin').click(function () {
            var btn = $(this);
            var formValidate = validateRequire();
            if (!formValidate)
                return false;

        });
        $("li.tab-item").click(function () {
            $("li.tab-item>a").removeClass("account_header_selectedA");
            $(this).children("a:eq(0)").addClass("account_header_selectedA");
            $("div.regster_content").hide();
            $($(this).attr("data-target")).show();
        });

    });


</script>
