@using CC.InnerBLL.Enum
@using CC.InnerBLL;
@{
    Layout = "~/Views/Shared/_PassportLayout.cshtml";

    ViewBag.Title = "免费进销存|在线进销存|注册|来肯云商";
    ViewBag.Keywords = "在线进销存,进销存管理软件,进销存软件免费版,进销存,进销存软件,经销商管理,crm管理系统,免费进销存软件,进销存软件哪个好";
    ViewBag.description = "来肯云商是中国首家专业支持微信客户端使用的SAAS技术服务商!注册即可体验免费进销存。免费版试用热线400-800-7683/028-84519710。";

    var urlprefix = "http://" + Request.Url.DnsSafeHost;

    bool is_must_companyrealname, is_must_contact, show_register_cellphone_remind_text;
    bool.TryParse(Tools.LoadInnerCfg("is_must_companyrealname"), out is_must_companyrealname);
    bool.TryParse(Tools.LoadInnerCfg("is_must_contact"), out is_must_contact);
    bool.TryParse(Tools.LoadInnerCfg("show_register_cellphone_remind_text"), out show_register_cellphone_remind_text);

    string cdnFileRoot = CC.ERP.Portal.Global.CDNFileRoot;
    ViewData.Add("cdnFileRoot", cdnFileRoot);

    string domain = Model != null && Model["domain"] != null ? Model["domain"].ToString() : "";
}

<script src="@(cdnFileRoot)/Scripts/3.0/register.js?v=20170710"></script>
<script src="@(cdnFileRoot)/Scripts/3.0/account.js"></script>
<style>
    #contactName {
        width: 438px !important;
    }

    .label_b {
        display: inline-block;
        font-weight: normal !important;
    }

    .tel_remarks {
        width: 340px;
        letter-spacing: 1px;
        margin: -10px auto 10px;
        color: #e26a0e;
        font-size:12px;
        padding-left:0;
    }

        .tel_remarks:before {
            content: "";
            width: 7px;
            height: 7px;
            border-radius: 50%;
            background: #e26a0e;
            display:inline-block;
            margin-right:7px;
        }
        .imgcode_img{
            padding:0 !important;
        }
        #picCode{
            width: 98px;
            height: 30px;
            top: 7px !important;
            right: 0 !important;
        }
</style>
<div class="active_position active_position1">
    <div class="registerForm BgColorHeight">
        <form action="" method="post" id="registerForm" class="wrapper_tips2">
            <div class="register_wra wra_same" id="step1">
                <div class="text-center" style="margin-bottom:30px;">
                    <a href="@(urlprefix)/" target="_blank"><img src="@(cdnFileRoot)/Images/3.0/account/register_logo.png" /></a>
                </div>

                <div class="regster_content">
                    <div class="input_div" style="opacity:0;">
                        <input type="password" style="position:absolute;z-index:-999" />
                        @Html.TextBox("mm", string.Empty, new { autocomplete = "off", placeholder = "" })
                    </div>
                    <div class="input_div" style="margin-top: -50px;">
                        <input type="password" style="position:absolute;z-index:-999" />
                        @Html.TextBox("cellphone", string.Empty, new { autocomplete = "off", tabindex = "1", placeholder = "请输入手机号码" })
                    </div>
                    @if (show_register_cellphone_remind_text)
                    {
                        <div class="tel_remarks">我们将在一个工作日内与您回电，请保持电话畅通</div>
                    }

                    <div class="input_div">
                        <input type="password" style="position:absolute;z-index:-999" />
                        @Html.TextBox("imgCode", string.Empty, new { autocomplete = "off", tabindex = "2", placeholder = "请输入图片验证码 " })
                        <span class="imgcode_img"><img src="GetValidateCode" id="picCode" onclick="this.src = 'GetValidateCode?r=' + Math.random()" /></span>
                    </div>
                    <div class="input_div">
                        <input type="password" style="position:absolute;z-index:-999" />
                        @Html.TextBox("msgCode", string.Empty, new { autocomplete = "off", tabindex = "3", placeholder = "请输入收到的验证码 " })
                        <input id="btn_code" class="btn_code_normal" type="button" value="获取验证码" />
                    </div>
                    <div class="input_div">
                        <input type="password" style="position:absolute;z-index:-999" />
                        @Html.Password("password", string.Empty, new { autocomplete = "off", tabindex = "4", placeholder = "请输入登录密码 " })
                    </div>
                    <div class="input_div" style="display:none;">
                        @Html.Password("confirmpwd", string.Empty, new { autocomplete = "off", placeholder = "请确认密码 " })
                    </div>

                    <div class="text-left" id="register_codebtn" style="display:none;">
                        <a class="register_code" href="#">填写推广码(非必填)</a>
                        <i class="iconfont icon-tabdown" style="font-size:20px;color:#2981ba;"></i>
                    </div>
                    <div class="input_div" id="register_codeinput" style="display:none;">
                        @Html.TextBox("promoteCode", Request["promoteCode"], new { autocomplete = "off", placeholder = "请输入推广码,非必填" })
                    </div>

                    <div class="account_footer text-center">
                        <input type="button" id="btn_reg" tabindex="5" class="btn" value="注 册" />
                        <p class="msg" id="msg1"></p>
                    </div>
                    <div class="bot_text" style="display:none;">
                        @*@Html.CheckBox("agree", true)*@<span>注册即同意<a href="#" data-toggle="modal" data-target="#myModal">来肯云商服务协议</a></span>
                        已有账号请直接
                        <a href="/account/logon?agentid=@(Request["agentid"])&salerid=@(Request["salerid"])&sourceflag=@(Request["sourceflag"])&promoteCode=@(Request["promoteCode"])">登录</a>
                    </div>
                </div>
                <div class="bot_tel">如遇注册问题，请拨打@(CC.ERP.Portal.Controllers.Public.agent_cellphone)</div>
            </div>

            <div class="register_wra2 wra_same" id="step2" style="display: none;">
                <div class="regster_content">
                    <div class="account_header">
                        <p class="header_text"><span></span>填写完成，系统即可为你生成解决方案<span></span></p>
                    </div>
                    <div class="input_div companyName" style="margin-bottom:20px;">
                        @if (is_must_companyrealname)
                        {
                            <span class="company_span">*</span>
                        }
                        @Html.TextBox("companyname", string.Empty, new { autocomplete = "off", placeholder = "请输入您的公司名称 " })
                    </div>
                    <div class="input_div contactName ">
                        @if (is_must_contact)
                        {
                            <span class="contact_span">*</span>
                        }
                        @Html.TextBox("contactName", string.Empty, new { autocomplete = "off", placeholder = "请输入联系人姓名 " })
                    </div>
                    <div class="input_div input_div1">
                        <select id="industry" name="industry">
                            <option value="">所属行业</option>
                            <option value="40">通用行业</option>
                            <option value="30">食品快消品</option>
                            <option value="20">服装鞋帽</option>
                            <option value="41">五金建材</option>
                            <option value="10">手机通讯</option>
                            <option value="42">机械机电</option>
                            <option value="43">汽配汽修</option>
                            <option value="11">家电数码</option>
                            <option value="31">医药制品</option>
                            <option value="32">化妆用品</option>
                            <option value="33">生鲜农贸</option>
                            <option value="21">母婴用品</option>
                            <option value="12">珠宝钟表</option>
                        </select>
                    </div>
                    <div class="input_div input_div1">
                        <select id="business" name="business">
                            <option value="">业务性质</option>
                            <option value="1">零售</option>
                            <option value="2">批发</option>
                            <option value="3">批零兼做</option>
                            <option value="4">生产</option>
                        </select>
                    </div>
                    <div class="input_div input_div1">
                        <select id="staff_size" name="staff_size">
                            <option value="">员工数量</option>
                            <option value="1">1~5名</option>
                            <option value="2">6~10名</option>
                            <option value="3">11~50名</option>
                            <option value="4">51~100名</option>
                            <option value="5">101~500名</option>
                            <option value="6">>500名</option>
                        </select>
                    </div>
                    <div class="account_footer" style="text-align:center;">
                        <input type="button" id="btn_sure" class="btn" value="确 定" />
                    </div>
                </div>
                <div class="bot_tel">如遇注册问题，请拨打@(CC.ERP.Portal.Controllers.Public.agent_cellphone)</div>
            </div>

            <div id="step3" class="register_wra2 wra_same" style="display:none;">
                <div class="regster_content">
                    <div class="account_header">
                        <p class="header_text">最后一步</p>
                        <p class="header_text mt_10"><span style="margin-right:10px;"></span>请选择您需要管理的业务（多选项）<span style="margin-left:10px;"></span></p>
                    </div>

                    <div class="input_div  checkbox_wra">
                        <div class="register_basic"><span class="basicDeshad"></span>基本业务<span class="basicDeshad"></span></div>
                        <ul class="register_ul ml_4">
                            <li class="checkbox_width1">
                                <input class="iconfont" id="kc" type="checkbox" name="manage_busniness" value="@(ShowEnumName.GetEnumName<ManageBusiness>((int)ManageBusiness.KCGL))" /><label class="label_b" for="kc">库存</label>
                            </li>
                            <li>
                                <input class="iconfont" id="xs" type="checkbox" name="manage_busniness" value="@(ShowEnumName.GetEnumName<ManageBusiness>((int)ManageBusiness.XSGL))" /><label class="label_b" for="xs">销售</label>
                            </li>
                            <li>
                                <input class="iconfont" id="cg" type="checkbox" name="manage_busniness" value="@(ShowEnumName.GetEnumName<ManageBusiness>((int)ManageBusiness.CGGL))" /><label class="label_b" for="cg">采购</label>
                            </li>
                            <li class="checkbox_width1">
                                <input class="iconfont" id="cw" type="checkbox" name="manage_busniness" value="@(ShowEnumName.GetEnumName<ManageBusiness>((int)ManageBusiness.CWGL))" /><label class="label_b" for="cw">财务</label>
                            </li>
                            <li>
                                <input class="iconfont" id="hy" type="checkbox" name="manage_busniness" value="@(ShowEnumName.GetEnumName<ManageBusiness>((int)ManageBusiness.HYGL))" /><label class="label_b" for="hy">会员</label>
                            </li>
                            <li class="checkbox_width2">
                                <input class="iconfont" id="wl" type="checkbox" name="manage_busniness" value="@(ShowEnumName.GetEnumName<ManageBusiness>((int)ManageBusiness.WLDZ))" /><label class="label_b" for="wl">往来账</label>
                            </li>
                        </ul>
                        <div class="register_basic"><span class="basicDeshad"></span>移动管理<span class="basicDeshad"></span></div>
                        <ul class="register_ul ul2">
                            <li class="checkbox_width1">
                                <input class="iconfont" id="qlc" type="checkbox" name="manage_busniness" value="@(ShowEnumName.GetEnumName<ManageBusiness>((int)ManageBusiness.YDBG))" /><label class="label_b" for="qlc">全流程移动支持</label>
                            </li>
                            <li>
                                <input class="iconfont" id="wq" type="checkbox" name="manage_busniness" value="@(ShowEnumName.GetEnumName<ManageBusiness>((int)ManageBusiness.XSWQ))" /><label class="label_b" for="wq">外勤人员监管</label>
                            </li>
                        </ul>
                        <div class="register_basic"><span class="basicDeshad"></span>异地多点协同管理<span class="basicDeshad"></span></div>
                        <ul class="register_ul">
                            <li class="checkbox_width2">
                                <input class="iconfont" id="dck" type="checkbox" name="manage_busniness" value="@(ShowEnumName.GetEnumName<ManageBusiness>((int)ManageBusiness.DMD))" /><label class="label_b" for="dck">多门店、多仓库、异地多点协同管理</label>
                            </li>
                        </ul>
                        <div class="register_basic"><span class="basicDeshad"></span>线上线下一体化[O2O]<span class="basicDeshad"></span></div>
                        <ul class="register_ul">

                            <li>
                                <input class="iconfont" id="ls" type="checkbox" name="manage_busniness" value="@(ShowEnumName.GetEnumName<ManageBusiness>((int)ManageBusiness.LSSC))" /><label class="label_b" for="ls">零售商城</label>
                            </li>
                            <li>
                                <input class="iconfont" id="pf" type="checkbox" name="manage_busniness" value="@(ShowEnumName.GetEnumName<ManageBusiness>((int)ManageBusiness.PFSC))" /><label class="label_b" for="pf">订货商城[经销商订货]</label>
                            </li>
                        </ul>
                        <div class="register_basic"><span class="basicDeshad"></span>经销商&加盟商管理<span class="basicDeshad"></span></div>
                        <ul class="register_ul">
                            <li>
                                <input class="iconfont" id="xj" type="checkbox" name="manage_busniness" value="@(ShowEnumName.GetEnumName<ManageBusiness>((int)ManageBusiness.JXSKCGL))" /><label class="label_b" for="xj">下级库存统计</label>
                            </li>
                            <li>
                                <input class="iconfont" id="zd" type="checkbox" name="manage_busniness" value="@(ShowEnumName.GetEnumName<ManageBusiness>((int)ManageBusiness.JXSXSGL))" /><label class="label_b" for="zd">终端销量查询</label>
                            </li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                    <div class="account_footer" style="text-align:center;">
                        <input type="button" id="btn_done" class="btn" value="完 成 注 册" />
                    </div>
                </div>
                <div class="bot_tel">如遇注册问题，请拨打@(CC.ERP.Portal.Controllers.Public.agent_cellphone)</div>
            </div>
            @Html.Hidden("parentid", Request.QueryString["parentid"])
            @Html.Hidden("is_must_companyrealname", is_must_companyrealname)
            @Html.Hidden("is_must_contact", is_must_contact)
            @Html.Hidden("show_register_cellphone_remind_text", show_register_cellphone_remind_text)
            @Html.Hidden("domain", domain)
        </form>
    </div>

</div>


<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">服务条款</h4>
            </div>
            <div class="modal-body" style="height:400px;overflow-y:auto;">
                <pre>
来肯云商（WWW.LK361.COM）服务协议（以下简称本协议）由成都来肯信息技术有限公司（以下简称本公司）和您签订。
    1. 声明及承诺 
        1)您以任何方式进入来肯云商（WWW.LK361.COM）使用本公司所提供的服务，即表示您已充分阅读、理解并接受本协议的全部内容，一旦您使用本服务，即表示您同意遵循本协议之所有约定。
        2)本公司可随时自行全权决定更改“条款”。如“条款”有任何变更，本公司将在其网站上刊载公告，无需另行单独通知您。公告后，一旦您继续使用“服务”，则表示您已接受经修订的“条款”，如您不同意相关变更，必须停止使用“服务”。
        3)您保证，在您同意接受本协议并注册成为来肯云商用户时，您已经年满16周岁；如您代表一家公司或其他组织机构，则您声明和保证，您有权使该公司或其他组织机构受本协议“条款”约束。
    2. 收费
        本公司保留在根据第1条通知您后，收取“服务”费用或者是改变服务费用的权利。本公司保留在无须发出书面通知，仅在来肯云商网站公示的情况下，暂时或永久地更改或停止部分或全部“服务”的权利。
    3.使用权限
        禁止出售、转售或复制、开发使用权限，禁止基于商业目的模仿本公司的产品和服务。禁止复制和模仿本公司的设计理念、界面、功能和图表。禁止未经本公司许可基于此项服务或其内容进行修改或制造派生其他产品。
    4.责任
        您要对您账号下所发生的任何行为负责并遵守地方、国家及国外所有与适用本服务有关的适用法律、法规。
    5.知识产权
        本公司完全拥有来肯系统的全部知识产权，来肯云商的名字、标志、LOGO、商标，文档，未经授权不能使用。
    6.第三方产品说明
        本公司只基于本协议各项条款向您提供服务，任何第三方产品在您使用服务过程中向您发出的各种活动、广告等均与本公司无关。本公司对第三方的产品没有任何责任和义务提供任何服务。
    7. 注册、保密
        1）您在注册成为来肯云商会员时，您提供关于您或贵公司的资料是真实、完整的。倘若您提供任何不真实、不完整或过时的资料，或来肯云商有合理理由怀疑该等资料不真实、不完整、来肯云商有权暂停或终止您的会员身份，并暂停或终止对您的服务。
        2）您有义务维持并及时更新会员资料，使其保持真实、完整和反映当前的情况。
        3）在登记过程中，您将选择会员注册名和密码。您须自行负责对您的会员注册名和密码保密，且须对您在会员注册名和密码下发生的所有活动承担责任。
        4）您同意：如发现任何人未经授权使用您的会员注册名或密码，您会立即通知来肯云商；
        5）您确保，在退出来肯线时，以正确步骤离开网站。来肯云商不能也不会对因您未能遵守本款规定而发生的任何损失或损毁负责。
    8.关于您的资料
        您同意，“您的资料”和您供在来肯云商网站上交易的任何“物品”。
        1）不发布具有欺诈或者是任何会违反任何法律、法规、条例或规章的资料，物品。
        2）不会含有蓄意毁坏、恶意干扰、秘密地截取或侵占任何系统、数据或个人资料的任何病毒、伪装破坏程序、电脑蠕虫、定时程序炸弹或其他电脑程序。
        3）本公司对您所交易的标的物不提供任何形式的鉴定、证明的服务。本公司不会且不能牵涉进交易各方的交易当中。倘若您与第三方因使用本公司的服务而发生争议，本公司（包括本公司代理人和雇员)对此不承担任何责任。
    9. 服务终止
        1）您同意，在本公司未向您收费的情况下，本公司可自行全权决定以任何理由终止服务。或您在超过90天的时间内，未以您的账号及密码登录网站，本公司有权终止对您的“服务”。
        2）您同意，在本公司向您收费的情况下，服务到期后，服务自动终止。
        3）您同意，无论本公司是否向您收费，只要您有违反本协议条款的行为，或者是本公司基于合理的理由怀疑您违反本协议的行为。本公司可自行全权决定，在发出通知或不发出通知的情况下，随时停止提供“服务”或其任何部份。
        4）您同意，服务终止后，本公司没有义务为您原账号中或与之相关的任何信息提供保留或者是导出服务。
        5）您同意，本公司不会就终止对您的“服务”而对您或任何第三者承担任何责任。
    10.  责任免除
        本公司对下列事项不作任何陈述与保证：
            1）“服务”与任何其它硬件、软件、系统或数据结合时的，安全性、及时性、不受干扰或不发生错误；
            2）“服务”符合您的要求或经验进行修改；
            3）缺陷将会被更正；
            4）Internet延迟。本公司提供的“服务”可能因Internet和电子通信固有的缺陷而产生限制、延迟和其它问题，本公司对此不承担责任。
            5）不可抗力。包括但不限于自然灾害、罢工或骚乱、物质短缺或定量配给、暴动、战争行为、政府行为、通讯或其他设施故障或严重伤亡事故等，致使本公司延迟或未能履约的，本公司不对您承担任何责任。
            6）适用法律允许的最大范围内，本公司在任何情况下不就因使用或不能使用服务所发生的特殊的、意外的、直接或间接的损失承担赔偿责任。（包括但不限于因人身伤害或财产损坏而造成的损害，因利润损失、数据损失、营业中断、计算机瘫痪或故障、商业信息的遗失而造成的损害，因未能履行包括诚信或相当注意在内的任何责任致使隐私泄露而造成的损害，因疏忽而造成的损害，或因任何金钱上的损失或任何其它损失而造成的损害）承担赔偿责任，即使我公司及其代理商事先被告知该损害发生的可能性。即使补救措施未能达到预定目的，本损害赔偿排除条款将仍然有效。
    11. 转让
        本公司转让本协议无需经您同意。
    12. 诉讼
        因本协议或本公司服务所引起或与其有关的任何争议应向成都市武侯区人民法院提起诉讼，并以中华人民共和国法律为管辖法律。                    
    13. 服务付费、续费、服务变更
        1）您第一次付费，及后续续费，均需以12个月的倍数作为续费周期。服务的价格，参见本公司的官方网站（www.LK361.com）。
        2)在服务期内，您可以增加授权账号，但是不能减少授权账号。如需添加授权账号，添加的授权账号截至日期与已有的账号组的授权使用截至日期保持一致。具体换算，请查看本公司官方网站。在重新签订新的服务期的时候，可以根据需要增减授权账号。
        3）在服务期内，您可以选择改变服务版本升级，但是只能依照“基础版——>标准版——>旗舰版”这样个顺序进行正向升级，不能进行逆向降级。如需升级，升级前的服务截止日期与升级后的服务截止日期保持一致。具体换算，请查看本公司官方网站。在重新签订新的服务期的时候，可以根据需要选择服务版本的升降。
        4）延期续费
          服务到期后，如果未续费，则视为服务终止。本公司没有义务替您保留账号及与之相关的数据，如果您超过60日没有支付相关费用，这些数据有可能被永久删除，本公司对此不承担任何责任。如果您延期续费，则需补全拖欠费用期间的与之相对应的服务费用。
            </pre>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<!-- /.modal -->