@{
    ViewBag.Title = "微信支付";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string cdnFileRoot = CC.ERP.Portal.Global.CDNFileRoot;
    ViewData.Add("cdnFileRoot", cdnFileRoot);
}
<div id="help">
    <div class="banner" style="height:70px;"></div>
    <div class="panel">
        <div class="container" style="height:auto;margin:40px auto !important;">
            <div style="width:660px;margin:30px auto;">
                <img src="@(cdnFileRoot)/Images/weixin.png" />
                <hr style="padding-top: 0px; margin-top: 0px; border-top: 2px solid red;" />
                <div style="width:200px;display:inline-block;margin-left:180px;text-align:center;">
                    <p style="color:#858585;font-size:12px;letter-spacing:1px;font-weight:600;margin-top:40px;">扫一扫付款（元）</p>
                    <p style="color:#FF6800;font-weight:600;font-size:24px;">@Model["totalmoney"]</p>
                    <div style="width:200px;height:250px;box-shadow:3px 3px #D3D3D3;border:1px solid #F9F9F9;">
                        <img src="/order/GetQrCode?orderid=@Model["orderid"]" style="width:178px;height:178px;margin-top:10px;" />
                        <input type="hidden" id="orderid" value="@Model["orderid"]" />
                        <div>
                            <img style="display:inline-block;margin-left:10px;margin-top:-20px;" src="@(cdnFileRoot)/Images/weixin-1.jpg" />
                            <div style="display:inline-block;width:115px;padding-top:10px;color:#6C6C6C;">
                                <p>打开手机微信端<br />扫一扫即可付款<span id="tims"></span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <img style="display:block;margin-left:15px;float:right;margin-right:120px;margin-top:30px;" src="@(cdnFileRoot)/Images/weixin-2.png" />
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        var timeout = false, t = 0;

        function tick() {
            if (!timeout) {
                getPayResult();
                setTimeout(tick, 5000);
            }
        }

        tick();

        function getPayResult() {
            $.ajax({
                url: "/order/GetWeiXinPayResult",
                data: { orderid: $("#orderid").val() },
                dataType: "json",
                type: "post",
                success: function (result) {
                    if (result.success) {
                        location.href = "/order/WeiXinPaySuccess";
                        timeout = true;
                    }
                }, error: function (result) {

                }
            });
        }
    });
</script>