@{
    Layout = "~/Views/Shared/_MLayout.cshtml";

    if (!CC.ERP.Portal.Global.ShowActive)
    {
        Response.Redirect("/mobile/index");
    }

    string cdnFileRoot = CC.ERP.Portal.Global.CDNFileRoot;
    ViewData.Add("cdnFileRoot", cdnFileRoot);
}

<div style="background-color:#EDF7FF">
    <div class="m-active-banner">
        <img class="newyear-top" src="@(cdnFileRoot)/mobile/image/4.0/for_active/newyear-top.png" usemap="#m-active" alt="元旦活动详情" />
        <map name="m-active" id="m-active">
            <area shape="rect" coords="44, 407, 365, 501" href="javascript:;" alt="8折抢购，再送两月" title="">
            <area shape="rect" coords="387, 407, 705, 501" href="javascript:;" alt="8元立购，立省两成" title="">
        </map>
        <img class="newyear-cock" src="@(cdnFileRoot)/mobile/image/4.0/for_active/cock.jpg" alt="元旦活动详情" />
        <img class="newyear-gift" src="@(cdnFileRoot)/mobile/image/4.0/for_active/newyear-detail-gift.png" alt="元旦活动详情" />
    </div>
    <div class="active1">
        <div class="consultation">
            <a class="resBtn" href="/mobile/Register"><img src="@(cdnFileRoot)/mobile/image/4.0/for_active/newyear-gift.png" />注 册 咨 询</a>
            <div class="bg-font">
                <div class="font1">
                    <div class="title1">活动说明：</div>
                    <p>
                        2017年1月11日-2017年1月20日之间付全款用户，可享受8折优惠及2个月免费使用时间赠送；该活动只针对来肯云商进销存产品体系，购买增值服务和硬件产品不能参与到活动中；新老用户均可参与。
                    </p>
                </div>
            </div>
            <img class="active1-float" src="@(cdnFileRoot)/mobile/image/4.0/for_active/float.png" alt="" />
        </div>
    </div>

    <div class="active2">
        <a class="resBtn" href="/mobile/Register"><img src="@(cdnFileRoot)/mobile/image/4.0/for_active/newyear-gift.png" />注 册 咨 询</a>
        <div class="bg-font2">
            <div class="font2">
                <div class="title2">活动说明：</div>
                <ul>
                    <li><img src="@(cdnFileRoot)/mobile/image/4.0/for_active/dot.png" />2017年2月3日前预购用户可享受8折购买优惠；</li>
                    <li><img src="@(cdnFileRoot)/mobile/image/4.0/for_active/dot.png" />预购付款后至2017年2月15日，均可免费使用软件；</li>
                    <li><img src="@(cdnFileRoot)/mobile/image/4.0/for_active/dot.png" />2017年2月15日前正式购买有效，过期不享受活动折扣；</li>
                    <li><img src="@(cdnFileRoot)/mobile/image/4.0/for_active/dot.png" />8元预购费用购买的是为您保留折扣的权利，不做退还，也不抵扣产</li>
                </ul>
            </div>
        </div>
        <img class="active2-float" src="@(cdnFileRoot)/mobile/image/4.0/for_active/float2.png" alt="" />
    </div>
    <div class="active-bottom" style="margin-bottom:40px;">
        <div style="margin-bottom:6px;">注：同一账户，两个活动不能同时参加。</div>
        <div>本活动最终解释权归成都来肯信息技术有限公司</div>
    </div>
</div>

<script type="text/javascript">
    var areaPosition = function () {
        var imgWidth = $('.newyear-top').width();
        console.log(imgWidth);
        var percent = imgWidth / 750;
        var area = $('#m-active area');
        var arr = [[44, 407, 365, 501], [387, 407, 705, 501]];

        for (var i = 0, len = arr.length ; i < len; i++) {
            area.eq(i).attr("coords", arr[i].map(function (item) {
                return item * percent;
            }).join(","));
        }
    }
    areaPosition();
    $(window).resize(function () {
        areaPosition();
    });
</script>