@{
    ViewBag.Title = "来肯云商合作用户登录";
    ViewBag.BannerTitle = "用户登录";
    Layout = "~/Views/Shared/_MAccountLayout.cshtml";

    string cdnFileRoot = CC.ERP.Portal.Global.CDNFileRoot;
    ViewData.Add("cdnFileRoot", cdnFileRoot);
}
<script src="@(cdnFileRoot)/mobile/mobile.js?v=0509"></script>
<div class="agentValidate">
    @*<div class="content_tap">
        <ul>
            <li>账号登录</li>
            <li>手机登录</li>
        </ul>
        <div class="clear"></div>
    </div>*@
    <div>
        <div id="login0" class="agentValidate_content">
            <form id="registerform" method="post">
                <section id="step1">
                    <div class="registerTitle">
                        <a href="/mobile/index"><img src="@(cdnFileRoot)/mobile/image/3.0/product4.0/topbarIcon.png" /></a>
                        代理商登录
                    </div>
                    <div class="input_div" style="margin:10px auto;">
                        @Html.TextBox("agent", string.Empty, new { autocomplete = "off", placeholder = "请输入代理商登录名" })
                    </div>
                    <div class="input_div">
                        @Html.TextBox("username", string.Empty, new { autocomplete = "off", placeholder = "请输入用户名" })
                    </div>
                    <div class="input_div">
                        @Html.Password("agentpwd", string.Empty, new { autocomplete = "off", placeholder = "请输入登录密码" })
                    </div>
                    <div class="input_div">
                        @Html.TextBox("imgCode", string.Empty, new { autocomplete = "off", placeholder = "请输入图片验证码" })
                        <span class="picCode">
                            <img src="/account/GetValidateCode" id="picCode" onclick="this.src = '/account/GetValidateCode?r=' + Math.random()" />
                        </span>
                    </div>
                    <div class="button_div">
                        <input type="button" class="btn" id="btn_login" value="立即绑定" />
                        <p style="text-align:center;margin:0;padding:0;">
                            <a href="/mobile/agentapply?openid=@(Request["openid"])&weixin=@(Request["weixin"])&userid=@(Request["userid"])">申请成为代理</a>
                            <a href="/mobile/promoterapply?openid=@(Request["openid"])&weixin=@(Request["weixin"])&userid=@(Request["userid"])" style="margin-left:10px;">申请为推广员</a>
                        </p>
                    </div>
                </section>
                @Html.Hidden("openid", Request["openid"])
                @Html.Hidden("weixin", Request["weixin"])
                @Html.Hidden("userid", Request["userid"])
            </form>
        </div>
        @*<div id="login1" class="agentValidate_content" style="display:none;">
            <form method="post">
                <section>
                    <div class="input_div" style="margin:0 auto;">
                        @Html.TextBox("agent", string.Empty, new { autocomplete = "off", placeholder = "请输入手机号码" })
                    </div>
                    <div class="input_div">
                        @Html.Password("agentpwd", string.Empty, new { autocomplete = "off", placeholder = "请输入登录密码" })
                    </div>
                    <div class="input_div">
                        @Html.TextBox("imgCode", string.Empty, new { autocomplete = "off", placeholder = "请输入图片验证码" })
                        <span class="picCode">
                            <img src="/account/GetValidateCode" id="picCode" onclick="this.src = '/account/GetValidateCode?r=' + Math.random()" />
                        </span>
                    </div>
                    <div class="button_div">
                        <input type="button" class="btn" id="btn_login" value="立即绑定" />                       
                    </div>
                </section>
            </form>
        </div>*@
    </div>
   
</div>
<script>
    //$(function () {
    //    $(".agentValidate .content_tap li").click(function () {
    //        $(this).addClass("active").siblings().removeClass("active");
    //        $("#login" + $(this).index()).show().siblings().hide();
    //    })
    //})
</script>

