@{
    ViewBag.Title = "功能详情";
    Layout = "~/Views/Shared/_MLayout.cshtml";

    string cdnFileRoot = CC.ERP.Portal.Global.CDNFileRoot;
    ViewData.Add("cdnFileRoot", cdnFileRoot);
}


<div id="characteristics" class="flexboxpage">
    <section class="topbanner bg-cover centerbox text-center" style="background-image:url(@(cdnFileRoot)/mobile/image/4.0/characteristics/bg.jpg)">
        <div class="centerinner">
            <h3>来肯云商<br />云端ERP管理专家</h3>
            <div class="subtitle">对经营从未如此胸有成竹</div>
            <ul>
                <li><a class="item" href="#charstock" style="color:#4bcfa9;"><span class="iconfont icon-kucun"></span><span class="text">库存</span></a></li>
                <li><a class="item" href="#charbuy" style="color:#758cfc;"><span class="iconfont icon-cart"></span><span class="text">采购</span></a></li>
                <li><a class="item" href="#charsale" style="color:#2494ff;"><span class="iconfont icon-xioashou1"></span><span class="text">销售</span></a></li>
                <li><a class="item" href="#charcustomer" style="color:#4cd2ab;"><span class="iconfont icon-huiyuan1"></span><span class="text">会员/客户</span></a></li>
                <li><a class="item" href="#charmobile" style="color:#758cfc;"><span class="iconfont icon-shouji1"></span><span class="text">移动</span></a></li>
                <li><a class="item" href="#charfinance" style="color:#2493fd;"><span class="iconfont icon-caiwu1"></span><span class="text">财务</span></a></li>
                <li><a class="item" href="#charreport" style="color:#4cd2ab;"><span class="iconfont icon-baobiao1"></span><span class="text">报表</span></a></li>
                <li><a class="item" href="#charmall" style="color:#758cfc;"><span class="iconfont icon-shangcheng1"></span><span class="text">商城</span></a></li>
            </ul>
        </div>
    </section>
    <section id="charstock" class="section text-center">
        <h3>库存管理</h3>
        <ul class="charlista">
            <li><img src="@(cdnFileRoot)/mobile/image/4.0/characteristics/icon.a.a.png" /><span>库存查询</span></li>
            <li><img src="@(cdnFileRoot)/mobile/image/4.0/characteristics/icon.a.b.png" /><span>仓库调拨</span></li>
            <li><img src="@(cdnFileRoot)/mobile/image/4.0/characteristics/icon.a.c.png" /><span>收发货/验货</span></li>
            <li><img src="@(cdnFileRoot)/mobile/image/4.0/characteristics/icon.a.d.png" /><span>生产统计</span></li>
        </ul>
        <img class="contentimage contentimagea" src="@(cdnFileRoot)/mobile/image/4.0/characteristics/a.jpg" />
    </section>
    <section id="charbuy" class="section sectionbuy text-center">
        <h3>采购管理</h3>
        <ul class="charlistb">
            <li><img src="@(cdnFileRoot)/mobile/image/4.0/characteristics/icon.b.a.png" /><span>采购订单</span></li>
            <li><img src="@(cdnFileRoot)/mobile/image/4.0/characteristics/icon.b.b.png" /><span>以销订购</span></li>
            <li><img src="@(cdnFileRoot)/mobile/image/4.0/characteristics/icon.b.c.png" /><span>采购业务记账</span></li>
        </ul>
        <img class="contentimage" src="@(cdnFileRoot)/mobile/image/4.0/characteristics/b.jpg" />
    </section>
    <section id="charsale" class="section sectionsale bg-cover text-center" style="background-image:url(@(cdnFileRoot)/mobile/image/4.0/characteristics/bbg.jpg)">
        <h3>销售管理</h3>
        <ul class="charlistc">
            <li><img src="@(cdnFileRoot)/mobile/image/4.0/characteristics/icon.c.a.png" /><span>销售订单</span></li>
            <li><img src="@(cdnFileRoot)/mobile/image/4.0/characteristics/icon.c.b.png" /><span>销售业务管理</span></li>
            <li><img src="@(cdnFileRoot)/mobile/image/4.0/characteristics/icon.c.c.png" /><span>销售价格体系查询</span></li>
        </ul>
    </section>
    <section id="charcustomer" class="section sectionmember text-center">
        <h3>会员/客户管理</h3>
        <ul class="charlistd">
            <li><div class="iconfont icon-genzhong"></div><span>会员/客户跟踪</span></li>
            <li><div class="iconfont icon-OAbangong"></div><span>办公OA</span></li>
        </ul>
        <img class="contentimage contentimageb" src="@(cdnFileRoot)/mobile/image/4.0/characteristics/c.jpg" />
    </section>
    <section id="charmobile" class="section sectionmobile text-center" style="background-image:url(@(cdnFileRoot)/mobile/image/4.0/characteristics/cbg.jpg)">
        <h3>销售管理</h3>
        <div class="sectionmobilecontent flexboxh">
            <div class="flexequal">
                <img class="contentimage" src="@(cdnFileRoot)/mobile/image/4.0/characteristics/d.png" />
            </div>
            <div class="flexequal">
                <ul class="charliste">
                    <li><div class="imgbox centerbox"><img class="img1" src="@(cdnFileRoot)/mobile/image/4.0/characteristics/icon.d.a.png" /></div><span>移动进销存</span></li>
                    <li><div class="imgbox centerbox"><img class="img2" src="@(cdnFileRoot)/mobile/image/4.0/characteristics/icon.d.b.png" /></div><span>移动销售</span></li>
                </ul>
            </div>
        </div>
    </section>
    <section id="charfinance" class="section sectionfinance text-center">
        <h3>财务管理</h3>
        <ul class="charlistf">
            <li><div class="imgbox centerbox"><img class="img1" src="@(cdnFileRoot)/mobile/image/4.0/characteristics/icon.e.a.png" /></div><span>费用管理</span></li>
            <li><div class="imgbox centerbox"><img class="img2" src="@(cdnFileRoot)/mobile/image/4.0/characteristics/icon.e.b.png" /></div><span>往来账</span></li>
            <li><div class="imgbox centerbox"><img class="img3" src="@(cdnFileRoot)/mobile/image/4.0/characteristics/icon.e.c.png" /></div><span>会计报表</span></li>
        </ul>
        <img class="contentimage contentimagec" src="@(cdnFileRoot)/mobile/image/4.0/characteristics/d.jpg" />
    </section>
    <section id="charreport" class="section sectionreport text-center">
        <div class="titlebar">
            <div class="subtitle">想要随时了解企业经营情况？</div>
            <h3><span>报表中心</span><span class="iconfont icon-baobiao2"></span></h3>
        </div>
        <div class="reportcontent bg-cover" style="background-image:url(@(cdnFileRoot)/mobile/image/4.0/characteristics/dbg.jpg)">
            <ul class="charlistg">
                <li class="col-xs-4"><span>库存报表</span></li>
                <li class="col-xs-4"><span>销售报表</span></li>
                <li class="col-xs-4"><span>采购报表</span></li>
                <li class="col-xs-6"><span>来往报表</span></li>
                <li class="col-xs-6"><span>财务报表</span></li>
            </ul>
        </div>
    </section>
    <section id="charmall" class="section sectionmall text-center">
        <h3>商城管理</h3>
        <div class="subtitle">想突破地域销售限制？门店无法24小时营业？</div>
        <ul class="charlisth flexboxh">
            <li class="flexequal"><img src="@(cdnFileRoot)/mobile/image/4.0/characteristics/icon.f.a.png" /><span>库存同步</span></li>
            <li class="flexequal"><img src="@(cdnFileRoot)/mobile/image/4.0/characteristics/icon.f.b.png" /><span>订单同步</span></li>
            <li class="flexequal"><img src="@(cdnFileRoot)/mobile/image/4.0/characteristics/icon.f.c.png" /><span>会员管理</span></li>
        </ul>
        <img class="contentimage contentimagec" src="@(cdnFileRoot)/mobile/image/4.0/characteristics/e.jpg" />
    </section>
    <section id="charindustryconfig" class="section text-center sectionlast">
        <div class="flexinner centerbox">
            <h3 class="centerinner">特定行业<br />可配置功能</h3>
        </div>
        <ul class="charlisti">
            <li>
                <div class="iconfont icon-chara"></div>
                <span>食品药品</span>
            </li>
            <li>
                <div class="iconfont icon-charb"></div>
                <span>服装鞋帽</span>
            </li>
            <li>
                <div class="iconfont icon-charc"></div>
                <span>手机通讯</span>
            </li>
            <li>
                <div class="iconfont icon-charf"></div>
                <span>机械机电</span>
            </li>
            <li style="visibility:hidden">
            </li>
            <li>
                <div class="iconfont icon-charh"></div>
                <span>母婴用品</span>
            </li>
            <li>
                <div class="iconfont icon-chard"></div>
                <span>汽配汽修</span>
            </li>
            <li style="visibility:hidden">
            </li>
            <li>
                <div class="iconfont icon-chari"></div>
                <span>生鲜农贸</span>
            </li>
            <li>
                <div class="iconfont icon-charg"></div>
                <span>化妆用品</span>
            </li>
            <li>
                <div class="iconfont icon-chare"></div>
                <span>数码家电</span>
            </li>
            <li>
                <div class="iconfont icon-charj"></div>
                <span>其他行业</span>
            </li>
        </ul>
    </section>
</div>
<script>
    $(window).on("hashchange load", function (e) {
        location.hash&&$(window).scrollTop($(location.hash).offset().top - 63)
    })
</script>