
@{
    Layout = "~/Views/Shared/_MAccountLayout.cshtml";
    <title>来肯云商|来肯在线|进销存软件|进销存管理软件|在线进销存</title>

    string cdnFileRoot = CC.ERP.Portal.Global.CDNFileRoot;
    ViewData.Add("cdnFileRoot", cdnFileRoot);
}
<script src="@(cdnFileRoot)/mobile/ka.js?v=1129"></script> 
<div class="CustomizedApply">
    <div id="step1" class="step-page">
        <div class="registerTitle">
            <a href="/mobile/index"><img src="@(cdnFileRoot)/mobile/image/3.0/product4.0/topbarIcon.png" /></a>
            立即获取方案
        </div>
        <form id="step1form" autocomplete="off">
            <div class="input-row flexboxh">
                <div class="input-icon centerbox">
                    <img src="@(cdnFileRoot)/mobile/image/4.0/ka/icon.phone.png" />
                </div>
                <div class="flexbody">
                    <input id="cellphone" name="mobilePhone" type="tel" required="required" placeholder="请输入手机号码" />
                </div>
            </div>
            <div class="input-row flexboxh">
                <div class="input-icon centerbox">
                    <img src="@(cdnFileRoot)/mobile/image/4.0/ka/icon.pwd.png" />
                </div>
                <div class="flexbody">
                    <input id="msgcode" name="smsCode" type="tel" required="required" placeholder="请输入短信验证码"  />
                </div>
                <div class="input-button" id="btnMsgCode">获取验证码</div>
            </div>
            <input class="submit-btn" id="btnNext" type="button" value="获取方案" />
        </form>
    </div>
    <div id="step2" class="step-page hidden">
        <div class="registerTitle">
            <a href="javascript:history.back()"><img src="@(cdnFileRoot)/mobile/image/3.0/product4.0/topbarIcon.png" /></a>
            完善公司信息
        </div>
        <form id="step2form" autocomplete="off">
            <div class="input-row ">
                <input id="contactor" name="Contacts" required="required" placeholder="请输入联系人" />
            </div>
            <div class="input-row">
                <input id="companyname" name="CorporateName" required="required" placeholder="请输入您的公司名称" />
            </div>
            <div class="input-legend">请在下面的方框内填写您的需求概况：</div>
            <div class="input-row">
                <textarea id="requirement"></textarea>
            </div>
            <input class="submit-btn" id="btnSubmit" type="button" value="提交" />
        </form>
        <div class="footer-outer">
            <div class="footer-title">联系我们/Contact us</div>
            <ul class="list-unstyled">
                <li><span>咨询电话1：</span><a href="tel:13547968152 ">13547968152 </a></li>
                <li><span>咨询电话2：</span><a href="tel:13018240365 ">13018240365 </a></li>
                <li><a class="qq-btn"><span>咨询QQ</span><img src="@(cdnFileRoot)/mobile/image/4.0/ka/qq.png" /></a>：2880928299（添加时请填写验证消息）</li>
                <li>地址：中国 · 成都市高新科技孵化园9号楼F座6F/8F</li>
            </ul>
        </div>
    </div>
    <div id="step3" class="step-page hidden">
        <div class="registerTitle">
            来肯云商
        </div>
        <div class="customized-msg">恭喜您！已成功提交信息，<br />我们将尽快与您取得联系，谢谢！</div>
        <div class="customized-tel"><span>如有疑问请致电</span><a class="call-tel" href="tel:13547968152">13547968152</a></div>
    </div>
</div>