@{
    ViewBag.Title = "商城+进销存|进销存商城一体化|一体化O2O|";
    ViewBag.Keywords = "在线进销存,进销存管理软件,进销存软件免费版,进销存,进销存软件,免费进销存,来肯云商,来肯";
    ViewBag.description = "来肯云商在云ERP进销存的基础上，可开通专属微商城。使得线上线下商品一体化、会员一体化，营销一体化，实体店和微商城信息无缝协同。免费进销存,支持手机、平板、电脑、微信多终端接入，随时管理、随地销售，零限制、无约束。";

    
    Layout = "~/Views/Shared/_MLayout.cshtml";

    string cdnFileRoot = CC.ERP.Portal.Global.CDNFileRoot;
    ViewData.Add("cdnFileRoot", cdnFileRoot);
}

<div class="dh_Content1">
    <div class="dh_title1">把门店开到客户的手机里</div>
    <div class="dh_title2_1">增加收益<span>30%</span>以上</div>
    <img src="@(cdnFileRoot)/mobile/image/3.0/dh/dhBanner_img.png" class="dh_banner" />
    <div class="dh_title3">来肯云商可在云ERP的基础上，开通专属微商城,<br />使得线上线下经营一体化，<br />实体店和微商城信息无缝协同。</div>
    <a class="dh_Btn" href="/mobile/register?agentid=@Request["agentid"]&salerid=@Request["salerid"]&sourceflag=@Request["sourceflag"]">注册试用</a>
    <div class="dh_title4">无需下载安装</div>
</div>
<div class="dh_Content2">
    <div class="maybe">Maybe you're suffering from<br />these problems</div>
    <div class="title">"也许,<span>您正在遭受这些问题的困扰"</span></div>
    <div class="title1">
        <span>客单价只减不增；</span>
        <span>老客户二次消费频率低，流失快；</span>
        <span>新客户拓展难；</span>
        <span>促销效果收效甚微；</span>
        <span>客户购买不方便；</span>
        <span>销售收入始终提不上来。</span>
    </div>
</div>
<div class="dh_Content3">
    <div class="title">Our O2O‘s solutions<br />include online and offline </div>
    <div class="title1">来肯云商</div>
    <div class="title2">线上线下一体化O2O方案</div>
    <div class="title3">帮您解决</div>
    <div class="title4">
        <span>发展新客户</span>
        <span>提升销售收入</span>
    </div>
    <div class="title4">
        <span>维系老客户</span>
        <span>进销存+商城一体化</span>
    </div>
</div>
<div class="dh_Content4">
    <div class="line"></div>
    <div class="eng">Developing<br />new customers </div>
    <h1 class="title">发展新客户</h1>
    <div class="subtitle">您的客户在哪里</div>
    <p>全球微信月活跃用户量已超过8.5亿，而你的客户其实就在其中。</p>
    <div class="subtitle">拉近与客户间的距离</div>
    <p>建立自主专属微商城，将门店开到客户的手机里，让销售模式与客户习惯更合拍。</p>
    <div class="subtitle">让客户数量成几何倍数增长 </div>
    <p>微商城的分享返利功能，可以让你将朋友、客户发展成为分销员，利用社群效应来实现客户增长。</p>
    <img src="@(cdnFileRoot)/mobile/image/3.0/dh/dh_icon01.png" class="dh_icon" />
</div>
<div class="dh_Content5">
    <div class="line"></div>
    <div class="eng">Maintaining<br />existing customers</div>
    <h1 class="title">维系老客户</h1>
    <div class="subtitle">提升客户消费体验</div>
    <p>客户自主在你的微商城上下单，订单处理流程客户全程参与，加强与客户间的信息互动，提升用户体验。</p>
    <div class="subtitle">客情维护增加老客户黏度</div>
    <p>系统自动给客户发送生日祝福短信；还可设置会员专属福利，建立签到、消费积分制，让客户黏度更高。</p>
    <img src="@(cdnFileRoot)/mobile/image/3.0/dh/dh_icon02.png" class="dh_icon" />
</div>
<div class="dh_Content6">
    <div class="line"></div>
    <div class="eng">The increase<br />of sales volum</div>
    <div class="title">
        提升销售收入
        <div class="dh_sr">收入=客户数×客户消费频次×客单价</div>
    </div>
    <div class="subtitle">提高消费频次</div>
    <p>优惠券可以刺激消费，针对普通客户微商城支持开放式优惠券，针对重点客户微商城支持定向式优惠券。</p>
    <div class="subtitle">促销信息及时传递</div>
    <p>通过微商城的短信功能以及微信公众号及时将优惠促销信息送达客户，引发客户的消费欲。</p>
    <div class="subtitle">提高客单价 </div>
    <p>根据客户消费情况，对不同的客户设置不同的级别价格；系统智能分析高利润产品，对重点商品进行促销、对特定客户进行定向促销。</p>
    <div class="subtitle">批发零售两手抓 </div>
    <p>微商城只需一次上架商品，即可设置针对不同客户群体（批发或零售）的不同价格，瞬间形成批、零结合体系。</p>
    <img src="@(cdnFileRoot)/mobile/image/3.0/dh/dh_icon03.png" class="dh_icon" />
</div>
<div class="dh_Content7">
    <div class="line"></div>
    <div class="eng">Integration of<br />inventory management<br />system and E-shop</div>
    <h1 class="title">进销存+商城一体化</h1>
    <div class="subtitle">微商城与云端ERP的完美结合</div>
    <p>只需一次数据录入，前端微商城与后端云ERP数据实时同步，避免了数据信息不能及时同步带来的麻烦。</p>
    <img src="@(cdnFileRoot)/mobile/image/3.0/dh/dh_icon04.png" class="dh_icon" />
</div>
<div class="Linkage_Content7">
    <img src="/mobile/image/3.0/lkage/banner_bg7.png" class="img-responsive">
    <div class="title1">
        100000<span>家商贸企业</span>
    </div>
    <div class="shangmao"> <img src="/mobile/image/3.0/lkage/shangmao.png" class="img-responsive"></div>
    <div class="sm_icon">WITH PROFESSIONAL ACHIEVEMENT QUALITY</div>

</div>