@{
    Layout = "~/Views/Shared/_MLayout.cshtml";
    ViewBag.Title = "来肯云商-手机官网";
    ViewBag.Keywords = "在线进销存,进销存管理软件,进销存软件免费版,进销存,进销存软件,经销商管理";
    ViewBag.description = "来肯云商在线管理软件,中小微企业互联网SAAS供应商，提供在线进销存,手机商城,客户管理,协同办公等企业整体解决方案";
    bool showActive = false;
    if (DateTime.Now < new DateTime(2015, 12, 14))
    {
        showActive = true;
    }

    string cdnFileRoot = CC.ERP.Portal.Global.CDNFileRoot;
    ViewData.Add("cdnFileRoot", cdnFileRoot);
}

<header>
    <div class="div_header">
        <a href="/mobile/index" style="display:none;"><img src="@(cdnFileRoot)/mobile/image/3.0/index/Nlogo_img.png" /></a>       
        @*<span><a style="margin-left:0;color:#FFF;" href="tel://4006903603">400-6903-603</a></span>*@
    </div>
    <div class="Mindex_banner">
        <ul>
            <li class="li_left">
                <div class="title">能带来销售业绩的</div>
                <div class="title"><span>全新一代</span>进销存</div>
                <div><a class="btn banner_btn" target="_blank" href="/mobile/register?agentid=@Request["agentid"]&salerid=@Request["salerid"]&sourceflag=@Request["sourceflag"]">免费注册试用</a></div>
                <div class="text"><span>无需下载安装</span> 注册即可使用</div>
            </li>
            <li class="li_right">
                <img src="@(cdnFileRoot)/Images/3.0/lkerp/Nlkerp_bannerimg.png" />
            </li>
        </ul>
        <div class="clear"></div>
    </div>
</header>
<section class="Mindex_content1_wra">
    <div class="Mindex_content1">
        <div class="Mtitle"><span>第<span class="num">5</span>代进销存</span>提升40％综合效益</div>
        <div class="content">
            <img src="@(cdnFileRoot)/mobile/image/3.0/index/Mindex_img1.png" />
        </div>
    </div>
</section>
<section class="Mindex_content2_wra">
    <div class="wra_line"></div>
    <div class="Mtitle">
        <span>逾200项卓越功能支持</span>成就绝非偶然
    </div>
    <div class="Msubtitle">
        <span>据中小商贸企业实际需求研发</span>持续优化业务管理
    </div>
    <div class="content">
        <img src="@(cdnFileRoot)/mobile/image/3.0/index/Mindex_content2_img1.png" />
        <div class="imgs">
            <img class="img0" src="@(cdnFileRoot)/Images/3.0/lkerp/Nlkerp_content3_img8.jpg" />
            <img class="img1" src="@(cdnFileRoot)/Images/3.0/lkerp/Nlkerp_content3_img7.jpg" />
            <img class="img2" src="@(cdnFileRoot)/Images/3.0/lkerp/Nlkerp_content3_img6.jpg" />
            <img class="img3" src="@(cdnFileRoot)/Images/3.0/lkerp/Nlkerp_content3_img5.jpg" />
            <img class="img4" src="@(cdnFileRoot)/Images/3.0/lkerp/Nlkerp_content3_img4.jpg" />
            <img class="img5" src="@(cdnFileRoot)/Images/3.0/lkerp/Nlkerp_content3_img3.jpg" />
            <img class="img6" src="@(cdnFileRoot)/Images/3.0/lkerp/Nlkerp_content3_img2.jpg" />
            <img class="img7" src="@(cdnFileRoot)/Images/3.0/lkerp/Nlkerp_content3_img1.jpg" />
        </div>
        <div class="icons">
            <ul>
                <li class="item1 item active">
                    <div></div>
                    <span>销售管理</span>
                </li>
                <li class="item2 item">
                    <div></div>
                    <span>采购管理</span>
                </li>
                <li class="item3 item">
                    <div></div>
                    <span>库存管理</span>
                </li>
                <li class="item4 item">
                    <div></div>
                    <span>往来管理</span>
                </li>
                <li class="item5 item">
                    <div></div>
                    <span>财务管理</span>
                </li>
                <li class="item6 item">
                    <div></div>
                    <span>客户维护</span>
                </li>
                <li class="item7 item">
                    <div></div>
                    <span>办公合同</span>
                </li>
                <li class="item8 item">
                    <div></div>
                    <span>移动应用</span>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
    </div>
</section>
<section class="Mindex_content3_wra">
    <div class="wra_line"></div>
    <div class="Mtitle"><span>成功不止步</span>客服不停歇</div>
    <div class="Msubtitle"><span>完善而细致的体系</span><span>全年无休式服务</span>助企业成功</div>
    <div class="content">
        <ul>
            <li>
                <div class="content_item">
                    <div class="img"><img src="@(cdnFileRoot)/Images/3.0/index/Nindex_content2_icon1.png" /></div>
                    <div class="text">
                        <span>专人答疑</span>
                        <div>·1对1专业咨询·</div>
                    </div>
                </div>
            </li>
            <li>
                <div class="content_item">
                    <div class="img"><img src="@(cdnFileRoot)/Images/3.0/index/Nindex_content2_icon2.png" /></div>
                    <div class="text">
                        <span>远程协助</span>
                        <div>·互联网授权支援·</div>
                    </div>
                </div>
            </li>
            <li>
                <div class="content_item">
                    <div class="img"><img src="@(cdnFileRoot)/Images/3.0/index/Nindex_content2_icon3.png" /></div>
                    <div class="text">
                        <span>线上培训</span>
                        <div>·产品功能开班讲解·</div>
                    </div>
                </div>
            </li>
            <li>
                <div class="content_item">
                    <div class="img"><img src="@(cdnFileRoot)/Images/3.0/index/Nindex_content2_icon4.png" /></div>
                    <div class="text">
                        <span>视频课程</span>
                        <div>·看完短片即能上手·</div>
                    </div>
                </div>
            </li>
            <li>
                <div class="content_item">
                    <div class="img"><img src="@(cdnFileRoot)/Images/3.0/index/Nindex_content2_icon5.png" /></div>
                    <div class="text">
                        <span>代理支持</span>
                        <div>·经销商有求必应·</div>
                    </div>
                </div>
            </li>
            <li>
                <div class="content_item">
                    <div class="img"><img src="@(cdnFileRoot)/Images/3.0/index/Nindex_content2_icon6.png" /></div>
                    <div class="text">
                        <span>全时待命</span>
                        <div>·7×24小时神速响应·</div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="clear"></div>
    </div>
</section>
<div class="clear"></div>
<div style="height:60px;"></div>
@*<section class="Mindex_content4_wra">
    <div class="title">
        <span></span>
        云端商贸管理专家
        <span></span>
    </div>
    <div><a class="btn wra4_btn" target="_blank" href="/mobile/register?agentid=@Request["agentid"]&salerid=@Request["salerid"]&sourceflag=@Request["sourceflag"]">免费注册使用</a></div>
</section>*@
<div class="clear"></div>
<section style="display:none;">
    <div class="mcontent" style="margin:0 auto;">
        <div style="width:80%;margin:0 auto;">
            <ul class="ul_qrcode">
                <li>
                    <img src="@(cdnFileRoot)/Images/3.0/common/download_weixin4.0.png" />
                    <p>微信公众号</p>
                </li>
                <li style="display:none;">
                    <img src="@(cdnFileRoot)/Images/3.0/common/download_mobile4.0.png" />
                    <p><a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.lk361.ErpAppStone">下载手机客户端</a></p>
                </li>
            </ul>
        </div>
    </div>
</section>


<script>
    $(function () {
        $(".Mindex_content2_wra .imgs img").eq(0).show().siblings().hide();
        var index = $(".Mindex_content2_wra .icons li").size();
        var i = 0
        $(".Mindex_content2_wra .icons li").click(function () {
            $(this).addClass("active").siblings().removeClass("active");
            i = $(this).index();
            $(".Mindex_content2_wra .imgs img").eq(i).show().siblings().hide();
        })

        setInterval(function () {
            if (i > index) {
                i=0
            }
            $(".Mindex_content2_wra .icons li").eq(i).addClass("active").siblings().removeClass("active");
            $(".Mindex_content2_wra .imgs img").eq(i).show().siblings().hide();
            i++;
        }, 2000)

    })

</script>