@{
    Layout = "~/Views/Shared/_MLayout.cshtml";
    ViewBag.Title = "来肯云商:云端商贸管理专家 ";
    ViewBag.Keywords = "在线进销存,进销存管理软件,进销存软件免费版,进销存,进销存软件,免费进销存,来肯云商,来肯,下级经销商管理";
   
    string cdnFileRoot = CC.ERP.Portal.Global.CDNFileRoot;
    ViewData.Add("cdnFileRoot", cdnFileRoot);
}
<link rel="stylesheet" href="@(cdnFileRoot)/mobile/swiper/swiper.min.css?v=1209">
<style>
    .mobileContent1_content img{
        width:80px !important;
    }
</style>
<div class="mobileIndex" style="height:100%;">

    <div class="swiper-container" style="height:100%;">
        <div class="swiper-wrapper" style="height:100%;">
            <div class="swiper-slide" id="newyear-active" style="display:@(CC.ERP.Portal.Global.ShowActive ? "" : "none")">
            </div>
            <div class="swiper-slide" style="height:100%;">
                <div class="mobileContent_ban">
                    <div class="mobileContent_banwra" style="color:#fff;padding-top:48% !important;">
                        <div>是时候</div>
                        <div>让管理与销售</div>
                        <div>更轻松一点了</div>
                        <div>独树一帜的云端ERP管理专家</div>
                        <a class="mobileBtn" href="/mobile/register?agentid=@Request["agentid"]&salerid=@Request["salerid"]&sourceflag=@Request["sourceflag"]">注册试用</a>
                        <span style="color:#fff;">无需下载安装</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-pagination" style="display:@(CC.ERP.Portal.Global.ShowActive ? "" : "none")"></div>
    </div>

    <div class="mobileContent1">
        <div class="mobileTitle"><span>匠心独运</span>一体化经营</div>
        <div class="mobileSubtitle"><span>一套系统</span>四大模块</div>
        <div class="mobileContent1_content">
            <ul>
                <li>
                    <div><img src="@(cdnFileRoot)/mobile/image/3.0/index/mobileIcon1.png?v=0414" /></div>
                    <span>进销存ERP</span>
                </li>
                <li>
                    <div><img src="@(cdnFileRoot)/mobile/image/3.0/index/mobileIcon2.png?v=0414" /></div>
                    <span>会员管理</span>
                </li>
                <li>
                    <div><img src="@(cdnFileRoot)/mobile/image/3.0/index/mobileIcon3.png?v=0414" /></div>
                    <span>在线商城</span>
                </li>
                <li>
                    <div><img src="@(cdnFileRoot)/mobile/image/3.0/index/mobileIcon4.png?v=0414" /></div>
                    <span>办公协同</span>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
        <a class="content1Btn mobileBtn" href="/mobile/new">了解更多产品详情</a>
    </div>
    <div class="mobileContent2">
        <div class="mobileTitle"><span>自在随心 </span>多终端掌控</div>
        <div class="mobileSubtitle"><span>随时管理</span>随地销售</div>
        <div><img src="@(cdnFileRoot)/mobile/image/3.0/index/mobileContent2Img.png" /></div>
        <a class="tryBtn" href="/mobile/register?agentid=@Request["agentid"]&salerid=@Request["salerid"]&sourceflag=@Request["sourceflag"]">注册试用</a>
    </div>
    <div class="mobileContent3">
        <div class="mobileTitle"><span>细致体验 </span>全方位服务</div>
        <div class="mobileSubtitle"><span>答疑教学</span>培训协助</div>
        <img src="@(cdnFileRoot)/mobile/image/3.0/index/mobileContent3.jpg?v=0321" />
    </div>
    <div class="mobileContent4">
        <div class="mobileTitle"><span>数据安全</span>银行级加密</div>
        <div class="mobileSubtitle"><span>多层监控</span>实时备份</div>
        <ul>
            <li>
                <div>云盾防护</div>
                <div>监控备份</div>
            </li>
            <li>
                <img src="@(cdnFileRoot)/mobile/image/3.0/index/mobileContent4.png" />
            </li>
            <li>
                <div>SSL/HTTPS<br />加密</div>
                <div>异地灾备</div>
            </li>
        </ul>
        <div class="clear"></div>
    </div>
</div>
<div style="height:58px;"></div>
<script src="@(cdnFileRoot)/mobile/swiper/swiper.min.js?v=10091"></script>
<script type="text/javascript">
    $(".mobileContent_ban").height = ($(window).height());
    $(".mobileContent_ban").css("overflow", "hidden");
    var mySwiper = new Swiper('.swiper-container', {
        direction: 'horizontal',
        loop: true,
        pagination: '.swiper-pagination',
        autoplay: 3000,
        autoplayDisableOnInteraction: false
    });
    $('.swiper-container').delegate('.swiper-pagination-bullet', 'tap, click', function () {
        var index = $(this).index() === 1 ? 2 : 1;

        mySwiper.slideTo(index);
    });


</script>
