@{
    ViewBag.Title = "合作共赢";
    Layout = "~/Views/Shared/_MLayout.cshtml";

    string cdnFileRoot = CC.ERP.Portal.Global.CDNFileRoot;
    ViewData.Add("cdnFileRoot", cdnFileRoot);
}

<div id="mjoinus" class="flexboxpage">
    <div class="joinusbanner centerbox" style="background-image:url(@(cdnFileRoot)/mobile/image/4.0/joinus/bg.jpg)">
        <div class="centerinner">
            <div class="title1"><span>与来肯同行</span>弄潮SaaS应用时代</div>
            <div class="title2">不再错过本属于您的精彩</div>
            <a class="link-apply" href="/Mobile/AgentApply">申请合作</a>
        </div>
    </div>
    <div class="joinus1 centerbox">
        <div class="joinus1_wra">
            <div class="joinus_htitle"><span>优势决定价值</span>实力兑现财富</div>
            <div class="htitle2">欢迎加入成为来肯云商SaaS应用产品的代理商，共享科技变革红利</div>
            <img class="content1_header_bg" src="@(cdnFileRoot)/mobile/image/4.0/joinus/abg.jpg" />
        </div>
    </div>
    <div class="joinus_titlebar">
        <div class="btitle btitlea">品牌优势</div>
        <div class="btitleline">PRODUCT BENEFITS</div>
    </div>
    <div class="joinus_list joinus_lista">
        <ul>
            <li><img src="@(cdnFileRoot)/mobile/image/4.0/joinus/icon.p.b.png" /><span>完善的服务团队</span></li>
            <li><img src="@(cdnFileRoot)/mobile/image/4.0/joinus/icon.p.a.png" /><span>10万家客户基础</span></li>
            <li><img src="@(cdnFileRoot)/mobile/image/4.0/joinus/icon.p.c.png" /><span>诚信示范单位</span></li>
        </ul>
    </div>
    <div class="joinus_titlebar">
        <div class="btitle btitleb">产品优势</div>
        <div class="btitleline">PRODUCT BENEFITS</div>
    </div>
    <div class="joinus_list joinus_listb">
        <ul>
            <li><img src="@(cdnFileRoot)/mobile/image/4.0/joinus/icon.c.a.png" /><span>一体化</span></li>
            <li><img src="@(cdnFileRoot)/mobile/image/4.0/joinus/icon.c.b.png" /><span>多终端</span></li>
            <li><img src="@(cdnFileRoot)/mobile/image/4.0/joinus/icon.c.c.png" /><span>易操作</span></li>
            <li><img src="@(cdnFileRoot)/mobile/image/4.0/joinus/icon.c.d.png" /><span>服务佳</span></li>
        </ul>
    </div>
    <div class="joinus_titlebar">
        <div class="btitle btitlec">代理优势</div>
        <div class="btitleline">PRODUCT BENEFITS</div>
    </div>
    <div class="joinus_list joinus_listc">
        <ul>
            <li><img src="@(cdnFileRoot)/mobile/image/4.0/joinus/icon.d.a.png" /><span>利润永续分成</span></li>
            <li><img src="@(cdnFileRoot)/mobile/image/4.0/joinus/icon.d.b.png" /><span>广阔的SAAS软件市场</span></li>
        </ul>
    </div>
    <div class="joinus_listd" style="background-image:url(@(cdnFileRoot)/mobile/image/4.0/joinus/bbg.jpg)">
        <div class="listtitle">如何成为来肯拍档</div>
        <ul>
            <li><img src="@(cdnFileRoot)/mobile/image/4.0/joinus/a.jpg" /><div>无债务的企业或完全民事能力的自然人，无不良信用</div></li>
            <li><img src="@(cdnFileRoot)/mobile/image/4.0/joinus/b.jpg" /><div>拥有当地各类资源：人脉、团队、渠道</div></li>
            <li><img src="@(cdnFileRoot)/mobile/image/4.0/joinus/c.jpg" /><div class="text-center">认可来肯商业模式</div></li>
            <li><img src="@(cdnFileRoot)/mobile/image/4.0/joinus/d.jpg" /><div class="text-center">具备一定启动资金</div></li>
        </ul>
    </div>
    <div class="joinus_liste">
        <div class="listtitle">代理商特权</div>
        <ul>
            <li><img src="@(cdnFileRoot)/mobile/image/4.0/joinus/icon.t.a.png" /><span>系统支持</span></li>
            <li><img src="@(cdnFileRoot)/mobile/image/4.0/joinus/icon.t.b.png" /><span>培训支持</span></li>
            <li><img src="@(cdnFileRoot)/mobile/image/4.0/joinus/icon.t.d.png" /><span>研发支持</span></li>
            <li><img src="@(cdnFileRoot)/mobile/image/4.0/joinus/icon.t.e.png" /><span>售后支持</span></li>
            <li><img src="@(cdnFileRoot)/mobile/image/4.0/joinus/icon.t.c.png" /><span>线下支持</span></li>
            <li><img src="@(cdnFileRoot)/mobile/image/4.0/joinus/icon.t.f.png" /><span>品牌支持</span></li>
        </ul>
    </div>
    <div class="joinus_listf">
        <div class="listtitle">我们的合作伙伴</div>
        <img src="@(cdnFileRoot)/mobile/image/4.0/joinus/cbg.jpg" />
    </div>
</div>
<div style="height:58px;"></div>