@{
    ViewBag.Title = "代理商招募";
    Layout = "~/Views/Shared/_MLayout.cshtml";

    string cdnFileRoot = CC.ERP.Portal.Global.CDNFileRoot;
    ViewData.Add("cdnFileRoot", cdnFileRoot);
}
<style>
    body {
        margin: 0;
        padding: 0;
    }

    .agent_cont {
        background: #030c23;
    }

    .agentCont1 {
        background: #030c23;
    }

    .a1_1 {
        width: 100%;
        position: absolute;
    }

    .aiken_logo {
        position: absolute;
        right: 0;
        top: 50px;
        width: 35%;
    }

    .ac_qiangzhan {
        position: relative;
        padding-top: 50%;
        text-align: center;
        width: 75%;
        margin: auto;
    }

    .ac_partner {
        font-size: 21px;
        color: #fff;
        margin-top: -46px;
        text-align: center;
        position: relative;
    }

        .ac_partner p {
            font-style: italic;
            margin-bottom: 0;
            font-weight: bold;
        }

    .saas {
        font-size: 18px;
        color: #fff;
        margin: 50px auto 22px;
        text-align: center;
        position: relative;
    }

    .ac_rj {
        font-size: 14px;
        color: #fff;
        margin: 0 39px;
        line-height: 26px;
        letter-spacing: 1px;
        text-align: justify;
        position: relative;
    }

    .ac_title {
        height: 100px;
        background-image: url('@(cdnFileRoot)/mobile/image/agent/a2_title_bg.png');
        padding-top: 25px;
    }
    .ac_sec_cont{
        font-size:24px;
        color:#fff;
    }
    .ac_sec_cont span{
         font-size:31px;
    }
    .ac_more_choice{
        background-color: #030c23;
        text-align: center;
        padding-bottom: 15px;
    }
    .ac_second_triangle{
        width: 17px;
        margin: 22px auto 0;
    }
    .ac_title{
        font-size:31px;
        color:#fff;
    }
    .ac_technology{
        font-size:24px;
        margin:31px auto 40px;
        color:#fff;
    }
    .ac_technology_img{
        width: 74%;
        margin: auto;
    }
    .a4_img{
        width: 96%;
        margin: auto;
    }
    .ac_apply{
        width: 210px;
        height: 39px;
        position: relative;
        margin: 50px auto 10px;
    }
     .ac_apply a{
        position: absolute;
        top: 10px;
        font-size: 20px;
        width: 80%;
        left: 12%;
        color: #fff;
    }
    .ac_tel{
        color:#d1d4da;
        font-size:20px;
        display:block;
    }
    .ac_tel:link{
        color:#d1d4da;
    }
    .ac_advantage{
        margin:38px auto 75px;
        width:74%;
    }
    .ac_list{
        margin-bottom:50px;

    }
    .ac_list img{
        width:58%;
        margin:auto auto 5px;
    }
    .ac3_img{
        width: 60%;
        margin: 50px 40% 100px 0;
    }
    .ac_list_word{
        font-size: 14px;
        color: #fff;
        padding: 0 35px;
        line-height: 20px;
        text-align: justify;
    }
    .ac_relative1{
        position:relative;
        width:80%;
        margin:32px auto 2px;
    }
    .relative_cont{
       position: absolute;
       top: 68px;
    }
    .relative_cont span{
        font-size:17.5px;
        color:#fff;
        font-weight:bold;
    }
     .relative_cont div{
        font-size: 11px;
        color: #fff;
        text-align: left;
        margin: 7px 17px 0;
    }
    .ac_7{
        height:342px;
        background-image: url('@(cdnFileRoot)/mobile/image/agent/a7_1.png');
        background-size: cover;
        margin-top: -4px;
    }
    .ac7_title{
        padding-top:40px;
        color:#fff;
        font-size:16px;
        text-align:center;
    }
    .ac7_img{
        width:45%;
        margin:15px auto 20px;
    }
    .ac7_b{
        text-align:center;
        color:#fff;
        font-size:16px;
        font-weight:bold;
    }
    .ac3_1{
        position: absolute;
        top: 8%;
        left: 25%;
        
    }
    .ac3_2{
        top: 22%;
        position: absolute;
        left: 53%;

    }
    .ac3_3{
        position: absolute;
        top: 42%;
        left: 63%;
    }
     .ac3_4{
        position: absolute;
        top: 62%;
        left: 53%;
    }
     .ac3_5{
        position: absolute;
        top: 77%;
        left: 23%;
    }
    .ac3{
        text-align: left;
    }
    .ac3 span{
        color:#b38d59;
        font-size:14px;
    }
     .ac3 p{
        font-size:13px;
        color:#fff;
        margin-bottom:0;
    }
    .ac7_c{
        font-size:9px;
        color:#fff;
        text-align:center;
        margin-top:5px;
</style>

<div class="LandingPageForKa" style="font-family:'微软雅黑'">

    <div class="agentCont1">
        <img src="@(cdnFileRoot)/mobile/image/agent/a1_1.png" class="a1_1 img-responsive" />
        <img src="~/mobile/image/agent/laiken_logo.png" class="aiken_logo" />
        <div class="ac_qiangzhan">
            <img src="@(cdnFileRoot)/mobile/image/agent/a1_2.png?v=170418" class="a1_2 img-responsive " />
        </div>
        <div class="ac_partner">
            <p>来肯合伙人火热招募中，</p>
            <p>永续分成持久赢利！</p>
        </div>
        <div class="saas">SAAS市场趋势</div>
        <div class="ac_rj">软件市场的SAAS时代已经到来，传统型软件已经无法满足市场需求，国内SAAS行业正在蓬勃发展，相关企业数量大幅增长，截止到2016年年底SaaS市场规模已达500亿元。其中，SAAS ERP的市场规模占比也在持续上升中。</div>
        <div class="a1_3">
            <img src="@(cdnFileRoot)/mobile/image/agent/a1_3.png" class="img-responsive" />
        </div>
    </div>
    <div class="ac_more_choice">
        <div class="ac_title">
            <div class="ac_sec_cont">代理来肯云商的<span>五个理由</span></div>
        </div>
        <div class="ac_second_triangle">
            <img src="@(cdnFileRoot)/mobile/image/agent/ac_sanjiao.png" class="img-responsive" />
        </div>
        <div style="position:relative;">
            <img src="@(cdnFileRoot)/mobile/image/agent/shichang_1.png" class="ac3_img" />
            <div class="ac3_1 ac3">
                <span>首创永续分成：</span>
                <p>
                    一次成交永续分成，<br />
                    最大限度保障代理商利益；
                </p>
            </div>
            <div class="ac3_2 ac3">
                <span>人员配置要求低：</span>
                <p>
                    只需配置少量销<br />
                    售人员，节省庞大<br />
                    人力成本；
                </p>
            </div>
            <div class="ac3_3 ac3">
                <span>市场前景广阔：</span>
                <p>
                    市场需求大，<br />
                    拓客成本低；
                </p>
            </div>
            <div class="ac3_4 ac3">
                <span>投入产出比高：</span>
                <p>
                    启动资金少，<br />
                    回报见效快，<br />
                    收益丰厚；
                </p>
            </div>
            <div class="ac3_5 ac3">
                <span>坐当甩手掌柜：</span>
                <p>
                    只管销售，客户培训、<br />
                    售后全由总部负责。
                </p>
            </div>
        </div>
    </div>
    <div class="solution" style="background-color:#030c23;">
        <div class="ac_title" style="padding-top:12px;">
            <span class="ac_ct">
                强大的支撑体系
            </span>
            <div class="ac_sec_cont">为您保驾护航</div>
        </div>
        <div class="ac_second_triangle">
            <img src="@(cdnFileRoot)/mobile/image/agent/ac_sanjiao.png" class="img-responsive" />
        </div>
        <div class="ac_technology">基础支持</div>
        <div class="ac_technology_img">
            <img src="@(cdnFileRoot)/mobile/image/agent/technology.png" class="img-responsive" />
        </div>
        <div class="ac_technology">营销支持</div>
        <div class="a4_img">
            <img src="@(cdnFileRoot)/mobile/image/agent/a4.png" class="img-responsive" />
        </div>
        <div class="ac_apply">
            <img src="@(cdnFileRoot)/mobile/image/agent/apply.png" class="img-responsive" />
            <a href="/Mobile/AgentApply">立即申请合作</a>
        </div>
        <a href="tel://4008007683" class="ac_tel" style="margin: 15px auto 10px auto;">咨询电话：400-800-7683转3</a>
        <a href="tel://18908232577" class="ac_tel">总代专线：18908232577</a>
    </div>
    <div class="survey" style="background:#030c23;padding-bottom:0;margin-top:-1px;">
        <div class="ac_title">
            <div class="ac_sec_cont">来肯云商<span>产品优势</span></div>
        </div>
        <div class="ac_second_triangle">
            <img src="@(cdnFileRoot)/mobile/image/agent/ac_sanjiao.png" class="img-responsive">
        </div>
        <div class="ac_advantage">
            <img src="@(cdnFileRoot)/mobile/image/agent/advantage.png?v=0417" class="img-responsive" />
        </div>
        <div class="ac_list">
            <img src="@(cdnFileRoot)/mobile/image/agent/a5_1.png" class="img-responsive" />
            <div class="ac_list_word">一套系统，四大模块，集成进销存ERP、在线商城、客户管理、办公协同于一体。数据无缝衔接，轻松告别管理与销售“零互动”。</div>
        </div>
        <div class="ac_list">
            <img src="@(cdnFileRoot)/mobile/image/agent/a5_2.png" class="img-responsive" />
            <div class="ac_list_word">手机、微信、平板、电脑多终端接入随时管理随地销售，零限制，无约束。</div>
        </div>
        <div class="ac_list">
            <img src="@(cdnFileRoot)/mobile/image/agent/a5_3.png" class="img-responsive" />
            <div class="ac_list_word">关键数据智能提取，展示直观明显，决策轻松准确。</div>
        </div>
        <div class="ac_list">
            <img src="@(cdnFileRoot)/mobile/image/agent/a5_4.png" class="img-responsive" />
            <div class="ac_list_word">让整个系统更贴合您的使用习惯，每一处布局我们都用心斟酌。</div>
        </div>
        <div class="ac_list">
            <img src="@(cdnFileRoot)/mobile/image/agent/a5_5.png?v=0417" class="img-responsive" />
            <div class="ac_list_word">客户、朋友、家人轻松成为分销员，销售业绩实现质的飞跃。</div>
        </div>
        <div class="ac_list">
            <img src="@(cdnFileRoot)/mobile/image/agent/a5_6.png" class="img-responsive" />
            <div class="ac_list_word" style="text-align:center;">与微信完美融合，用最流行的方式来工作。</div>
        </div>
        <div class="ac_apply">
            <img src="@(cdnFileRoot)/mobile/image/agent/apply.png" class="img-responsive">
            <a href="/Mobile/AgentApply">立即申请合作</a>
        </div>
        <a href="tel://4008007683" class="ac_tel" style="margin: 15px auto 10px auto;">咨询电话：400-800-7683转3</a>
        <a href="tel://18908232577" class="ac_tel">总代专线：18908232577</a>
    </div>
    <div class="survey" style="background:#030c23;padding-bottom:35px;">
        <div class="ac_title" style="padding-top:12px;">
            <span class="ac_ct" style="font-size:20px;">
                相对于传统ERP
            </span>
            <div class="ac_sec_cont" style="font-size:21px;font-weight:bold;">云ERP（SAAS ERP）的四大优势</div>
        </div>
        <div class="ac_second_triangle">
            <img src="@(cdnFileRoot)/mobile/image/agent/ac_sanjiao.png" class="img-responsive">
        </div>
        <div class="ac_relative1">
            <img src="@(cdnFileRoot)/mobile/image/agent/a6_1.png" class="img-responsive" />
            <div class="relative_cont">
                <span>低成本、低许可</span>
                <div>
                    与传统ERP相比，公司不需要给每一个使用者购买许可，公司只要给云ERP许可支付固定的金额，然后所有人都可以使用这一系统。
                </div>
            </div>
        </div>
        <div class="ac_relative1">
            <img src="@(cdnFileRoot)/mobile/image/agent/a6_2.png" class="img-responsive" />
            <div class="relative_cont">
                <span>维护更简便</span>
                <div>
                    使用传统的ERP时，企业为了新功能和新更新而不断地升级他们的系统，而云ERP的操作步骤将会很简化，可以直接到空中下载技术安全包，然后在进行更新即可，这就节省了大量的时间，也减轻了工作量。
                </div>
            </div>
        </div>
        <div class="ac_relative1">
            <img src="@(cdnFileRoot)/mobile/image/agent/a6_3.png" class="img-responsive" />
            <div class="relative_cont">
                <span>数据更安全</span>
                <div>
                    由于云ERP制定了严格的协议，对公司数据提供了最顶级的安全和隐私保护，大大保证了数据的安全性。
                </div>
            </div>
        </div>
        <div class="ac_relative1">
            <img src="@(cdnFileRoot)/mobile/image/agent/a6_4.png" class="img-responsive" />
            <div class="relative_cont">
                <span>方便数据管理</span>
                <div>
                    因为云ERP有良好的可扩展性。所以当把所有的数据都保存在云中时，公司可以随时随地移动这些数据，而且不必担心丢失问题。
                </div>
            </div>
        </div>
        <div class="ac_apply">
            <img src="/mobile/image/agent/apply.png" class="img-responsive">
            <a href="/Mobile/AgentApply">立即申请合作</a>
        </div>
        <a href="tel://4008007683" class="ac_tel" style="margin: 15px auto 10px auto;">咨询电话：400-800-7683转3</a>
        <a href="tel://18908232577" class="ac_tel">总代专线：18908232577</a>
    </div>
    <div class="ac_7">
        <div class="ac7_title">
            <p>不平凡，注定非凡</p>
            <p>懂得选择，才能遇见未来</p>
        </div>
        <div class="ac7_img">
            <img src="~/mobile/image/agent/a7_2.png" class="img-responsive" />
        </div>
        <div class="ac7_b">
            全国合作伙伴，火热招募中！
        </div>
        <div class="ac7_c">
            投资需谨慎，财富与风险并存
        </div>
    </div>
</div>
<script>
    $(function () {
        $("#height").hide();
        $(".mobileIndex").hide();
        $(".LandingPage_ban").height($(window).height());
    })
    setInterval(function () {
        $(".footerLink").hide();
    }, 10)
    $('.solution-chart img').load(function () {
        $('.solution-chart').width($('.solution-chart img').width());
    })
    $(window).resize(function () {
        $(".LandingPage_ban").height($(window).height());
    })
</script>