@{
    ViewBag.Title = "账套打通|适用于加盟商/专柜/直营店/经销商/分公司和总部的账套打通！库存智能补货";
    ViewBag.Keywords = "账套打通,多门店管理,库存智能补货";
    ViewBag.description = "账套打通，适用于加盟商，专柜，直营店，经销商，分公司，和总部的账套打通！实现数据互通，单据互通，账套打通，平行接入；解决多门店管理，下级库存及时智能补货等问题。";

    
    Layout = "~/Views/Shared/_MLayout.cshtml";

    string cdnFileRoot = CC.ERP.Portal.Global.CDNFileRoot;
    ViewData.Add("cdnFileRoot", cdnFileRoot);
}
<link href="@(cdnFileRoot)/mobile/swiper/swiper.min.css" rel="stylesheet" />
<div class="Linkage_Content1">
    <div class="Linkage_title1">全渠道数据打通，无缝连接经销加盟</div>
    <div class="Linkage_title2">「智能生产/采购计划」「智能补货」「多供应商管理」</div>
    <div class="Linkage_title2_1">业绩提升<span>3</span>倍以上</div>
    <img src="@(cdnFileRoot)/mobile/image/3.0/lkage/Linkage_banner.png" class="Linkage_banner" />
    <div class="Linkage_title3">打破连锁加盟管理僵局，<br />数据精准对接生产/采购、库存、销售、财务</div>
    <a class="mobile_Btn" href="/mobile/register?agentid=@Request["agentid"]&salerid=@Request["salerid"]&sourceflag=@Request["sourceflag"]">注册试用</a>
    <div class="Linkage_title4">无需下载安装</div>
</div>
<div class="Linkage_Content2">
    <div class="title">"也许，<span>您正在遭受这些问题的困扰"</span></div>
    <div class="title1">
        <span>销售数据模糊，决策常常偏离市场</span>
        <span>生产/采购过多，库存层层积压</span>
        <span>货品准备不足，下游经销商流失</span>
        <span>要货流程繁琐，销售机会损失</span>
        <span>补货不及时，竞争对手趁虚而入</span>
        <span>流动资金减少，新品竞争受威胁</span>
    </div>
</div>
<div class="Linkage_Content3">
    <div class="title">经销加盟管理能为您实现：</div>
    <div class="LinkageCont3_list">
        <div class="Cont3_ltft">
            <img src="@(cdnFileRoot)/mobile/image/3.0/lkage/Linkicon_01.png" />
            <div>更精准的数据协同管理</div>
        </div>
        
    </div>
    <div class="LinkageCont3_list">
        <div class="Cont3_ltft">
            <img src="@(cdnFileRoot)/mobile/image/3.0/lkage/Linkicon_02.png?v=20170704" />
            <div>库存周转率提升三倍以上</div>
        </div>
    </div>
    <div class="LinkageCont3_list">
        <div class="Cont3_ltft">
            <img src="@(cdnFileRoot)/mobile/image/3.0/lkage/Linkicon_03.png?v=20170704" />
            <div>做好更优的生产采购计划</div>
        </div>
    </div>
    <div class="LinkageCont3_list">
        <div class="Cont3_ltft">
            <img src="@(cdnFileRoot)/mobile/image/3.0/lkage/Linkicon_04.png?v=20170704" />
            <div>行业竞争所向披靡</div>
        </div>
    </div>
</div>
<div class="Linkage_Content4">
    <div class="title">智能生产/采购计划</div>
    <span class="title0">下个周期该生产/采购什么</span>
    <div class="title1">凭经验备货，库存问题频现。来肯云商打通经销商销售数据，一张销量报表告诉你生产/采购什么。</div>
    <span class="title0">生产/采购多少</span>
    <div class="title1">面对目标商品，却不知该生产/采购多少。来肯云商打通经销商库存数据，精准核算。</div>
    <span class="title0">新品结构调整</span>
    <div class="title1">生产/采购计划失误，阻碍新品开发。来肯云商助您在合理的范围内备货，始终保持竞争力。</div>

    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="@(cdnFileRoot)/images/3.0/lkage/linkage_01.png" class="mobileContent_ban" />
            </div>
            <div class="swiper-slide">
                <img src="@(cdnFileRoot)/images/3.0/lkage/linkage_02.png" class="mobileContent_ban" />
            </div>
        </div>
        @*分页器*@
        <div class="swiper-pagination"></div>
    </div>
</div>
<div class="Linkage_Content5">
    <div class="title">智能补货</div>
    <span class="title0">补货总在缺货后</span>
    <div class="title1">电话要货响应慢，使用来肯云商直接查询剩余库存，快速反应，及时配送。</div>
    <span class="title0">高销售目标带来库存积压</span>
    <div class="title1">来肯云商根据市场需求制定备货计划，既保证终端销量又不至于库存积压。</div>
    <span class="title0">多供应商竞争</span>
    <div class="title1">上门抄单流程长，竞争对手半路打劫。来肯云商让您手握商机，第一时间送货，在竞争中脱颖而出。</div>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="@(cdnFileRoot)/images/3.0/lkage/linkage_03.png" class="mobileContent_ban" />
            </div>
            <div class="swiper-slide">
                <img src="@(cdnFileRoot)/images/3.0/lkage/linkage_04.png" class="mobileContent_ban" />
            </div>
        </div>
        @*分页器*@
        <div class="swiper-pagination"></div>
    </div>
</div>
<div class="Linkage_Content6">
    <div class="title">非加盟业务管理</div>
    <span class="title0">操作限制，重复记账</span>
    <div class="title1">传统连锁加盟软件一对一管理不便，来肯云商支持经销商只管理您的商品，也可对接其他商品的财务、往来交易。</div>
    <span class="title0">移动开单</span>
    <div class="title1">传统软件数据处理难，移动应用不便。来肯云商数据云端无忧存储，支持经销商移动开单，并同步记账。</div>
     <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="@(cdnFileRoot)/images/3.0/lkage/linkage_05.png" class="mobileContent_ban" />
            </div>
            <div class="swiper-slide">
                <img src="@(cdnFileRoot)/images/3.0/lkage/linkage_06.png" class="mobileContent_ban" />
            </div>
        </div>
        @*分页器*@
        <div class="swiper-pagination"></div>
    </div>
</div>
<div class="Linkage_Content7">

    <img src="@(cdnFileRoot)/mobile/image/3.0/lkage/banner_bg7.png" class="img-responsive" />
    <div class="title1">
        100000<span>家商贸企业</span>
    </div>
    <div class="shangmao"> <img src="@(cdnFileRoot)/mobile/image/3.0/lkage/shangmao.png" class="img-responsive"/></div>
    <div class="sm_icon">WITH PROFESSIONAL ACHIEVEMENT QUALITY</div>

</div>
<script src="@(cdnFileRoot)/mobile/swiper/swiper.min.js"></script>
<script>
    $(".mobileContent_ban").css("overflow", "hidden");
    var mySwiper = new Swiper('.swiper-container', {
        direction: 'horizontal',
        loop: true,
        pagination: '.swiper-pagination',
        autoplay: 4000,
        autoplayDisableOnInteraction: false,
        pagination: '.swiper-pagination',
        paginationClickable: true
    });
</script>
