@{
    ViewBag.Title = "在线商城体验";
    Layout = "~/Views/Shared/_MLayout.cshtml";

    string cdnFileRoot = CC.ERP.Portal.Global.CDNFileRoot;
    ViewData.Add("cdnFileRoot", cdnFileRoot);
}
<style>
    .OnlineTry_wra{
        background-color:#efefef;
        padding:20px 10px 0 10px;
    }
    .OnlineTry_wra .title{
        color:#888888;
        text-align:center;
        font-size:16px;
        margin-bottom:20px;
    }
    .OnlineTry_wra li{
       float:left;
       width:50%;
       text-align:center;
       margin-bottom:40px;
    }
     .OnlineTry_wra li div{
         width:135px;
         height:135px;
         border-radius:50%;
         overflow:hidden;
         background-color:#fff;
         margin:0 auto;
         text-align:center;
     }
     .OnlineTry_wra li div img{
       
     }
      .OnlineTry_wra li a{
          display:inline-block;
          padding:3px 16px;
          border-radius:5px;
          color:#fff;
          font-size:19px;
          margin-top:19px;
      }
      .OnlineTry_wra li:nth-child(3) div img{
          height:136px;
      }
       .OnlineTry_wra li:nth-child(12) div img{
         margin-left:20px;
      }
      .OnlineTry_wra li:nth-child(11) div img{
       width:108px;
       margin-top:15px;
      }
        .OnlineTry_wra li:nth-child(10) div img{
       width:80px;
       margin-top:15px;
      }
      .OnlineTry_wra li:nth-child(1) a,.OnlineTry_wra li:nth-child(6) a,.OnlineTry_wra li:nth-child(7) a, .OnlineTry_wra li:nth-child(12) a{
          background-color:#38acff;
      }
       .OnlineTry_wra li:nth-child(2) a, .OnlineTry_wra li:nth-child(8) a{
            background-color:#fea13d;
       }
        .OnlineTry_wra li:nth-child(3) a, .OnlineTry_wra li:nth-child(9) a{
            background-color:#fa6359;
        }
         .OnlineTry_wra li:nth-child(4) a, .OnlineTry_wra li:nth-child(10) a{
            background-color:#45b035;
        }
           .OnlineTry_wra li:nth-child(5) a, .OnlineTry_wra li:nth-child(11) a{
            background-color:#3eb370;
        }
</style>
@*<h2>OnlineTry</h2>*@
<div class="OnlineTry_wra">
    <div class="title">根据您所在行业，点击体验商城系统</div>
    <div class="content">
        <ul>
            <li>
                <div><img src="@(cdnFileRoot)/Images/3.0/lkerp/lkerp0525_content2img1.jpg" /></div>
                <a href="http://jcai.wx.lk361.com.cn/">五金建材</a>
            </li>
            <li>
                <div><img src="@(cdnFileRoot)/Images/3.0/lkerp/lkerp0525_content2img2.jpg" /></div>
                <a href="http://spin.wx.lk361.com.cn/">食品快消品</a>
            </li>
            <li>
                <div><img src="@(cdnFileRoot)/mobile/image/3.0/index/lkerp0525_content2img3_3.jpg" /></div>
                <a href="http://fz.wx.lk361.com.cn/">服装鞋帽</a>
            </li>
            <li>
                <div><img src="@(cdnFileRoot)/Images/3.0/lkerp/lkerp0525_content2img4.jpg" /></div>
                <a href="http://sjsm.wx.lk361.com.cn/">手机通讯</a>
            </li>
            <li>
                <div><img src="@(cdnFileRoot)/Images/3.0/lkerp/lkerp0525_content2img5.jpg" /></div>
                <a href="http://sma.wx.lk361.com.cn/">数码家电</a>
            </li>
            <li>
                <div><img src="@(cdnFileRoot)/Images/3.0/lkerp/lkerp0525_content2img6.jpg" /></div>
                <a href="http://jxie.wx.lk361.com.cn/">机械机电</a>
            </li>
            <li>
                <div><img src="@(cdnFileRoot)/Images/3.0/lkerp/lkerp0525_content2img7.jpg" /></div>
                <a href="http://qpei.wx.lk361.com.cn/">汽配汽修</a>
            </li>
            <li>
                <div><img src="@(cdnFileRoot)/Images/3.0/lkerp/lkerp0525_content2img8.jpg" /></div>
                <a href="http://bqling.wx.lk361.com.cn/">化妆用品</a>
            </li>
            <li>
                <div><img src="@(cdnFileRoot)/Images/3.0/lkerp/lkerp0525_content2img9.jpg" /></div>
                <a href="http://yyao.wx.lk361.com.cn/">医药制品</a>
            </li>
            <li>
                <div><img src="@(cdnFileRoot)/Images/3.0/lkerp/lkerp0525_content2img10.jpg" /></div>
                <a href="http://mying.wx.lk361.com.cn/">母婴用品</a>
            </li>
            <li>
                <div><img src="@(cdnFileRoot)/Images/3.0/lkerp/lkerp0525_content2img11.jpg" /></div>
                <a href="http://lmao.wx.lk361.com.cn/">生鲜农贸</a>
            </li>
            <li>
                <div><img src="@(cdnFileRoot)/Images/3.0/lkerp/lkerp0525_content2img12.jpg" /></div>
                <a href="http://b2b2c.wx.lk361.com.cn/">通用行业</a>
            </li>
        </ul>
        <div class="clear"></div>
    </div>
</div>
