@{
    ViewBag.Title = "来肯云商推广员注册";
    ViewBag.BannerTitle = "推广员注册";
    Layout = "~/Views/Shared/_MAccountLayout.cshtml";

    string cdnFileRoot = CC.ERP.Portal.Global.CDNFileRoot;
    ViewData.Add("cdnFileRoot", cdnFileRoot);
}

<style>
    header #title {
        font-size: 1.4em;
    }
</style>
<script src="@(cdnFileRoot)/mobile/mobile.js?v=0509"></script>

<form id="registerform" method="post">
    <section id="step1">
        <div class="input_div">
            @Html.TextBox("userrealname", string.Empty, new { autocomplete = "off", placeholder = "请输入用户昵称" })
        </div>
        <div class="input_div">
            @Html.TextBox("cellphone", string.Empty, new { autocomplete = "off", placeholder = "请输入手机号码", notype = "promoterapply" })
        </div>
        <div class="input_div">
            @Html.TextBox("imgCode", string.Empty, new { autocomplete = "off", placeholder = "请输入图片验证码" })
            <span class="picCode">
                <img src="/account/GetValidateCode" id="picCode" onclick="this.src = '/account/GetValidateCode?r=' + Math.random()" />
            </span>            
        </div>
        <div class="input_div">
            @Html.TextBox("msgCode", string.Empty, new { autocomplete = "off", placeholder = "请输入手机验证码", notype = "promoterapply" })
            <input id="btn_code" codetype="promoterapply" class="btn" type="button" value="获取验证码" />
        </div>
        <div class="button_div">
            <input type="button" class="btn" id="btn_promoter_register" value="免费注册试用" />
            @if (!string.IsNullOrEmpty(Request["openid"]))
            {
                <p style="text-align:center;margin:0;padding:0;">
                    <a href="/mobile/agentvalidate?openid=@(Request["openid"])&weixin=@(Request["weixin"])&userid=@(Request["userid"])">已有账号 直接登录</a>
                </p>
            }
        </div>
    </section>
    @Html.Hidden("t_code")
    @Html.Hidden("openid", Request["openid"])
    @Html.Hidden("weixin", Request["weixin"])
    @Html.Hidden("userid", Request["userid"])
</form>
