@using CC.Public
@using CC.Framework;
@{
    ViewBag.Title = "来肯云商注册";
    ViewBag.BannerTitle = "开始使用";
    Layout = "~/Views/Shared/_MAccountLayout.cshtml";

    string cdnFileRoot = CC.ERP.Portal.Global.CDNFileRoot;
    ViewData.Add("cdnFileRoot", cdnFileRoot);
    var user = CC.Framework.User.Current;
    var tokeninfo = UserLogin.GetTokenInfo(user.CurrentProfileid, user.OpID, UserLogin.LoginPlatform.PC);
    var tok = tokeninfo.GetString("token");
    var s = tokeninfo.GetString("sign");

}
<style>
    #success_tab {
        width: 60%;
        border: 1px solid #9a9a9a;
        border-radius: 15px;
        margin: 50px auto;
        height: 30px;
    }

        #success_tab ul {
            list-style: none;
        }

            #success_tab ul li {
                float: left;
                width: 50%;
                height: 29px;
                line-height: 30px;
                text-align: center;
                font-size: 18px;
                color: #333;
                display: block;
            }

    .current_type {
        color: #00B4FF !important;
    }

    .newyear-font {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 50px;
    }
</style>
@if (Request["sourceflag"] != null && Request["sourceflag"] == "95")
{
    <style>
        #step3 .text {
            margin: 50px 0 37px 0;
        }
    </style>
}
<script>
    $(function () {
        $(".type_li").click(function () {
            var id = $(this).attr("id");

            $(".type_li").removeClass("current_type");
            $(this).addClass("current_type");

            if (id == "type2") {
                document.getElementById("style1").style.display = "none";
                document.getElementById("style2").style.display = "";
            } else {
                document.getElementById("style1").style.display = "";
                document.getElementById("style2").style.display = "none";
            }
        });
    });
</script>

<section id="step3">
    <div class="registerTitle">
        <a href="/mobile/index"><img src="@(cdnFileRoot)/mobile/image/3.0/product4.0/topbarIcon.png" /></a>
        来肯云商
    </div>
    <div class="text">现在您可以用微信搜索公众号[来肯云商]或扫描下方二维码即可直接登录试用</div>
    <img class="img" src="@(cdnFileRoot)/mobile/image/3.0/product4.0/successImg.jpg" />
    <div class="step4">
        <p>如果您想下载APP进行体验，</p>
        <p>您可以通过下方按钮进行下载。</p>
    </div>
    <a class="download_btn" id="download_btn" href="@(CC.ERP.Portal.Global.DownloadForAndroid)">点击下载APP</a>
    <div class="bottom_tel">如有疑问请致电<a href="tel://4008007683">@(CC.ERP.Portal.Controllers.Public.agent_cellphone)</a></div>
    <input type="hidden" id="erp_add" value="@(CC.ERP.Portal.Global.RegisterSuccessToERP)"/>
</section>
<script type="text/javascript">
    $(function () {
        var href = $("#erp_add").val();
        var tok='@tok';
        var s='@(s)';
        window.location.href = href+"?tok="+tok+"&s="+s;
    })
    //检测是ios还是其他终端
    $("#download_btn").click(function () {
        var u = navigator.userAgent, app = navigator.appVersion;
        var isiOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/); //判断是ios终端
        var isAndroid = u.indexOf('Android') > -1 || u.indexOf('Adr') > -1; //android终端
        if (isiOS) {
            $('#download_btn').attr('href', '@(CC.ERP.Portal.Global.DownloadForIos)');
        }
        else {
            $('#download_btn').attr('href', '@(CC.ERP.Portal.Global.DownloadForAndroid)');
        }
    });
</script>