@using CC.Public
@using CC.Framework;
@{
    ViewBag.Title = "来肯云商活动注册";
    Layout = "~/Views/Shared/_MAccountLayout.cshtml";

    string cdnFileRoot = CC.ERP.Portal.Global.CDNFileRoot;
    ViewData.Add("cdnFileRoot", cdnFileRoot);
    var user = CC.Framework.User.Current;
    var tokeninfo = UserLogin.GetTokenInfo(user.CurrentProfileid, user.OpID, UserLogin.LoginPlatform.PC);
    var tok = tokeninfo.GetString("token");
    var s = tokeninfo.GetString("sign");
}

<style>
    #success_tab {
        width: 60%;
        border: 1px solid #9a9a9a;
        border-radius: 15px;
        margin: 50px auto;
        height: 30px;
    }

        #success_tab ul {
            list-style: none;
        }

            #success_tab ul li {
                float: left;
                width: 50%;
                height: 29px;
                line-height: 30px;
                text-align: center;
                font-size: 18px;
                color: #333;
                display: block;
            }

    .current_type {
        color: #00B4FF !important;
    }

    .gradient-regist {
        border-top: none;
        background: #b49350; /* Old browsers */
        background: -moz-linear-gradient(top, #b49350 0%, #8b7039 65%, #634a21 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #b49350 0%,#8b7039 65%,#634a21 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #b49350 0%,#8b7039 65%,#634a21 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b49350', endColorstr='#634a21',GradientType=0 ); /* IE6-9 */
    }

    .success-color: {
        color: #6e5228 !important;
    }
</style>
@if (Request["sourceflag"] != null && Request["sourceflag"] == "95")
{
    <style>
        #step3 .text {
            margin: 50px 0 37px 0;
        }
    </style>
}
<script>
    $(function () {
        var href = $("#erp_add").val();
        var tok = '@tok';
        var s = '@(s)';
        window.location.href = href + "?tok=" + tok + "&s=" + s;
        $(".type_li").click(function () {
            var id = $(this).attr("id");

            $(".type_li").removeClass("current_type");
            $(this).addClass("current_type");

            if (id == "type2") {
                document.getElementById("style1").style.display = "none";
                document.getElementById("style2").style.display = "";
            } else {
                document.getElementById("style1").style.display = "";
                document.getElementById("style2").style.display = "none";
            }
        });
    });
</script>

<section id="step3">
    <div class="registerTitle gradient-regist" style="padding: 10px 12px 10px 19px;">
        <img style="height:40px;display:inline-block;" src="@(cdnFileRoot)/mobile/image/4.0/for_active/LK_logo.png" />
        @*<a href="/mobile/index"><img src="@(cdnFileRoot)/mobile/image/3.0/product4.0/topbarIcon.png" /></a>*@
        来肯云商
    </div>
    <div class="text success-color" style="color:#6e5228;margin: 40px 0 20px 0;">恭喜您，注册成功！</div>
    @if (Request["sourceflag"] != null && Request["sourceflag"] == "95")
    {
        <img class="img" src="@(cdnFileRoot)/mobile/image/3.0/product4.0/successImg.jpg" />
        <div class="text2">扫码进入微信端使用</div>
    }
    else
    {
        <div class="text2 success-color" style="color:#6e5228;margin: 5px 0 40px 0;line-height:1.5;">
            我们将尽快与您取得联系<br />
            您也可以直接拨打我们的客服热线<br />
            <a href="tel:4008007683" style="color:#b2914b;text-decoration: underline;font-weight: bold;">@(CC.ERP.Portal.Controllers.Public.agent_cellphone)</a>
        </div>
    }
    @*<a class="download_btn" href="http://a.app.qq.com/o/simple.jsp?pkgname=com.lk361.ErpAppStone">IOS下载</a>
        <a class="download_btn" href="https://cdn-www.lk361.com/download/ErpApp-20100.apk ">安卓手机下载</a>
        <div class="bottom_tel">如有疑问请致电<a href="tel://4008007683">400-800-7683</a></div>*@
    <img src="@(cdnFileRoot)/mobile/image/4.0/for_active/QR.jpg" style="width:50%;margin-bottom:20px;" />
    <p style="font-size: 16px;color: #5c5c5c;">立即体验来肯云商产品<br>请扫描上方二维码</p>
    <input type="hidden" id="erp_add" value="@(CC.ERP.Portal.Global.RegisterSuccessToERP)" />
</section>  