@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using CC.Public
@model CC.Public.HashObject
@{
    var pager = Model.GetValue<HashObject>("pager", new HashObject());
    var tree = Model.GetValue<HashObjectList>("tree", new HashObjectList());
    var data = Model.GetValue<HashObjectList>("data", new HashObjectList());
    var totalpage = pager.GetInt("totalpage");
    var page = pager.GetInt("page");
}
<div>
    <div style="height:70px;background:#019e97"></div>
    <div class="panel">
        <div class="container" style="height:auto;margin:40px auto !important;">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="">
                        <div style="float: left; width: 200px;">
                            <div style="font-size: 19pt; height: 46px; line-height: 46px;"><span class="glyphicon glyphicon-print"></span>&nbsp;&nbsp;<span>打印模板下载</span></div>
                        </div>
                        <div style="margin-left: 360px;">
                            <form id="q_form">
                                <div class="input-group input-group-lg">
                                    <input type="hidden" id="q_page" name="page" value="@(page)" />
                                    <input type="hidden" id="q_pnode" name="pnode" value="@Request["pnode"]" />
                                    <input type="text" id="q_key" class="form-control" name="key" placeholder="输入模板名称进行搜索" value="@Request["key"]">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button" onclick='doQuery("byKey")'><span class="glyphicon glyphicon-search"></span></button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="panel-group" id="accordion">
                                @foreach (var a in tree)
                                {
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion" style="text-decoration:none" href="#collapseOne@(a.GetString("id"))">
                                                    @a.GetString("title")
                                                </a>
                                            </h4>
                                        </div>

                                        <div id="collapseOne@(a.GetString("id"))" class="panel-collapse collapse @(Request["pnode"]==a.GetString("tnode")?"in":"")">
                                            <div class="panel-body">
                                                @foreach (var child in a.GetValue<HashObjectList>("children", new HashObjectList()))
                                                {
                                                    <div>
                                                        <a href='javascript:void(0)' onclick="doQuery('byPnode','@(child.GetString("pnode"))')">@(child.GetString("title"))</a>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="col-xs-9">
                            <div>
                                @functions{
                                    string getImgUrl(string url, int width, int height)
                                    {
                                        try
                                        {
                                            Uri uri = new Uri(url);
                                            FileInfo fi = new FileInfo(uri.LocalPath);
                                            return string.Format("{0}_{1}x{2}{3}", url.Replace(fi.Extension, ""), width, height, fi.Extension);
                                        }
                                        catch
                                        {
                                            return "";
                                        }
                                    }
                                }
                                @foreach (var a in data)
                                {
                                    <div style="border:1px solid #ccc;float:left;width:200px;height:270px;margin:10px;margin-top:0">
                                        <div style="height:190px;overflow:hidden"><a href="@(a.GetString("imgs"))"><img src="@(getImgUrl(a.GetString("imgs"),200,200))" /></a></div>
                                        <div style="padding:5px;height:50px;overflow:hidden;text-overflow:ellipsis">@a.GetString("title")</div>
                                        <div style="text-align:center"><a href="/printtemplate/down?id=@(a.GetString("id")) " target="_blank">下载</a></div>
                                    </div>
                                }
                                <div style="clear:both"></div>
                            </div>
                            <div style="text-align:center">
                                @if (page > 1)
                                {
                                    <a href="?page=@(page-1)" onclick="doQuery('byPage',@(page-1))">上一页</a>
                                }
                                <span>当前第@(page)页,总共@(totalpage)页</span>
                                @if (page < totalpage)
                                {
                                    <a href="?page=@(page+1)" onclick="doQuery('byPage',@(page+1))">下一页</a>
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function doQuery(type, p) {
        switch (type) {
            case "byKey":
                $("#q_pnode").val('');
                $("#q_page").val('1');
                break;
            case "byPnode":
                $("#q_key").val('');
                $("#q_page").val('1');
                $("#q_pnode").val(p);
                break;
            case "byPage":
                $("#q_page").val(p);
                break;
        }
        $("#q_form").submit();
        return false;
    }
</script>