@using CC.Public
@using CC.InnerBLL.Enum
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    HashObject header = (HashObject)Model["header"];
    HashObjectList body = (HashObjectList)Model["body"];

    string cdnFileRoot = CC.ERP.Portal.Global.CDNFileRoot;
    ViewData.Add("cdnFileRoot", cdnFileRoot);
}
<link href="@(cdnFileRoot)/Content/buy.css" rel="stylesheet" />

<div id="help">

    <div class="banner" style="height:70px;"></div>

    <div class="panel">
        <div class="container" style="height:auto;margin:40px auto !important;">
            <form action="#" method="post">
                <div class="panel panel-default center-block" style="width: 900px; margin-top: 2%; margin-bottom: 8%">
                    <div class="panel-heading" style="line-height: 35px;font-size:18px;font-weight:bold;background-color:#EBE9E9;">
                        订单详情
                        @if (header.GetInt("status") == (int)OrderStatus.UnPay)
                        {
                            <a class="btn btn-default btnDoCancle" style="float:right;" title='取消' orderid="@(header["orderid"])">取消</a>
                            <span style="float: right;">&nbsp;&nbsp;&nbsp;</span>
                            <a class="btn btn-danger" style="float:right;" title='立即支付' target="_blank" href="@Url.Action("BuySuccess", "Order")?orderid=@header["orderid"]">付款</a>
                        }
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-6">客户名称：@header["companyrealname"]</div>
                            <div class="col-xs-6">用户名称：@header["username"]</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">订单类型：@(ShowEnumName.GetEnumName<OrderType>(header.GetInt("ordertype")))</div>
                            <div class="col-xs-6">订单状态：@(ShowEnumName.GetEnumName<OrderStatus>(header.GetInt("status")))</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">订单创建时间：@header.GetDateTime("createtime").ToString("yyyy-MM-dd HH:mm")</div>
                            @if ((header.GetInt("status") == (int)OrderStatus.UnSure || header.GetInt("status") == (int)OrderStatus.Finished) && header["paytime"] != "")
                            {
                                <div class="col-xs-4">订单支付时间：@header.GetDateTime("paytime").ToString("yyyy-MM-dd HH:mm")</div>
                            }
                            @if (header.GetInt("ordertype") != (int)OrderType.BuyBase)
                            {
                                <div class="col-xs-4">原服务到期时间:@header.GetDateTime("oldexpiredate").ToString("yyyy-MM-dd")</div>
                            }
                        </div>
                        @if (header.GetInt("ordertype") != (int)OrderType.Upgrade)
                        {
                            if (body != null && body.Count > 0)
                            {
                                <div class="row">
                                    <table class="table" style="margin-bottom:0px;">
                                        <tr>
                                            <th>产品名称</th>
                                            <th>用户数量</th>
                                            <th>说明</th>
                                            <th>金额</th>
                                        </tr>
                                        @foreach (HashObject obj in body)
                                        {
                                            <tr class="table_content">
                                                <td>@obj["productname"]</td>
                                                <td>
                                                    @if (obj.GetInt("usercount") > 0)
                                                    {<span>@obj["usercount"]用户</span>}
                                                </td>
                                                <td>@obj["description"]</td>
                                                <td>￥@obj["totalmoney"]</td>
                                            </tr>
                                        }
                                        <tr style="height:1px;">
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </table>
                                </div>
                            }
                            <div class="row">
                                <div class="col-xs-9">
                                    <span class="pull-left">年份：@header["years"]年</span>
                                </div>
                            </div>
                        }
                        else
                        {
                            HashObjectList oldList = (HashObjectList)Model["oldList"], pList = (HashObjectList)Model["pList"];
                            <div class="row">
                                <div class="col-xs-4" style="color: red;">变更前配置：￥@header["oldprice"]/年</div>
                            </div>
                            <div class="row">
                                <table class="table" style="margin-bottom:0px;">
                                    <tr>
                                        <th>产品名称</th>
                                        <th>用户数量</th>
                                        <th>说明</th>
                                        <th>金额</th>
                                    </tr>
                                    @if (oldList != null && oldList.Count > 0)
                                    {
                                        int i = 0;
                                        foreach (HashObject obj in oldList)
                                        {
                                            <tr class="table_content">
                                                <td>@obj["productname"]</td>
                                                <td>
                                                    @if (obj.GetInt("usercount") > 0)
                                                    {
                                                        <span>@obj["usercount"]用户</span>
                                                    }
                                                </td>
                                                <td>@obj["description"]</td>
                                                <td>￥@obj["totalmoney"]</td>
                                            </tr>
                                                    i++;
                                        }
                                    }
                                    <tr style="height:1px;">
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="row">
                                <div class="col-xs-4" style="color: red;">变更后配置：￥@header["newprice"]/年</div>
                                <input type="hidden" id="productversion" name="productversion" value="@Model["productversion"]" />
                            </div>
                            <div class="row">
                                <table class="table" style="margin-bottom:0px;">
                                    <tr>
                                        <th>产品名称</th>
                                        <th>用户数量</th>
                                        <th>说明</th>
                                        <th>金额</th>
                                    </tr>
                                    @if (pList != null && pList.Count > 0)
                                    {
                                        foreach (HashObject obj in pList)
                                        {
                                            <tr class="table_content">
                                                <td>@obj["productname"]</td>
                                                <td>
                                                    @if (obj.GetInt("usercount") > 0)
                                                    {<span>@obj["usercount"]用户</span>}
                                                </td>
                                                <td>@obj["description"]</td>
                                                <td>￥@obj["totalmoney"]</td>
                                            </tr>
                                        }
                                    }
                                    <tr style="height:1px;">
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </table>
                            </div>
                        }
                        <div class="row">
                            <div class="col-xs-9 ">
                                <span class="pull-left">新服务到期时间：</span>
                                <div class="pull-left">
                                    <p><span id="enddate">@header.GetDateTime("newexpiredate").ToString("yyyy-MM-dd")</span></p>
                                </div>
                            </div>
                        </div>
                        @if (header.GetInt("ordertype") == 3)
                        {
                            <div class="row">
                                <div class="col-xs-5">有效期剩余天数：@Model["days"]天</div>
                            </div>
                            <div class="row">
                                <div class="col-xs-10" style="color: red;">升级公式：@Model["upgradePrice"]&nbsp;&nbsp;【（升级后价格-升级前价格）/ 365天 * 有效期剩余天数】</div>
                            </div>
                        }
                        <div class="col-xs-9 alert alert-danger hidden"><i class="glyphicon glyphicon-minus-sign"></i>@Html.ValidationMessage("error")</div>
                    </div>
                    <div class="panel-footer" style="height: 55px">
                        <div class="col-xs-4 pull-right">
                            <span class="total">订单金额: <strong class="price">￥@header["totalmoney"]</strong></span>
                        </div>
                        @if (header.GetDecimal("cutoffmoney") != 0)
                        {
                            <div class="col-xs-3 pull-right">
                                <span class="total">优惠金额: <strong class="price">￥@header["cutoffmoney"]</strong>&nbsp; &nbsp; &nbsp;</span>
                            </div>
                            <div class="col-xs-4 pull-right">
                                <span class="total">优惠前金额: <strong class="price">￥@header["discountmoney"]</strong></span>&nbsp;&nbsp;&nbsp;
                            </div>
                        }
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var errMsg = $(".field-validation-error").text();
        if (errMsg) {
            $('.alert-danger').removeClass("hidden");
        }
    });
    $(function () {
        $(".btn.btnDoCancle").click(function () {
            if (confirm("确认要取消此订单吗?")) {
                var id = $(this).attr("orderid");
                $.post("cancle", { orderid: id }, function () {
                    alert("订单取消成功");
                    location.href = location.href;
                });
            }
        });
    });
</script>
