@using CC.InnerBLL.BLL.Agent
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var urlprefix_s = CC.ERP.Portal.Global.urlprefix_s;

    var urlprefix = "http://" + Request.Url.DnsSafeHost;
    var register_url = string.Format("{0}/account/register", urlprefix_s);
    var login_url = "";

    if (AgentInfo.Current.IsLaiken)
    {
        register_url += string.Format("?salerid={0}&sourceflag={1}", Request["salerid"], Request["sourceflag"]);
    }
    else
    {
        register_url += string.Format("?agentid={0}&salerid={1}&sourceflag={2}", AgentInfo.Current.AgentID, Request["salerid"], Request["sourceflag"]);
    }

    login_url = register_url.Replace("register", "logon");
    ViewBag.urlprefix = urlprefix;

    string cdnFileRoot = CC.ERP.Portal.Global.CDNFileRoot;
    ViewData.Add("cdnFileRoot", cdnFileRoot);
}

<div class="B2C_banner">
    <div class="B2C_banner_wrapper">
        <div class="title">B2C零售商城</div>
        <div class="text"><span>·线上销售·</span><span>·线下管理·</span></div>
        <div class="text"><span>·刺激消费·</span><span>·客群维护·</span><span>·销管一体·</span></div>
        <div class="btn">
            <a class="b2c_btn" target="_blank" href="/product/OnlineTry">点击体验</a>
            <a class="b2c_btn" target="_blank" href="@(register_url)">免费注册试用</a>
        </div>      
    </div>   
</div>
<div class="b2c_content1_wra">
    <div class="b2c_title">洞察互联网模式<span>直击<span class="title_text">传统商贸企业失势根源</span></span></div>
    <div class="b2c_subtitle">面对互联网冲击<span>传统商贸企业为何连连溃败 ？</span></div>
    <div class="b2c_content1_content">
        <ul>
            <li class="item1">
                <div class="title">营业时间</div>
                <div class="item_content">
                    <span> 8:00—22:00</span>
                    24小时
                </div>
                <span class="text"><span>时间限制</span>错过交易可能</span>
            </li>
            <li class="item2">
                <div class="title">销售模式</div>
                <div class="item_content">
                    <span> 坐等顾客上门</span>
                    主动线上获客
                </div>
                <span class="text"><span>业务被动</span>营收下滑</span>
            </li>
        </ul>
        <div class="clear"></div>
        <ul>
            <li class="item3">
                <div class="title">营业空间</div>
                <div class="item_content">
                    <span>受门店面积局限</span>
                    从社区辐射全国
                </div>
                <span class="text"><span>空间限制</span>订单增长乏力</span>
            </li>
            <li class="item4">
                <div class="title">客户黏性</div>
                <div class="item_content">
                    <span> 回头客少回头率低</span>
                    会员制积分维护
                </div>
                <span class="text"><span>客户流失</span>难以为继</span>
            </li>
        </ul>
        <div class="clear"></div>
    </div>
</div>
<div class="b2c_content2">
    <div class="b2c_content2_wra">
        <div class="b2c_title">多重核心功能 <span>颠覆实体店零售</span></div>
        <div class="b2c_subtitle">用信息化手段拉开同行竞争距离</div>
        <div class="b2c_content2_content">
            <div class="content_top">
                <ul>
                    <li class="title">
                        <div><span>商</span><span>城</span><span>前</span><span>台</span></div>
                    </li>
                    <li class="icon">
                        <div class="icon1"><span></span></div>
                        <span>商品列表</span>
                    </li>
                    <li class="icon">
                        <div class="icon2"><span></span></div>
                        <span>商品详情</span>
                    </li>
                    <li class="icon">
                        <div class="icon3"><span></span></div>
                        <span>购物车</span>
                    </li>
                    <li class="icon">
                        <div class="icon4"><span></span></div>
                        <span>支付</span>
                    </li>
                    <li class="icon">
                        <div class="icon5"><span></span></div>
                        <span>积分</span>
                    </li>
                    <li class="icon">
                        <div class="icon6"><span></span></div>
                        <span>优惠</span>
                    </li>
                </ul>
                <div class="clear"></div>
            </div>
            <div class="content_bottom">
                <ul>
                    <li class="title">
                        <div><span>运</span><span>营</span><span>后</span><span>台</span></div>
                    </li>
                    <li class="icon">
                        <div class="icon7"><span></span></div>
                        <span>无缝连接微信</span>
                        <span>拓展销售渠道</span>
                    </li>
                    <li class="icon">
                        <div class="icon8"><span></span></div>
                        <span>整合线上线下会员</span>
                        <span>实现同频精细维护</span>
                    </li>
                    <li class="icon">
                        <div class="icon9"><span></span></div>
                        <span>交易流程结束</span>
                        <span>会员积分生成</span>
                    </li>
                    <li class="icon">
                        <div class="icon10"><span></span></div>
                        <span>零售商城系统</span>
                        <span>交易自动记账</span>
                    </li>
                    <li class="icon">
                        <div class="icon11"><span></span></div>
                        <span>实体门店体验</span>
                        <span>二维码迅速推广</span>
                    </li>
                    <li class="icon">
                        <div class="icon12"><span></span></div>
                        <span>LBS移动定位</span>
                        <span>多门店就近配送</span>
                    </li>
                    <li class="icon">
                        <div class="icon13"><span></span></div>
                        <span>零售商城订单</span>
                        <span>进销存实时同步</span>
                    </li>
                </ul>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>
<div class="b2c_content3">
    <div class="b2c_content2_wra">
        <div class="b2c_title">B2C零售商城运用场景</div>
        <div class="b2c_subtitle">吸引、维护社区周边客户<span>转化全国范围陌生消费者</span></div>
        <img src="@(cdnFileRoot)/Images/3.0/B2C/b2c_content3_img.jpg" />
        <div class="title"><img src="~/Images/3.0/B2C/b2c_content3_img2.png" /><span>适用于社区门店、连锁门店</span></div>       
    </div>
</div>
<div class="b2c_content4">
    <div class="b2c_content4_wra">
        <div class="b2c_title">更有效的盈利方案=更简单的实现途径</div>
        <div class="b2c_subtitle">面向近7亿微信活跃用户销售<span>零售商城系统全面给力</span></div>
        <div class="b2c_content4_content">
            <div class="title">
                <div class="left"><span></span>来肯解决方案</div>
                <div class="right"><span></span>用户企业价值</div>
                <div class="clear"></div>
            </div>
            <ul>
                <li class="left_li">
                    <div class="item1 item">
                        <div class="top"><span class="color1"></span><span>全时在线</span>24小时不打烊</div>
                        <div class="bottom"><span class="color2"></span>抓住网络夜间消费高峰</div>
                        <span class="line"></span>
                    </div>
                    <div class="item2 item">
                        <div class="top"><span class="color1"></span>B2C零售商城跨区域经营</div>
                        <div class="bottom"><span class="color2"></span><span>立足本地</span>辐射全国</div>
                        <span class="line"></span>
                    </div>
                </li>
                <li><img src="@(cdnFileRoot)/Images/3.0/B2C/b2c_content4_img1.png" /></li>
                <li class="right_li">
                    <div class="item3 item">
                        <div class="top"><span>朋友圈展示</span> <span>二维码推广</span>微信支付<span class="color1"></span> </div>
                        <div class="bottom"><span>灵活主动营销</span>实现收入倍增<span class="color2"></span> </div>
                        <span class="line"></span>
                    </div>
                    <div class="item4 item">
                        <div class="top"><span>活动促销</span><span>积分优惠</span>会员一键轻松管理<span class="color1"></span> </div>
                        <div class="bottom"><span>从2到N次持续消费</span>有效提升客户忠诚度<span class="color2"></span></div>
                        <span class="line"></span>
                    </div>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
    </div>
</div>
<div class="b2c_content5">
    <div class="b2c_content5_wra">
        <ul>
            <li>
                <div class="b2c_title">撬动粉丝经济<span>业绩裂变式增长</span></div>
                <div class="b2c_subtitle">会员积分管理体系成为订单暴增的核心引擎</div>
            </li>
            <li><img src="@(cdnFileRoot)/Images/3.0/B2C/b2c_content5_img1.png" /></li>
        </ul>
        <div class="clear"></div>
    </div>
</div>
<div class="b2c_content6">
    <div class="b2c_content6_wra">
        <div class="b2c_title">低成本实现O2O支持</div>
        <div class="b2c_subtitle">1名员工1月薪酬可换全年业绩飞涨</div>
        <div class="b2c_content6_content">
            <ul>
                <li>
                    <div>
                        <img src="@(cdnFileRoot)/Images/3.0/B2C/b2c_content6_img1.png" />
                        <span>商城进销存实时同步</span>
                        <span>线上线下一体化管理</span>
                    </div>                  
                </li>
                <li>
                    <div>
                        <img src="@(cdnFileRoot)/Images/3.0/B2C/b2c_content6_img2.png" />
                        <span>移动完成交易</span>
                        <span>生意随身打理</span>
                    </div>                 
                </li>
                <li>
                    <div>
                        <img src="@(cdnFileRoot)/Images/3.0/B2C/b2c_content6_img3.png" />
                        <span>向微信用户市场发力</span>
                        <span>社交连接式拓展销售</span>
                    </div>                  
                </li>
            </ul>
            <div class="clear"></div>
        </div>
    </div>
</div>
<div class="b2c_content7">
    <div class="title">B2C零售商城+第5代进销存</div>
    <div class="sub_title">企业管理销售整体解决方案</div>
    <a class="b2c_btn btn" href="/product/lkerp">了解进销存</a>
</div>
<div class="b2c_content8">
    <div class="b2c_content8_wra">
        <div class="title">衡量企业现状与阶段目标<span>配置您的管理与销售版本</span></div>
        <ul>
            <li>
                <a target="_blank" href="/product/OnlineTry">点击体验</a>
            </li>
            <li><a target="_blank" href="@(register_url)">免费注册试用</a></li>
        </ul>
        <div class="clear"></div>
    </div>
</div>