@using CC.ERP.Portal
@using CC.InnerBLL.BLL.Agent
@{
    ViewBag.Title = "商城+进销存|进销存商城一体化|一体化O2O|";
    ViewBag.Keywords = "在线进销存,进销存管理软件,进销存软件免费版,进销存,进销存软件,免费进销存,来肯云商,来肯";
    ViewBag.description = "来肯云商在云ERP进销存的基础上，可开通专属微商城。使得线上线下商品一体化、会员一体化，营销一体化，实体店和微商城信息无缝协同。免费进销存,支持手机、平板、电脑、微信多终端接入，随时管理、随地销售，零限制、无约束。";
    
    Layout = "~/Views/Shared/_Layout.cshtml";
    var urlprefix_s = Global.urlprefix_s;

    var urlprefix = "http://" + Request.Url.DnsSafeHost;
    var register_url = string.Format("{0}/account/register", urlprefix_s);
    var login_url = "";

    if (AgentInfo.Current.IsLaiken)
    {
        register_url += string.Format("?salerid={0}&sourceflag={1}", Request["salerid"], Request["sourceflag"]);
    }
    else
    {
        register_url += string.Format("?agentid={0}&salerid={1}&sourceflag={2}", AgentInfo.Current.AgentID, Request["salerid"], Request["sourceflag"]);
    }

    login_url = register_url.Replace("register", "logon");
    ViewBag.urlprefix = urlprefix;

    string cdnFileRoot = CC.ERP.Portal.Global.CDNFileRoot;
    ViewData.Add("cdnFileRoot", cdnFileRoot);
}
<style>
    #wrapper, #footer-outer {
        min-width: 1200px !important;
    }

    .right_03 {
        right: -450px;
        transition: 1.5s;
    }

    .right_04 {
        left: -425px;
        transition: 1.5s;
    }

    .right_05 {
        right: -450px;
        transition: 1.5s;
    }

    .right_06 {
        left: -425px;
        transition: 1.5s;
    }
  
</style>
<div class="Ndh1_banner">
    <div class="Ndh1_banner_wra">
        <div class="Ndh1_title1">把门店开到客户的手机里，</div>
        <div class="Ndh1_title2">增加收益<span>30%</span>以上</div>
        <div class="Ndh1_title3">
            <p>来肯云商在云ERP进销存的基础上，可开通专属微商城。</p>
            <p>使得线上线下商品一体化、会员一体化，</p>
            <p>营销一体化，实体店和微商城信息无缝协同。</p>
        </div>
        <div class="Ndh1_title4">
            <img src="@(cdnFileRoot)/Images/3.0/DH/dhBanner_01.png" />
            <span>无需安装、无需下载 注册即可使用</span>
        </div>
    </div>
</div>
<div class="Ndh1_content1">
    <div class="Ndh1_content1_wra">
        <div class="Ndh1Content_maybe">
            <p>Maybe you're suffering from</p>
            <p>these problems</p>
        </div>
        <div class="Ndh1Content_title1">“也许，<span>您正在遭受这些问题的困扰”</span></div>
        <div class="Ndh1Content_cont">
            <div class="Ndh1_left">
                <div>
                    <p>客单价只减不增；</p>
                    <p>老客户二次消费频率低，流失快；</p>
                    <p>新客户拓展难；</p>
                </div>
            </div>
            <div class="Ndh1_center">
                <img src="@(cdnFileRoot)/Images/3.0/DH/Ndh1_01.png" />
            </div>
            <div class="Ndh1_right">
                <div>
                    <p>促销效果收效甚微；</p>
                    <p>客户购买不方便；</p>
                    <p>销售收入始终提不上来。</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="Ndh1_content2">
    <div class="Ndh1_content2_wra">
        <div class="NdhCont2_title">
            <p>Our O2O‘s solutions</p>
            <p>include online and offline</p>
        </div>
        <div class="NdhCont2_title1">来肯云商<span>线上线下一体化O2O方案</span></div>
        <div class="NdhCont2_title2">
            <div>帮您解决</div>
            <p>发展新客户<span>提升销售收入</span></p>
            <p>维系老客户<span>进销存+商城一体化</span></p>
        </div>
    </div>
</div>
<div class="Ndh1_content3" id="Ndh1_content3">
    <div class="Ndh1_content3_wra">
        <div class="NdhCont3_right right_03">
            <div class="NdhCont3_line"></div>
            <div class="NdhCont3_title">
                <p>Developing</p>
                <p>new customers</p>
            </div>
            <div class="NdhCont3_new">
                <span class="Ndh3_span">发展新客户</span>
                <div>
                    <span class="Ndh3_div">您的客户在哪里</span>
                    <div>
                        <p>全球微信月活跃用户量已超过8.5亿，而你的客户其实就</p>
                        <p>在其中。</p>
                    </div>
                </div>
                <div class="Ndh3_div">
                    <span class="Ndh3_div">拉近与客户间的距离</span>
                    <div>
                        <p>建立自主专属微商城，将门店开到客户的手机里，让销售</p>
                        <p>模式与客户习惯更合拍。</p>
                    </div>
                </div>
                <div>
                    <span class="Ndh3_div">让客户数量成几何倍数增长</span>
                    <div>
                        <p>微商城的分享返利功能，可以让你将朋友、客户发展成为</p>
                        <p>分销员，利用社群效应来实现客户增长。</p>
                    </div>
                </div>
                <a class="NdhCont3_btn" target="_blank" href="@(register_url)">
                    注册试用
                    <span></span>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="Ndh1_content4" id="Ndh1_content4">
    <div class="Ndh1_content4_wra">
        <div class="NdhCont3_right right_04">
            <div class="NdhCont3_line"></div>
            <div class="NdhCont3_title">
                <p>Maintaining</p>
                <p>existing customers</p>
            </div>
            <div class="NdhCont3_new">
                <span class="Ndh3_span">维系老客户</span>
                <div>
                    <span class="Ndh3_div">提升客户消费体验</span>
                    <div>
                        <p>客户自主在你的微商城上下单，订单处理流程客户全程参</p>
                        <p>与，加强与客户间的信息互动，提升用户体验。</p>
                    </div>
                </div>
                <div class="Ndh3_div">
                    <span class="Ndh3_div">客情维护增加老客户黏度</span>
                    <div>
                        <p>系统自动给客户发送生日祝福短信；还可设置会员专属福</p>
                        <p>利，建立签到、消费积分制，让客户黏度更高。</p>
                    </div>
                </div>
                <a class="NdhCont3_btn" target="_blank" href="@(register_url)">
                    注册试用
                    <span></span>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="Ndh1_content5" id="Ndh1_content5">
    <div class="Ndh1_content5_wra">
        <div class="NdhCont3_right right_05">
            <div class="NdhCont3_line"></div>
            <div class="NdhCont3_title">
                <p>The increase</p>
                <p>of sales volum</p>
            </div>
            <div class="NdhCont3_new">
                <span class="Ndh3_span">提升销售收入</span>
                <span class="Ndh3_span1">收入=客户数×客户消费频次×客单价</span>
                <div>
                    <span class="Ndh3_div">提高消费频次</span>
                    <div>
                        <p>优惠券可以刺激消费，针对普通客户微商城支持开放式优</p>
                        <p>惠券，针对重点客户微商城支持定向式优惠券。</p>
                    </div>
                </div>
                <div class="Ndh3_div">
                    <span class="Ndh3_div">促销信息及时传递</span>
                    <div>
                        <p>通过微商城的短信功能以及微信公众号及时将优惠促销信</p>
                        <p>息送达客户，引发客户的消费欲。</p>
                    </div>
                </div>
                <div>
                    <span class="Ndh3_div">提高客单价 </span>
                    <div>
                        <p>根据客户消费情况，对不同的客户设置不同的级别价格；</p>
                        <p>系统智能分析高利润产品，对重点商品进行促销、对特定</p>
                        <p>客户进行定向促销。</p>
                    </div>
                </div>
                <div>
                    <span class="Ndh3_div">批发零售两手抓</span>
                    <div>
                        <p>微商城只需一次上架商品，即可设置针对不同客户群体</p>
                        <p>（批发或零售）的不同价格，瞬间形成批、零结合体系。</p>
                    </div>
                </div>
                <a class="NdhCont3_btn" target="_blank" href="@(register_url)">
                    注册试用
                    <span></span>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="Ndh1_content6">
    <div class="Ndh1_content6_wra">
        <div class="NdhCont3_right right_06">
            <div class="NdhCont3_line"></div>
            <div class="NdhCont3_title">
                <p>Integration of</p>
                <p>inventory management</p>
                <p>system and E-shop</p>
            </div>
            <div class="NdhCont3_new">
                <span class="Ndh3_span">进销存+商城一体化  </span>
                <div>
                    <span class="Ndh3_div">微商城与云端ERP的完美结合</span>
                    <div>
                        <p>只需一次数据录入，前端微商城与后端云ERP数据实时同</p>
                        <p>步，避免了数据信息不能及时同步带来的麻烦。</p>
                    </div>
                </div>
                <a class="NdhCont3_btn" target="_blank" href="@(register_url)">
                    注册试用
                    <span></span>
                </a>
            </div>
        </div>
    </div>
</div>
<a href="/Product/IndurstryCase" class="b2c_content7" style="display:block;">
    <div class="b2c_content7_wra">
        <div class="cont9_title1" style="width:500px;">
            100000<span>家商贸企业</span>
        </div>
        <img src="@(cdnFileRoot)/Images/3.0/DH/Ndh1_shangmao.jpg" />
        <div class="b2c_with">WITH PROFESSIONAL ACHIEVEMENT QUALITY</div>
    </div>
</a>

<script>
    $(".Ndh1_content3 .icon").hover(function () {
        $(".Ndh1_content3 .icon").each(function () {
            $(this).removeClass("active");
        })
        $(this).addClass("active");
    })

    $(window).scroll(function () {
        if (($(window).scrollTop()) > 1250) {
            $(".right_03").css("right", "0");
        } else {
            $(".right_03").css("right", "-450px");
        }
        if (($(window).scrollTop()) > 2050) {
            $(".right_04").css("left", "25px");
        } else {
            $(".right_04").css("left", "-425px");
        }
        if (($(window).scrollTop()) > 2950) {
            $(".right_05").css("right", "0");
        } else {
            $(".right_05").css("right", "-450px");
        }
        if (($(window).scrollTop()) > 3900) {
            $(".right_06").css("left", "25px");
        } else {
            $(".right_06").css("left", "-425px");
        }
    });

</script>





