@using CC.InnerBLL.BLL.Agent
@{    
    Layout = "~/Views/Shared/_Layout.cshtml";
    var urlprefix_s = CC.ERP.Portal.Global.urlprefix_s;

    string register_text = "免费注册试用";
    if (CC.ERP.Portal.Global.HasCookieFree())
    {
        register_text = "免费注册使用";
    }

    string cdnFileRoot = CC.ERP.Portal.Global.CDNFileRoot;
    ViewData.Add("cdnFileRoot", cdnFileRoot);
}

@*产品页面*@

<div class="product_banner">
    <div class="product1_bannerwrapper">
        <div class="product1_bannerL"><img src="@(cdnFileRoot)/Images/3.0/product/product1_bannerimg.png" /></div>
        <div class="product1_bannerR">
            <div class="product1_bannertitle">
                <img class="lazy" data-original="@(cdnFileRoot)/Images/3.0/product/product1_logoimg.png" />
                <div><div>云端商贸管理专家</div>
                @*<span>进销存 · 客户管理 · 办公协同</span>*@
                </div>
            </div>
            <div class="product1_bannerdevice">
                <span>无需下载 无需安装 注册即可使用</span>
                <div class="lkerp_bannerbtn lkerp_bouttombtn product1_bannerbtn"><div><a target="_blank" href="@(urlprefix_s)/account/register@(AgentInfo.Current.IsLaiken ? "" : "?agentid=" + AgentInfo.Current.AgentID)">@register_text</a></div></div>
                <ul>
                    <li><span><img src="@(cdnFileRoot)/Images/3.0/product/product1_bannericon1.png" /></span><div>手机</div></li>
                    <li><span><img src="@(cdnFileRoot)/Images/3.0/product/product1_bannericon2.png" /></span><div>微信</div></li>
                    <li><span><img src="@(cdnFileRoot)/Images/3.0/product/product1_bannericon3.png" /></span><div>电脑</div></li>
                    <li style="margin-right:0px;"><span><img src="@(cdnFileRoot)/Images/3.0/product/product1_bannericon4.png" /></span><div>pad</div></li>
                </ul>
            </div>
        </div>
        <div class="clear"></div>
    </div> 
</div>
<div style="display:@(CC.ERP.Portal.Global.HasCookieFree() ? "block" : "none")">
    <div style="width:820px; margin:0 auto;">
        <div class="product_freewrapper"></div>
        <div class="product_freebtn" style="top:-66px;"><a target="_blank" href="@(urlprefix_s)/account/register@(AgentInfo.Current.IsLaiken ? "" : "?agentid=" + AgentInfo.Current.AgentID)">免费注册试用></a></div>
    </div>
</div>

  <!--*************适合我吗*******************-->
<div style=" padding:60px 0; background-color:#efefef;">
    <div class="product1_businesstitle"><span class="product_contenttitle">来肯云商适合我吗</span><div>专注于<span style="font-weight:900;color:#000;">中小微商贸企业</span>，适合<span style="font-weight:900;color:#000;">绝大多数行业</span></div></div>
    <div class="product1_businesswrapper">
        <div class="product1_businessimg">
            <img class="lazy" data-original="@(cdnFileRoot)/Images/3.0/product/product1_img1.png" />
            <div class="lkerp_bannerbtn lkerp_bouttombtn product1_businessbtn"><div><a target="_blank" href="@(urlprefix_s)/account/register@(AgentInfo.Current.IsLaiken ? "" : "?agentid=" + AgentInfo.Current.AgentID)">@register_text</a></div></div>
        </div>
        <div class="product1_business">
            <ul>
                <li>
                    <span><span class="img1"></span><div>服装鞋帽</div></span>
                    <span><span class="img2"></span><div>手机通讯</div></span>
                    <span><span class="img3"></span><div>家电数码</div></span>
                    <span><span class="img4"></span><div>食品行业</div></span>
                </li>
                <li>
                    <span><span class="img5"></span><div>五金建材</div></span>
                    <span><span class="img6"></span><div>机械机电</div></span>
                    <span><span class="img7"></span><div>汽配汽修</div></span>
                    <span><span class="img8"></span><div>医药行业</div></span>
                </li>
                <li>
                    <span><span class="img9"></span><div>母婴用品</div></span>
                    <span><span class="img10"></span><div>个护化妆</div></span>
                    <span><span class="img11"></span><div>生鲜农贸</div></span>
                    <span><span class="img12"></span><div>珠宝钟表</div></span>
                </li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
</div>

  <!--*************能做什么*******************-->
<div class="product_function">
    <div class="product_functionwrapper">
        <div class="product_contenttitle product_12icontitle">来肯云商能帮我做什么</div>
        <div class="product_12iconwrapper">
            <ul>
                <li>
                    <div class="product_icon1 product_12iconimg"></div>
                    <div class="product_12icontext1">销售管理</div>
                    <div class="product_12icontext2"><span>客户报价、价格跟踪</span><span>订单管理</span></div>
                </li>
                <li>
                    <div class="product_icon2 product_12iconimg"></div>
                    <div class="product_12icontext1">库存管理</div>
                    <div class="product_12icontext2"><span>实物库存、可用库存</span><span>库存盘点、库存预警</span></div>
                </li>
                <li>
                    <div class="product_icon3 product_12iconimg"></div>
                    <div class="product_12icontext1">财务管理</div>
                    <div class="product_12icontext2"><span>收款、付款</span><span>费用管理</span></div>
                </li>
                <li>
                    <div class="product_icon4 product_12iconimg"></div>
                    <div class="product_12icontext1">采购管理</div>
                    <div class="product_12icontext2"><span>以销定购</span><span>成本权限控制</span></div>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
        <div class="product_12iconwrapper">
            <ul>
                <li>
                    <div class="product_icon5 product_12iconimg"></div>
                    <div class="product_12icontext1">往来管理</div>
                    <div class="product_12icontext2"><span>客户应收、供应商应付</span><span>账期管理</span></div>
                </li>
                <li>
                    <div class="product_icon6 product_12iconimg"></div>
                    <div class="product_12icontext1">会员管理</div>
                    <div class="product_12icontext2"><span>会员积分</span><span>礼品兑换</span></div>
                </li>
                <li>
                    <div class="product_icon7 product_12iconimg"></div>
                    <div class="product_12icontext1">客户管理</div>
                    <div class="product_12icontext2"><span>客户档案</span><span>客户跟进</span></div>
                </li>
                <li>
                    <div class="product_icon8 product_12iconimg"></div>
                    <div class="product_12icontext1">合同管理</div>
                    <div class="product_12icontext2"><span>合同签订</span><span>合同转订单</span></div>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
        <div class="product_12iconwrapper">
            <ul>
                <li>
                    <div class="product_icon9 product_12iconimg"></div>
                    <div class="product_12icontext1">日程管理</div>
                    <div class="product_12icontext2"><span>日程协作</span><span>客户联系人关联</span></div>
                </li>
                <li>
                    <div class="product_icon10 product_12iconimg"></div>
                    <div class="product_12icontext1">日志管理</div>
                    <div class="product_12icontext2"><span>日志记录</span><span>评价人设定</span></div>
                </li>
                <li>
                    <div class="product_icon11 product_12iconimg"></div>
                    <div class="product_12icontext1">决策支持</div>
                    <div class="product_12icontext2"><span>商品畅销滞销分析</span><span>查收入、查利润</span></div>
                </li>
                <li>
                    <div class="product_icon12 product_12iconimg"></div>
                    <div class="product_12icontext1">微信平台</div>
                    <div class="product_12icontext2"><span>无需安装，微信直接使用</span><span>快速搭建自有微商城</span></div>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
    </div>
</div>
 <!--*************怎么办*******************-->
<div class="product1_howwrapper">
    <div class="product1_howtitle"><div class="product_contenttitle">我不会使用怎么办？</div><div style="margin:10px 0 0 30px;">来肯软件的最大服务特色，<span>我在，我一直在</span></div></div>
    <ul>
        <li><img src="@(cdnFileRoot)/Images/3.0/product/product1_howimg1.png" /></li>
        <li class="product1_howtext">
            <div><img src="@(cdnFileRoot)/Images/3.0/product/product1_howimg2.png" /><span>包教包会  永无后顾之忧</span></div>
            <div style="margin-left:30px;"><img src="@(cdnFileRoot)/Images/3.0/product/product1_howimg2.png" /><span>随叫随到  7X24小时</span></div>
        </li>
        <li><div class="lkerp_bannerbtn lkerp_bouttombtn product1_howbtn"><div><a target="_blank" href="@(urlprefix_s)/account/register@(AgentInfo.Current.IsLaiken ? "" : "?agentid=" + AgentInfo.Current.AgentID)">@register_text</a></div></div></li>
    </ul>
    <div class="clear"></div>
</div>
 <!--*************理由*******************-->
<div class="product1_reasonwrapper">
    <div class="product_contenttitle" style="text-align:center;">选择来肯云商的6大理由</div>
    <div class="product1_contentrwrapper">
        <div class="product1_reasonL" style="width:450px;">
            <div class="product1_reasonname">来肯云商</div>
            <ul>
                <li class="product1_reasoncontent1">
                    <div><img class="lazy" data-original="@(cdnFileRoot)/Images/3.0/product/product1_reasonicon1.png" /><span>低成本</span></div>
                    <div class="product1_reasonLtext"><div><img class="lazy" data-original="@(cdnFileRoot)/Images/3.0/product/product1_reasonicon7.png" />每天不到2元钱</div></div>
                    <div class="clear"></div>
                </li>
                
                <li class="product1_reasoncontent2">
                    <div><img class="lazy" data-original="@(cdnFileRoot)/Images/3.0/product/product1_reasonicon2.png" /><span>一体化</span></div>
                    <div class="product1_reasonLtext" style="top:2px;"><div><img class="lazy" data-original="@(cdnFileRoot)/Images/3.0/product/product1_reasonicon7.png" />进销存 财务 客户管理 办公协同</div></div>
                    <div class="clear"></div>
                 </li>
             
                <li class="product1_reasoncontent2">
                    <div><img class="lazy" data-original="@(cdnFileRoot)/Images/3.0/product/product1_reasonicon3.png" /><span>简单易用</span></div>
                    <div class="product1_reasonLtext" style="top:-2px;"><div><img class="lazy" data-original="@(cdnFileRoot)/Images/3.0/product/product1_reasonicon7.png" />简简单单，一用就会</div></div>
                    <div class="clear"></div>
                </li>
          
                <li class="product1_reasoncontent2">
                    <div><img class="lazy" data-original="@(cdnFileRoot)/Images/3.0/product/product1_reasonicon4.png" /><span>移动便捷</span></div>
                    <div class="product1_reasonLtext"><div><img class="lazy" data-original="@(cdnFileRoot)/Images/3.0/product/product1_reasonicon7.png" />能上网，就能使用</div></div>
                    <div class="clear"></div>
                 </li>
               
                <li class="product1_reasoncontent2">
                    <div><img class="lazy" data-original="@(cdnFileRoot)/Images/3.0/product/product1_reasonicon5.png" /><span>高安全</span></div>
                    <div class="product1_reasonLtext" style="top:2px;"><div><img class="lazy" data-original="@(cdnFileRoot)/Images/3.0/product/product1_reasonicon7.png" />数据加密，多地备份，24小时监控</div></div>
                    <div class="clear"></div>
                </li>
             
                <li class="product1_reasoncontent2">
                    <div><img class="lazy" data-original="@(cdnFileRoot)/Images/3.0/product/product1_reasonicon6.png" /><span>服务好</span></div>
                    <div class="product1_reasonLtext" style="top:5px;"><div><img class="lazy" data-original="@(cdnFileRoot)/Images/3.0/product/product1_reasonicon7.png" />1对1服务包教包会，永久免费升级</div></div>
                    <div class="clear"></div>
                </li>
      
            </ul>
            <div class="clear"></div>
        </div>
        <div class="product1_reasonline"></div>
        <div class="product1_reasonR">
            <div class="product1_reasonname">传统软件</div>
            <ul>
                <li><span>软件成本、硬件成本、人力成本</span><img class="lazy" data-original="@(cdnFileRoot)/Images/3.0/product/product1_reasonicon8.png" /></li>
                <li><span>多套软件，数据不通，多处登陆</span><img class="lazy" data-original="@(cdnFileRoot)/Images/3.0/product/product1_reasonicon8.png" /></li>
                <li style="margin-top:75px;"><span>三个月培训，半个月实施，学不会</span><img class="lazy" data-original="@(cdnFileRoot)/Images/3.0/product/product1_reasonicon8.png" /></li>
                <li><span>只能在本地电脑使用</span><img class="lazy" data-original="@(cdnFileRoot)/Images/3.0/product/product1_reasonicon8.png" /></li>
                <li style="margin-top:78px;"><span>防火防盗防病毒</span><img class="lazy" data-original="@(cdnFileRoot)/Images/3.0/product/product1_reasonicon8.png" /></li>
                <li><span>产品买了没人管，上门服务收费贵</span><img class="lazy" data-original="@(cdnFileRoot)/Images/3.0/product/product1_reasonicon8.png" /></li>
            </ul>
        </div>
    </div>
    <div class="clear"></div>
</div>

 <!--*************提供的服务*******************-->
<div class="product1_providewrapper">
    <div class="product1_providetitle">来肯已为全球超过50个国家的 <span>60000</span> 家企业客户提供优质服务</div>
    <div><img class="lazy" data-original="@(cdnFileRoot)/Images/3.0/product/product1_providemap.png" /></div>
    <div class="product1_providetext">
        <ul>
            <li>每天超过 <span>20万</span>张单据在这里产生</li>
            <li><div class="lkerp_bannerbtn lkerp_bouttombtn product1_providebtn"><div><a target="_blank" href="@(urlprefix_s)/account/register@(AgentInfo.Current.IsLaiken ? "" : "?agentid=" + AgentInfo.Current.AgentID)">@register_text</a></div></div></li>
        </ul>
        <div class="clear"></div>
    </div>
</div>


<div class="lkerp_bannerbtn lkerp_bouttombtn product1_botbtn"><div><a target="_blank" href="@(urlprefix_s)/account/register@(AgentInfo.Current.IsLaiken ? "" : "?agentid=" + AgentInfo.Current.AgentID)">@register_text</a></div></div>

