@using CC.ERP.Portal
@using CC.InnerBLL.BLL.Agent
@{
    ViewBag.Title = "账套打通|适用于加盟商/专柜/直营店/经销商/分公司和总部的账套打通！库存智能补货";
    ViewBag.Keywords = "账套打通,多门店管理,库存智能补货";
    ViewBag.description = "账套打通，适用于加盟商，专柜，直营店，经销商，分公司，和总部的账套打通！实现数据互通，单据互通，账套打通，平行接入；解决多门店管理，下级库存及时智能补货等问题。";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var urlprefix_s = Global.urlprefix_s;

    var urlprefix = "http://" + Request.Url.DnsSafeHost;
    var register_url = string.Format("{0}/account/register", urlprefix_s);
    var login_url = "";

    if (AgentInfo.Current.IsLaiken)
    {
        register_url += string.Format("?salerid={0}&sourceflag={1}", Request["salerid"], Request["sourceflag"]);
    }
    else
    {
        register_url += string.Format("?agentid={0}&salerid={1}&sourceflag={2}", AgentInfo.Current.AgentID, Request["salerid"], Request["sourceflag"]);
    }

    login_url = register_url.Replace("register", "logon");
    ViewBag.urlprefix = urlprefix;

    string cdnFileRoot = CC.ERP.Portal.Global.CDNFileRoot;
    ViewData.Add("cdnFileRoot", cdnFileRoot);
}
<style>
    #wrapper, #footer-outer {
        min-width: 1280px !important;
    }
</style>
<div class="Linkage_banner">
    <div class="Linkage_banner_wra">
        <div class="Linkage_title1">全渠道数据打通，无缝连接经销加盟</div>
        <div class="Linkage_title2">「智能生产/采购计划」「智能补货」「多供应商管理」</div>
        <div class="Linkage_title2_1">业绩提升<span>3</span>倍以上</div>
        <div class="Linkage_title3">
            <p>创新技术，打破连锁加盟管理僵局，</p>
            <p>用数据拉近总部与经销商，经销商与终端的距离，</p>
            <p>无缝连接生产/采购、销售、库存、财务，助力连锁加盟企业掌控全局</p>
        </div>
        <div class="Linkage_title4">
            <img src="@(cdnFileRoot)/Images/3.0/DH/dhBanner_01.png" alt="在线进销存,进销存软件,经销商管理,crm管理系统,免费进销存软件,进销存软件哪个好,进销存软件免费版">
            <span>无需安装、无需下载 注册即可使用</span>
        </div>
    </div>
</div>
<div class="Lankage_content1">
    <div class="Lankage_content1_wra">
        <div class="LankageContent_title1">“也许，<span>您正在遭受这些问题的困扰”</span></div>
        <div class="LankageContent_cont">
            <div class="Lankage_left">
                <div>
                    <p>销售数据模糊，决策常常偏离市场</p>
                    <p>生产/采购过多，库存层层积压</p>
                    <p>货品准备不足，下游经销商流失</p>
                </div>
            </div>
            <div class="Lankage_center">
                <img src="@(cdnFileRoot)/Images/3.0/DH/Ndh1_01.png" alt="在线进销存,进销存软件,经销商管理,crm管理系统,免费进销存软件,进销存软件哪个好,进销存软件免费版">
            </div>
            <div class="Lankage_right">
                <div>
                    <p>要货流程繁琐，销售机会损失</p>
                    <p>补货不及时，竞争对手趁虚而入</p>
                    <p>流动资金减少，新品竞争受威胁</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="Linkage_content2">
    <div class="Linkage_width">
        <div class="Linkage_title">经销加盟管理能为您实现：</div>
        <ul class="Linkage_cont">
            <li>
                <div><img src="@(cdnFileRoot)/Images/3.0/lkage/Linkicon_01.png"></div>
                <span>更精准的数据协同管理</span>
                
            </li>
            <li>
                <div>
                    <img src="@(cdnFileRoot)/Images/3.0/lkage/Linkicon_02.png?v=20170704" style="margin-left:7px;">
                </div>
                <span>库存周转率提升三倍以上 </span>
              
            </li>
            <li>
                <div style="margin: 5px 0 46px 100px;">
                    <img src="@(cdnFileRoot)/Images/3.0/lkage/Linkicon_03.png?v=20170704">
                </div>
                <span style="margin-left:15px">做好更优的生产采购计划</span>
            </li>
            <li>
                <div style="margin: 13px 0 36px 92px;">
                 <img src="@(cdnFileRoot)/Images/3.0/lkage/Linkicon_04.png?v=20170704"></div>
                <span>行业竞争所向披靡</span>
            </li>
        </ul>
    </div>

</div>
<div class="LinkageContent3" id="LinkageContent3">
    <div class="Linkage_cont">
        <div class="title">智能生产/采购计划</div>
        <div class="Linkage_left">
            <div>
                <span>下个周期该生产/采购什么</span>
                <div>
                    凭经验备货，库存问题频现。来肯云商打通经销商销售数据，一张销量报表告诉你生产/采购什么。
                </div>
                <span>生产/采购多少</span>
                <div>
                    面对目标商品，却不知该生产/采购多少。来肯云商打通经销商库存数据，精准核算。
                </div>
                <span>新品结构调整</span>
                <div>
                    生产/采购计划失误，阻碍新品开发。来肯云商助您在合理的范围内备货，始终保持竞争力。
                </div>
            </div>
            <a class="NdhCont3_btn" target="_blank" href="@(register_url)">
                注册试用
                <span></span>
            </a>
        </div>
        <div class="cont2_right kc_right carousel-inner active" role="listbox">
            <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="3000">
                <!-- 轮播（Carousel）项目 -->
                <div class="carousel-inner ">
                    <div class=" item active">
                        <img src="@(cdnFileRoot)/Images/3.0/lkage/linkage_01.png" />
                    </div>
                    <div class=" item">
                        <img src="@(cdnFileRoot)/Images/3.0/lkage/linkage_02.png" />
                    </div>
                </div>
                <!-- 轮播（Carousel）导航 -->
                <a class="carousel-control left left01" href="#myCarousel" data-slide="prev">
                    <img src="@(cdnFileRoot)/Images/3.0/lkage/arrowCarousel_left.png" />
                </a>
                <a class="carousel-control right right01" href="#myCarousel" data-slide="next">
                    <img src="@(cdnFileRoot)/Images/3.0/lkage/arrowCarousel_right.png" />
                </a>
            </div>
        </div>
    </div>
</div>
<div class="LinkageContent4" id="LinkageContent4">
    <div class="Linkage_cont">
        <div class="title">智能补货</div>
        <div class="cont2_right kc_right carousel-inner active" role="listbox">
            <div id="myCarouse2" class="carousel slide" data-ride="carousel" data-interval="3000">
                <!-- 轮播（Carousel）项目 -->
                <div class="carousel-inner ">
                    <div class=" item active">
                        <img src="@(cdnFileRoot)/Images/3.0/lkage/linkage_03.png" />
                    </div>
                    <div class=" item">
                        <img src="@(cdnFileRoot)/Images/3.0/lkage/linkage_04.png" />
                    </div>
                </div>
                <!-- 轮播（Carousel）导航 -->
                <a class="carousel-control left left01" href="#myCarouse2" data-slide="prev">
                    <img src="@(cdnFileRoot)/Images/3.0/lkage/arrowCarousel_left.png" />
                </a>
                <a class="carousel-control right right01" href="#myCarouse2" data-slide="next">
                    <img src="@(cdnFileRoot)/Images/3.0/lkage/arrowCarousel_right.png" />
                </a>
            </div>
        </div>
        <div class="Linkage_left">
            <div>
                <span>补货总在缺货后</span>
                <div>
                    电话要货响应慢，使用来肯云商直接查询剩余库存，快速反应，及时配送。
                </div>
                <span>高销售目标带来库存积压</span>
                <div>
                    来肯云商根据市场需求制定备货计划，既保证终端销量又不至于库存积压。
                </div>
                <span>多供应商竞争</span>
                <div>
                    上门抄单流程长，竞争对手半路打劫。来肯云商让您手握商机，第一时间送货，在竞争中脱颖而出。
                </div>
            </div>
            <a class="NdhCont3_btn" target="_blank" href="@(register_url)">
                注册试用
                <span></span>
            </a>
        </div>
    </div>
</div>
<div class="LinkageContent5" id="LinkageContent5">
    <div class="Linkage_cont">
        <div class="title">非加盟业务管理</div>
        <div class="Linkage_left">
            <div>
                <span>操作限制，重复记账</span>
                <div style="margin-bottom:50px;">
                    传统连锁加盟软件一对一管理不便，来肯云商支持经销商只管理您的商品，也可对接其他商品的财务、往来交易。
                </div>
                <span>移动开单</span>
                <div style="margin-bottom:70px;">
                    传统软件数据处理难，移动应用不便。来肯云商数据云端无忧存储，支持经销商移动开单，并同步记账。
                </div>
            </div>
            <a class="NdhCont3_btn" target="_blank" href="@(register_url)">
                注册试用
                <span></span>
            </a>
        </div>
        <div class="cont2_right kc_right carousel-inner active" role="listbox">
            <div id="myCarouse3" class="carousel slide" data-ride="carousel" data-interval="3000">
                <!-- 轮播（Carousel）项目 -->
                <div class="carousel-inner ">
                    <div class=" item active">
                        <img src="@(cdnFileRoot)/Images/3.0/lkage/linkage_05.png" />
                    </div>
                    <div class=" item">
                        <img src="@(cdnFileRoot)/Images/3.0/lkage/linkage_06.png" />
                    </div>
                </div>
                <!-- 轮播（Carousel）导航 -->
                <a class="carousel-control left left01" href="#myCarouse3" data-slide="prev">
                    <img src="@(cdnFileRoot)/Images/3.0/lkage/arrowCarousel_left.png" />
                </a>
                <a class="carousel-control right right01" href="#myCarouse3" data-slide="next">
                    <img src="@(cdnFileRoot)/Images/3.0/lkage/arrowCarousel_right.png" />
                </a>
            </div>
        </div>
    </div>
</div>
<a class="Linkage_content6" href="/Product/IndurstryCase" style="display:block">
    <div class="b2c_content7_wra">
        <div class="cont9_title1" style="width:500px;">
            100000<span>家商贸企业</span>
        </div>
        <img src="@(cdnFileRoot)/Images/3.0/lkage/Linkage_shangmao.png" alt="在线进销存,进销存软件,经销商管理,crm管理系统,免费进销存软件,进销存软件哪个好,进销存软件免费版">
        <div class="b2c_with">WITH PROFESSIONAL ACHIEVEMENT QUALITY</div>
    </div>
</a>