@using CC.ERP.Portal
@using CC.InnerBLL.BLL.Agent
@{    
    Layout = "~/Views/Shared/_Layout.cshtml";
    var urlprefix_s = Global.urlprefix_s;

    var urlprefix = "http://" + Request.Url.DnsSafeHost;
    var register_url = string.Format("{0}/account/register", urlprefix_s);
    var login_url = "";

    if (AgentInfo.Current.IsLaiken)
    {
        register_url += string.Format("?salerid={0}&sourceflag={1}", Request["salerid"], Request["sourceflag"]);
    }
    else
    {
        register_url += string.Format("?agentid={0}&salerid={1}&sourceflag={2}", AgentInfo.Current.AgentID, Request["salerid"], Request["sourceflag"]);
    }

    login_url = register_url.Replace("register", "logon");
    ViewBag.urlprefix = urlprefix;

    string cdnFileRoot = CC.ERP.Portal.Global.CDNFileRoot;
    ViewData.Add("cdnFileRoot", cdnFileRoot);
}
<style>
    .Nlkerp_forfree .Nlkerp_forfree_wra .price_wra .price_right{
        margin-left:30px;
    }
    .Nlkerp_forfree .Nlkerp_forfree_wra .text{
        margin-top:40px;
    }
    .Nlkerp_forfree .Nlkerp_forfree_wra .price_wra li img{
        width:65px;
    }
</style>
@*产品着陆页*@
<div class="Nproduct_bannerbg">
    <div class="Nlkerp_bannercontent">
        <div class="content_div">
            <span>能带来销售业绩的</span>
            <div class="text1">全新一代进销存</div>
            <a class="lkrep_btn0525 btn_blue" target="_blank" href="@(register_url)">免费注册使用</a>
            <div class="text2"><span>无需下载安装</span><span>注册即可使用</span></div>
        </div>
    </div>
</div>
<!--banner-end-->

@if (CC.ERP.Portal.Global.HasCookieFree())
{
    <div class="Nlkerp_forfree">
        <div class="Nlkerp_forfree_wra">
            <div class="title1">行业领先的移动进销存软件(第5代)<span>免费版</span></div>
            <div class="Nlkerp_forfree_content">
                <div class="price_wra1">
                    <span>价值<span class="font-line">730元/年</span></span>
                    <span>现在注册</span>
                    <span> 即<span>免费使用</span></span>
                </div>             
                <div class="num_text">
                    限量：每天<span>30名</span>注册用户申领
                </div>
                <img class="img" src="@(cdnFileRoot)/Images/3.0/lkerp/forfree_img_0525.jpg" />
            </div>    
            <div class="forfree_btn">
                <a class="lkrep_btn0525" target="_blank" href="@(register_url)">免费注册试用</a>
            </div>                 
        </div>
    </div>
}



<div class="Nlkerp_content2">
    <div class="Nlkerp_content2_wra">
        <div class="title">全业务流程智能管控</div>
        <div class="text">已应用于10余个行业中超60,000家商贸企业</div>
        <div class="img">
            <ul>
                <li>
                    <div class="item">
                        <a target="_blank" href="@(register_url)">
                            <img src="@(cdnFileRoot)/Images/3.0/lkerp/lkerp0525_content2img1.jpg" />                           
                            <div class="content_img">
                                <div class="title_img">五金建材</div>
                                <div>五金用具</div>
                                <div>建材家具</div>
                                <div>电线电缆</div>
                                <div>瓷砖卫浴</div>
                                <div>...</div>
                            </div>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="item">
                        <a target="_blank" href="@(register_url)">
                            <img src="@(cdnFileRoot)/Images/3.0/lkerp/lkerp0525_content2img2.jpg" />
                            <div class="content_img">
                                <div class="title_img">食品快消品</div>
                                <div>酒类</div>
                                <div>饮料</div>
                                <div>调辅料</div>
                                <div>奶制品</div>
                                <div>...</div>
                            </div>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="item">
                        <a target="_blank" href="@(register_url)">
                            <img src="@(cdnFileRoot)/Images/3.0/lkerp/lkerp0525_content2img3.jpg" />
                            <div class="content_img">
                                <div class="title_img">服装鞋帽</div>
                                <div>男装</div>
                                <div>女装</div>
                                <div>童装</div>
                                <div>鞋靴箱包</div>
                                <div>衣帽配饰</div>
                                <div>...</div>
                            </div>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="item">
                        <a target="_blank" href="@(register_url)">
                            <img src="@(cdnFileRoot)/Images/3.0/lkerp/lkerp0525_content2img4.jpg" />
                            <div class="content_img">
                                <div class="title_img">手机通讯</div>
                                <div>手机</div>
                                <div>手机配件</div>
                                <div>通讯器材</div>
                                <div>...</div>
                            </div>
                        </a>
                    </div>
                </li>
            </ul>
            <div class="clear"></div>
            <ul>               
                <li>
                    <div class="item">
                        <a target="_blank" href="@(register_url)">
                            <img src="@(cdnFileRoot)/Images/3.0/lkerp/lkerp0525_content2img5.jpg" />
                            <div class="content_img">
                                <div class="title_img">数码家电</div>
                                <div>家用电器</div>
                                <div>电脑数码</div>
                                <div>电脑耗材</div>
                                <div>...</div>
                            </div>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="item">
                        <a target="_blank" href="@(register_url)">
                            <img src="@(cdnFileRoot)/Images/3.0/lkerp/lkerp0525_content2img6.jpg" />
                            <div class="content_img">
                                <div class="title_img">机械机电</div>
                                <div>机械设备</div>
                                <div>机械配件</div>
                                <div>机电设备</div>
                                <div>机电配件</div>
                                <div>...</div>
                            </div>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="item">
                        <a target="_blank" href="@(register_url)">
                            <img src="@(cdnFileRoot)/Images/3.0/lkerp/lkerp0525_content2img7.jpg" />
                            <div class="content_img">
                                <div class="title_img">汽配汽修</div>
                                <div>车门车窗</div>
                                <div>内外饰件</div>
                                <div>车载电器</div>
                                <div>日常耗材</div>
                                <div>...</div>
                            </div>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="item">
                        <a target="_blank" href="@(register_url)">
                            <img src="@(cdnFileRoot)/Images/3.0/lkerp/lkerp0525_content2img8.jpg" />
                            <div class="content_img">
                                <div class="title_img">化妆用品</div>
                                <div>粉类</div>
                                <div>水乳类</div>
                                <div>美发类</div>
                                <div>香水类</div>
                                <div>...</div>
                            </div>
                        </a>
                    </div>
                </li>
            </ul>
            <div class="clear"></div>
            <ul>
                <li>
                    <div class="item">
                        <a target="_blank" href="@(register_url)">
                            <img src="@(cdnFileRoot)/Images/3.0/lkerp/lkerp0525_content2img9.jpg" />
                            <div class="content_img">
                                <div class="title_img">医药制品</div>
                                <div>药剂药片</div>
                                <div>保健用品</div>
                                <div>医疗设备</div>
                                <div>...</div>
                            </div>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="item">
                        <a target="_blank" href="@(register_url)">
                            <img src="@(cdnFileRoot)/Images/3.0/lkerp/lkerp0525_content2img10.jpg" />
                            <div class="content_img">
                                <div class="title_img">母婴用品</div>
                                <div>孕妇用品</div>
                                <div>妈妈用品</div>
                                <div>婴儿用品</div>
                                <div>洗护用品</div>
                                <div>...</div>
                            </div>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="item">
                        <a target="_blank" href="@(register_url)">
                            <img src="@(cdnFileRoot)/Images/3.0/lkerp/lkerp0525_content2img11.jpg" />
                            <div class="content_img">
                                <div class="title_img">生鲜农贸</div>
                                <div>蔬菜</div>
                                <div>水果</div>
                                <div>肉类</div>
                                <div>蛋类</div>
                                <div>...</div>
                            </div>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="item">
                        <a target="_blank" href="@(register_url)">
                            <img src="@(cdnFileRoot)/Images/3.0/lkerp/lkerp0525_content2img12.jpg" />
                            <div class="content_img">
                                <div class="title_img">通用行业</div>
                                <div>珠宝钟表</div>
                                <div>仪器仪表</div>
                                <div>印刷包装</div>
                                <div>制造加工</div>
                                <div>...</div>
                            </div>
                        </a>
                    </div>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
    </div>

</div>

<div class="Nlkerp_content1">
        <div class="title2"><span>“第5代进销存”</span>提升40％综合效益</div>
    <img src="@(cdnFileRoot)/Images/3.0/lkerp/lkerp0525_content1img1.jpg" />
</div>

<div class="Nlkerp_content3">
    <div class="Nlkerp_content3_wra">
        <div class="title"><span>逾200项卓越功能支持</span>成就绝非偶然</div>
        <div class="sub_title"><span>据中小商贸企业实际需求研发</span>持续优化业务管理</div>
        <ul>
            <li class="content_left">
                <div class="content_left_wra">
                    <img class="img0" src="@(cdnFileRoot)/Images/3.0/lkerp/lkerp0525_content3_img1.jpg" />
                    <img class="img1" style="opacity:0;" src="@(cdnFileRoot)/Images/3.0/lkerp/lkerp0525_content3_img2.jpg" />
                    <img class="img2" style="opacity:0;" src="@(cdnFileRoot)/Images/3.0/lkerp/lkerp0525_content3_img3.jpg" />
                    <img class="img3" style="opacity:0;" src="@(cdnFileRoot)/Images/3.0/lkerp/lkerp0525_content3_img4.jpg" />
                    <img class="img4" style="opacity:0;" src="@(cdnFileRoot)/Images/3.0/lkerp/lkerp0525_content3_img5.jpg" />
                    <img class="img5" style="opacity:0;" src="@(cdnFileRoot)/Images/3.0/lkerp/lkerp0525_content3_img6.jpg" />
                    <img class="img6" style="opacity:0;" src="@(cdnFileRoot)/Images/3.0/lkerp/lkerp0525_content3_img7.jpg" />
                    <img class="img7" style="opacity:0;" src="@(cdnFileRoot)/Images/3.0/lkerp/lkerp0525_content3_img8.jpg" />
                </div>              
            </li>
            <li class="content_right">
                    <ul>
                        <li>
                            <a href="/product/Characteristics?content1">
                                <div class="lkrep_item1 lkrep_item">
                                    <div>
                                        <span></span>
                                    </div>
                                    <span>销售管理</span>
                                </div>
                            </a>                          
                        </li>
                        <li>
                            <a href="/product/Characteristics?content2">
                                <div class="lkrep_item2 lkrep_item">
                                    <div>
                                        <span></span>
                                    </div>
                                    <span>会员管理</span>
                                </div>
                            </a>                          
                        </li>
                        <li>
                            <a href="/product/Characteristics?content3">
                                <div class="lkrep_item3 lkrep_item  item">
                                    <div>
                                        <span></span>
                                    </div>
                                    <span>库存管理</span>
                                </div>
                            </a>
                           
                        </li>
                        <li>
                            <a href="/product/Characteristics?content4">
                                <div class="lkrep_item4 lkrep_item ">
                                    <div>
                                        <span></span>
                                    </div>
                                    <span>采购管理</span>
                                </div>
                            </a>
                           
                        </li>
                        <li>
                            <a href="/product/Characteristics?content5">
                                <div class="lkrep_item5 lkrep_item ">
                                    <div>
                                        <span></span>
                                    </div>
                                    <span>往来管理</span>
                                </div>
                            </a>
                           
                        </li>
                        <li>
                            <a href="/product/Characteristics?content6">
                                <div class="lkrep_item6 lkrep_item">
                                    <div>
                                        <span></span>
                                    </div>
                                    <span>财务管理</span>
                                </div>
                            </a>
                           
                        </li>
                        <li>
                            <a href="/product/Characteristics?content7">
                                <div class="lkrep_item7 lkrep_item">
                                    <div>
                                        <span></span>
                                    </div>
                                    <span>办公OA</span>
                                </div>
                            </a>
                         
                        </li>
                        <li>
                            <a href="/product/Characteristics?content8">
                                <div class="lkrep_item8 lkrep_item">
                                    <div>
                                        <span></span>
                                    </div>
                                    <span>移动应用</span>
                                </div>
                            </a>
                          
                        </li>
                    </ul>
                    <div class="clear"></div>
                <a class="lkrep_btn2_0525" target="_blank" href="/product/Characteristics">查看核心功能</a>
                <a class="lkrep_btn2_0525" target="_blank" href="@(register_url)">试用了解更多</a>
            </li>
        </ul>
        <div class="clear"></div>
    </div>
</div>

<div class="Nlkerp_content4">
    <div class="Nlkerp_content4_wra">
        <div class="title"> <span> 清晰优势</span>匹配您的生意</div>
        <div class="title2"><span>传统软件</span> <span class="font-size">VS</span> <span class="font-blue"> 来肯云商</span></div>
        <div class="content4_content">
            <ul>
                <li class="content_left">
                    <div><span>陈旧过时</span> <span>高昂费用</span>营收提升空间有限</div>
                    <div>本地电脑使用，后续维护服务难</div>
                    <div>一次性投入成本高</div>
                    <div>操作复杂上手难</div>
                    <div>没有完善的督促体系，老客户维护难</div>
                    <div>专注于事后记账，无法改变企业经营模式</div>
                </li>
                <li class="content_img"><img src="@(cdnFileRoot)/Images/3.0/lkerp/lkerp0525_content4img1.png" /></li>
                <li class="content_right">
                    <div><span>互联网+成本低</span> 全方位改善经营现状</div>
                    <div>手机、微信、电脑都能使用</div>
                    <div>按年付费，成本低</div>
                    <div>操作简单，易上手</div>
                    <div>完善的微信会员及促销体系，拉新维老</div>
                    <div><span>管理、营销一体化</span>全面助力传统企业互联网转型</div>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
    </div>
</div>

<div class="Nlkerp_content5">
    <div class="Nlkerp_content5_wra">
        <div class="title">完善而细致的服务体系</div>
        <div class="content5_content">
            <ul>
                <li>
                    <div class="img">
                        <img class="hvr-grow" src="@(cdnFileRoot)/Images/3.0/lkerp/lkerp0525_content5icon1.png" />
                    </div>
                    <span>专人答疑</span>
                    <div class="text1">1对1专业咨询</div>
                </li>
                <li>
                    <div class="img">
                        <img class="hvr-grow" src="@(cdnFileRoot)/Images/3.0/lkerp/lkerp0525_content5icon2.png" />
                    </div>
                    <span>远程协助</span>
                    <div class="text1">互联网授权支援</div>
                </li>
                <li>
                    <div class="img">
                        <img class="hvr-grow" src="@(cdnFileRoot)/Images/3.0/lkerp/lkerp0525_content5icon3.png" />
                    </div>
                    <span>线上培训</span>
                    <div class="text1">产品功能开班讲解</div>
                </li>
                <li>
                    <div class="img">
                        <img class="hvr-grow" src="@(cdnFileRoot)/Images/3.0/lkerp/lkerp0525_content5icon4.png" />
                    </div>
                    <span>视频课程</span>
                    <div class="text1">看完短片即能上手</div>
                </li>
                <li>
                    <div class="img">
                        <img class="hvr-grow" src="@(cdnFileRoot)/Images/3.0/lkerp/lkerp0525_content5icon5.png" />
                    </div>
                    <span>代理支持</span>
                    <div class="text1">经销商有求必应</div>
                </li>
                <li>
                    <div class="img">
                        <img class="hvr-grow" src="@(cdnFileRoot)/Images/3.0/lkerp/lkerp0525_content5icon6.png" />
                    </div>
                    <span>全时待命</span>
                    <div class="text1">7×24小时神速响应</div>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
        <a class="lkrep_btn0525" target="_blank" href="@(register_url)">立即试用</a>
      </div>
</div>

<div class="Nlkerp_content6">
    <div class="Nlkerp_content6_wra">
        <div class="title">超过60000家企业正在使用来肯云商</div>
        <table>
            <tr>
                <td class="active">
                     <img src="@(cdnFileRoot)/Images/3.0/lkerp/lkerp0525_content6img1.jpg" />
                 </td>
                <td class="active">
                  <img src="@(cdnFileRoot)/Images/3.0/lkerp/lkerp0525_content6img2.jpg" />
                    <div>咨询来肯云商的时候觉得企业版的价格略高，但是还是被销售人员说服，试用了15天。但是当我使用几天后，发现原来价格跟功能是成正比的。来肯云商支持手机、微信、PDA操作，让我不用每天在办公室面对电脑管理了，每天在家里也可以看见我们公司的情况，最后购买了3年的，以后也会继续使用！</div>
                </td>
                <td class="active">
                   <img src="@(cdnFileRoot)/Images/3.0/lkerp/lkerp0525_content6img3.jpg" />
                </td>
                <td class="active">
                  <img src="@(cdnFileRoot)/Images/3.0/lkerp/lkerp0525_content6img4.jpg" />
                </td>
                <td class="active">
                   <img src="@(cdnFileRoot)/Images/3.0/lkerp/lkerp0525_content6img5.jpg" />
                    <div>来肯云商无论是软件的更新速度还是软件功能上的问题，都处理得十分迅速，并且他们还根据我的需求特别为我制定了某些功能！这点是我十分看好来肯云商的一点，期待后面做得更好！</div>
                </td>
            </tr>
            <tr>
                <td class="active">
                   <img src="@(cdnFileRoot)/Images/3.0/lkerp/lkerp0525_content6img6.jpg" />                 
                </td>
                <td class="active">
                   <img src="@(cdnFileRoot)/Images/3.0/lkerp/lkerp0525_content6img7.jpg" />
                   <div>
                       选择来肯云商是因为能够手机端操作，特别是能够全程支持微信端操作，这对我这种经常用微信聊天的人而言使用起来就十分方便；其次是他们能够定期维护服务器，不用专人去管理维护；最后是看好他们将在12月16日推出的新产品：CRM+ERP+OA的一体化产品！
                   </div>
                </td>
                <td class="active">
                   <img src="@(cdnFileRoot)/Images/3.0/lkerp/lkerp0525_content6img8.jpg" />
                    <div>接触来肯云商的时候，它还只有单一的ERP系统，而且当时并不叫做“来肯云商”而是叫做“来肯在线”。如今，产品已经集成ERP、CRM、OA 3大系统功能为一体，用起来挺不错的，并且不用花费多余的成本在其它软件上。正如广告上有一句话说的一样：花一样的钱，多用几样功能！不错，继续加油！</div>
                </td>
                <td class="active">
                   <img src="@(cdnFileRoot)/Images/3.0/lkerp/lkerp0525_content6img9.jpg" />
                </td>
                <td class="active">
                  <img src="@(cdnFileRoot)/Images/3.0/lkerp/lkerp0525_content6img10.jpg" />
                    <div>以前用别的软件，很多时候都需要自己维护，很麻烦，而现在用了来肯云商，不用担心服务器出问题，还能够定期维护服务器，虽然在刚开始用的时候有点小瑕疵，但是软件版本的快速迭代，已经得到了解决，并且增加了很多人性化的处理，挺！</div>
                </td>
            </tr>
            <tr>
                <td class="active">
                   <img src="@(cdnFileRoot)/Images/3.0/lkerp/lkerp0525_content6img11.jpg" />
                </td>
                <td class="active">
                   <img src="@(cdnFileRoot)/Images/3.0/lkerp/lkerp0525_content6img12.jpg" />
                    <div>不得不说，软件是一流的，但是客服更是无敌的。第一眼看见这个软件十分简洁，但是发现功能却很全面，部分功能有些不理解的地方通过客服的指导以及远程教学，最后还是全盘学会了！ 随后又在使用16日出来的一体化产品，虽然还是有部分问题依然没有搞懂，可是服务团队依然对我的各种问题都一一解答。加油，继续支持来肯！</div>
                </td>
                <td class="active">
                  <img src="@(cdnFileRoot)/Images/3.0/lkerp/lkerp0525_content6img13.jpg" />
                    <div>第一次使用ERP+CRM+OA的产品，感觉还不错。以前仓库数量不清晰、账务不明确的问题都解决了，最重要的一点就是还能在手机上、微信上操作，瞬间让我的管理效率提升了很多，感谢来肯云商，以后一定大力支持！</div>
                </td>
                <td class="active">
                  <img src="@(cdnFileRoot)/Images/3.0/lkerp/lkerp0525_content6img14.jpg" />
                </td>
                <td class="active">
                  <img src="@(cdnFileRoot)/Images/3.0/lkerp/lkerp0525_content6img15.jpg" />
                    <div>对于车销型企业来说，业务员在使用来肯云商现场扫描商品的同时，单据也随之自动录入，不到半小时就能完成原需好几小时才能完成的单据录入工作。回到公司后，也只需要几分钟便能完成对单、对货、对款的工作，业务员也能按时上下班了。员工的工作强度降低了，企业的工作效率却更高了。我们企业的办公效率是随着来肯产品功能的快速迭代而相应提升的，到现在又发展了两家分店。听说你们近期会推出功能更强大的一体化新产品，非常期待能第一时间用到你们的新产品。</div>
                </td>
            </tr>
            <tr>
                <td class="active">
                   <img src="@(cdnFileRoot)/Images/3.0/lkerp/lkerp0525_content6img16.jpg" />
                </td>
                <td class="active">
                   <img src="@(cdnFileRoot)/Images/3.0/lkerp/lkerp0525_content6img17.jpg" />
                </td>
                <td class="active">
                   <img src="@(cdnFileRoot)/Images/3.0/lkerp/lkerp0525_content6img18.jpg" />
                </td>
                <td class="active">
                   <img src="@(cdnFileRoot)/Images/3.0/lkerp/lkerp0525_content6img19.jpg" />
                    <div>软件确实好用，不但服务器维护速度快，而且更新时间也很短，但是更重要的是他们的服务。因为我第一次使用这类软件，最开始很多不懂得地方，来肯云商的客服人员都细心给我讲解，每次基本上就是1个小时以上，耐心给我讲解使用方法等问题，并且我记得有一次晚上10点过了都还跟我远程操作帮助我解决操作问题，真的非常感谢来肯客服的细心指导，谢谢！</div>
                </td>
                <td class="active">● ● ●</td>
            </tr>
        </table>
  </div>
</div>

<div class="Nlkerp_content7">
    <div class="Nindex_content2">
        <div class="title">
            <div class="title1"><span>无缝对接第5代进销存</span>在线商城引领销售业绩倍增</div>
        </div>
        <a target="_blank" class="lkrep_btn0525" href="/product/b2c">了解零售商城</a>
        <a target="_blank" class="lkrep_btn0525" href="/product/dh">了解订货商城</a>    
    </div>
</div>

<script>
    //底部切换
    $(".content1_line div").hover(function () {
        $(".content4_div_content").each(function () {
            $(this).css("display", "none")
        })
        var i = $(this).index();
        $(".content4_div_content" + i).css("display", "block")
    })

    //图片切换
    var i = 1;
    $(".content_right li").mouseover(function () {
        $(this).siblings().removeClass("active");
        $(this).addClass("active");
        var n = $(this).index();
        i = n;
        $(".Nlkerp_content3 .content_left .img" + n).siblings().css("opacity", "0");
        $(".Nlkerp_content3 .content_left .img" + n).css("opacity", "1");
        clearInterval(move_icon);
    }).mouseout(function () {
        move_icon = setInterval(function () {
            $(".content_right .item" + (i+1)).siblings().removeClass("active")
            $(".content_right .item" + (i+1)).addClass("active");
            $(".Nlkerp_content3 .content_left .img" + i).siblings().css("opacity", "0");
            $(".Nlkerp_content3 .content_left .img" + i).css("opacity", "1");
            i++;
            if (i > 8) {
                i = 0;
            }
        }, 2000);
    }); 
   var move_icon= setInterval(function () {       
       $(".Nlkerp_content3 .content_left .img" + (i - 1)).siblings().css("opacity", "0");
       $(".Nlkerp_content3 .content_left .img" + (i - 1)).css("opacity", "1");
        i++;
        if (i>8) {
            i = 0;
        }      
   }, 3000)

  
   $(function () {
       $(".Nlkerp_content6 td div").hide();
       $(".Nlkerp_content6 table td").hover(function () {
           $(".Nlkerp_content6 table td").removeClass("active")
           $(this).addClass("active");
           $(".Nlkerp_content6 table td").children("div").hide();
           $(this).children("div").show();
       })

      
       var StartTime = new Date('2016/07/04 00:00:00');
       var EndTime = new Date('2016/07/29 23:59:59');
       var NowTime = new Date();
       var T_time = EndTime.getTime() - NowTime.getTime();
       var S_time = StartTime.getTime() - NowTime.getTime();
       if (S_time < 0 && T_time >= 0) {
           $(".Nproduct_bannerbg .lkrep_btn0525").css({ "background-color": "#fd2d44", "border-bottom-color": "#95021a" });
           $(".Nlkerp_forfree .lkrep_btn0525").css({ "background-color": "#fd2d44", "border-bottom-color": "#95021a" });
       }
      
   })
   
</script>

