@using CC.InnerBLL.BLL.Agent;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var urlprefix_s = CC.ERP.Portal.Global.urlprefix_s;

    var urlprefix = "http://" + Request.Url.DnsSafeHost;
    var register_url = string.Format("{0}/account/register", urlprefix_s);
    var login_url = "";

    if (AgentInfo.Current.IsLaiken)
    {
        register_url += string.Format("?salerid={0}&sourceflag={1}", Request["salerid"], Request["sourceflag"]);
    }
    else
    {
        register_url += string.Format("?agentid={0}&salerid={1}&sourceflag={2}", AgentInfo.Current.AgentID, Request["salerid"], Request["sourceflag"]);
    }

    login_url = register_url.Replace("register", "logon");

    string cdnFileRoot = CC.ERP.Portal.Global.CDNFileRoot;
    ViewData.Add("cdnFileRoot", cdnFileRoot);
}

<div class="OnlineTry_wra">
    <div class="OnlineTry_banner_wra" style="display:none;">
        <div class="title"><span>选择您的行业</span>体验在线商城</div>
        <a class="btn" href="@(register_url)">免费注册试用</a>
        <div class="text"><span>无需下载安装</span>注册即可使用</div>
    </div>
    <div class="OnlineTry_content1_wra" style="padding-top:100px !important;">
        <div class="title">
        <img src="@(cdnFileRoot)/Images/3.0/OnlineTry/OnlineTry_content_icon3.png" />
        <span>扫码体验微信移动商城</span>
            点击体验商城网页版
            <img src="@(cdnFileRoot)/Images/3.0/OnlineTry/OnlineTry_content_icon1.jpg" />
            <div><img src="@(cdnFileRoot)/Images/3.0/OnlineTry/OnlineTry_content_icon2.jpg" /></div>
        </div>
        <div class="content_wra">
            <div class="item">
                <ul>
                    <li>
                        <img src="@(cdnFileRoot)/Images/3.0/OnlineTry/OnlineTry_content_img1.jpg" />
                        <div><a href="http://jcai.lk361.cn/">五金建材 ＞</a></div>
                    </li>
                    <li>
                        <img src="@(cdnFileRoot)/Images/3.0/OnlineTry/OnlineTry_content_img2.jpg" />
                        <div><a href="http://spin.lk361.cn/">食品快消品 ＞</a></div>
                    </li>
                    <li>
                        <img src="@(cdnFileRoot)/Images/3.0/OnlineTry/OnlineTry_content_img3.jpg" />
                        <div><a href="http://fz.lk361.cn/">服装鞋帽 ＞</a></div>
                    </li>
                </ul>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
            <div class="item">
                <ul>
                    <li>
                        <img src="@(cdnFileRoot)/Images/3.0/OnlineTry/OnlineTry_content_img4.jpg" />
                        <div><a href="http://sjsm.lk361.cn/">手机通讯 ＞</a></div>
                    </li>
                    <li>
                        <img src="@(cdnFileRoot)/Images/3.0/OnlineTry/OnlineTry_content_img5.jpg" />
                        <div><a href="http://sma.lk361.cn/">数码家电 ＞</a></div>
                    </li>
                    <li>
                        <img src="@(cdnFileRoot)/Images/3.0/OnlineTry/OnlineTry_content_img6.jpg" />
                        <div><a href="http://bqling.lk361.cn/">化妆用品 ＞</a></div>
                    </li>
                </ul>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
            <div class="item">
                <ul>
                    <li>
                        <img src="@(cdnFileRoot)/Images/3.0/OnlineTry/OnlineTry_content_img7.jpg" />
                        <div><a href="http://mying.lk361.cn/">母婴用品 ＞</a></div>
                    </li>
                    <li>
                        <img src="@(cdnFileRoot)/Images/3.0/OnlineTry/OnlineTry_content_img8.jpg" />
                        <div><a href="http://lmao.lk361.cn/">生鲜农贸 ＞</a></div>
                    </li>
                    <li>
                        <img src="@(cdnFileRoot)/Images/3.0/OnlineTry/OnlineTry_content_img9.jpg" />
                        <div><a href="http://qpei.lk361.cn/">汽配汽修 ＞</a></div>
                    </li>
                </ul>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
            <div class="item item3">
                <ul>
                    <li>
                        <img src="@(cdnFileRoot)/Images/3.0/OnlineTry/OnlineTry_content_img10.jpg" />
                        <div><a href="http://jxie.lk361.cn/">机械机电 ＞</a></div>
                    </li>
                    <li>
                        <img src="@(cdnFileRoot)/Images/3.0/OnlineTry/OnlineTry_content_img11.jpg" />
                        <div><a href="http://yyao.lk361.cn/">医药制品 ＞</a></div>
                    </li>
                    <li>
                        <img src="@(cdnFileRoot)/Images/3.0/OnlineTry/OnlineTry_content_img12.jpg" />
                        <div><a href="http://b2b2c.lk361.cn/">通用行业 ＞</a></div>
                    </li>
                </ul>
                <div class="clear"></div>
            </div>   
            <div class="clear"></div>     
        </div>
    </div>
    <div class="OnlineTry_content2_wra">
        <a class="btn" href="@(register_url)">免费注册试用</a>
        <div class="text"><span>无需下载安装</span>注册即可使用</div>
    </div>
</div>