@using CC.Public;
@using CC.InnerBLL.Enum;
@{

    ViewBag.Title = "进销存价格|免费进销存软件哪个好|进销存管理软件|来肯云商";
    ViewBag.Keywords = "进销存软件价格,进销存软件多少钱";
    ViewBag.description = "进销存价格多少钱?来肯云商提供进销存软件免费版,进销存软件精简版/标准版价格,每天不足2元钱;以及增强版。包含进销存,财务管理,客户管理,移动办公等11大功能!";

    Layout = "~/Views/Shared/_Layout.cshtml";

    string cdnFileRoot = CC.ERP.Portal.Global.CDNFileRoot;
    ViewData.Add("cdnFileRoot", cdnFileRoot);

    HashObject servicer = Model == null ? null : (HashObject)Model["servicer"];
    string qq = servicer == null ? CC.InnerBLL.Tools.LoadInnerCfg("official_qq") : servicer.GetString("qq");
    qq = string.Format("http://wpa.qq.com/msgrd?v=3&uin={0}&site=qq&menu=yes", qq);
    decimal discount_two_year = 1, discount_three_year = 1;
    decimal.TryParse(CC.InnerBLL.Tools.LoadInnerCfg("discount_two_year"), out discount_two_year);
    decimal.TryParse(CC.InnerBLL.Tools.LoadInnerCfg("discount_three_year"), out discount_three_year);

    long companyid = CC.Framework.User.Current != null ? CC.Framework.User.Current.CurrentProfileid : 0;
    if (companyid == 0 && !string.IsNullOrEmpty(Request["companyid"]))
    {
        long.TryParse(Request["companyid"], out companyid);
    }

}
<script src="@(cdnFileRoot)/Scripts/knockout-3.1.0.js"></script>
<script src="@(cdnFileRoot)/Scripts/4.0/buy.js?v=20170808"></script>
<div class="pricePage">
    <div class="priceBanner">
        <div class="price-top">
            <div class="priceBanner_wrapper">
                <div class="price-edition" id="div_product" data-bind="foreach:list">
                    <ul id="ul_products" data-bind="foreach:productList" class="price_ul">
                        <li data-bind="attr:{productid:productid,productflag:product_flag},event:{hover:doChangeSelectProduct},css:{'li-border':$parent.selectedProductId() == productid || ($parent.selectedProductId() == null && productid == @((int)LkVersion.Simplify))}">
                            <div data-bind="if:product_flag == @((int)LkVersion.Simplify)">
                                <div class="li-div">
                                    <div>
                                        <div class="price-title c_1">@(ShowEnumName.GetEnumName<LkVersion>((int)LkVersion.Simplify))</div>
                                        <div class="edition edition-img-1"></div>
                                        <div class="price-type c_1">单店或单仓库且人员不多</div>
                                    </div>
                                </div>
                            </div>
                            <div data-bind="if:product_flag == @((int)LkVersion.Standard)">
                                <div class="li-div">
                                    <div>
                                        <div class="price-title c_2">@(ShowEnumName.GetEnumName<LkVersion>((int)LkVersion.Standard))</div>
                                        <div class="edition edition-img-2"></div>
                                        <div class="price-type c_2">多店或多仓库分权管理</div>
                                    </div>
                                </div>
                            </div>
                            <div data-bind="if:product_flag == @((int)LkVersion.Integration_Standard)">
                                <div class="li-div">
                                    <div>
                                        <div class="price-title c_3">@(ShowEnumName.GetEnumName<LkVersion>((int)LkVersion.Integration_Standard))</div>
                                        <div class="edition edition-img-3"></div>
                                        <div class="price-type c_3">进销存标准版+专属微商城<br />线上线下一体化管理（O2O）</div>
                                    </div>
                                </div>
                            </div>
                            <div data-bind="if:product_flag == @((int)LkVersion.Integration_Strengthen)">
                                <div class="li-div">
                                    <div>
                                        <div class="price-title c_4">@(ShowEnumName.GetEnumName<LkVersion>((int)LkVersion.Integration_Strengthen))</div>
                                        <div class="edition edition-img-4"></div>
                                        <div class="price-type c_4">一体化标准版+多门店独立<br />微商城+社交化分销</div>
                                    </div>
                                </div>
                            </div>
                            <div data-bind="if:product_flag == @((int)LkVersion.Linkage)">
                                <div class="li-div">
                                    <div>
                                        <div class="price-title c_5">@(ShowEnumName.GetEnumName<LkVersion>((int)LkVersion.Linkage))</div>
                                        <div class="edition edition-img-5"></div>
                                        <div class="price-type c_5">微商城增强版+经销商管理</div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="price_div productBg01">
                        <div class="produce_border">
                            <div class="border01"></div>
                            <div class="border02 " style="display:none;"></div>
                            <div class="border04" style="display:none;"></div>
                            <div class="border05" style="display:none;"></div>
                            <div class="border06" style="display:none;"></div>
                        </div>
                        <div class="userNum">
                            <div class="user-left">请选择用户数</div>
                            <ul id="ul_users" data-bind="foreach:selectedProduct().scaleList" style="width:auto !important">
                                <li class="li-user" data-bind="css:{'user-selected':$parent.selectedScaleId() == priceid},event:{click:doChangeScale}">
                                    <span class="span_usercount" data-bind="text:scale"></span><span data-bind="text:$parent.selectedProduct().scale_unit"></span>
                                </li>
                            </ul>
                            <input type="hidden" id="select_base_product_flag" data-bind="value:selectedProduct().product_flag" />
                            <input type="hidden" class="selectedProductId" data-bind="value:selectedProductId()" />
                            <input type="hidden" class="selectedScaleId" data-bind="value:selectedScaleId()" />
                            <input type="hidden" class="selectedYearId" data-bind="value:selectedYearId()" />
                            <input type="hidden" class="selectedprice" data-bind="value:selectedYear().price" />
                            <input type="hidden" class="selectedoldprice" data-bind="value:selectedYear().oldprice" />
                            <input type="hidden" id="qq_href" value="@(qq)" />
                            <input type="hidden" id="companyid" value="@(companyid)" />
                            @Html.Hidden("discount_two_year", discount_two_year)
                            @Html.Hidden("discount_three_year", discount_three_year)
                            <a class="more-user" target="_blank" href="@(qq)">更多用户</a>
                        </div>
                        <div class="userNum">
                            <div class="user-left">请选择使用年限</div>
                            <ul id="years">
                                <li id="1" onclick="doChangeYear(this)" class="li-year user-selected">1年</li>
                                <li id="2" onclick="doChangeYear(this)" class="li-year">2年</li>
                                <li id="3" onclick="doChangeYear(this)" class="li-year">3年</li>
                            </ul>
                            <a class="more-user" target="_blank" href="@(qq)">更多年限</a>
                        </div>
                        <div class="userNum" style="width:254px;margin-right:0;">
                            <div class="user-left" style="text-align:left;">价格</div>
                            @*<div class="oldPrice" style="height:28px;"> <div class="original-price" id="div_old_money" style="display:none;">原价：<span id="oldTotalMoney">￥8940</span>元/操作员 · 年</div></div>*@
                            <div class="oldPrice" style="height:28px;"> <div class="original-price" id="div_old_money" >单价：<span id="unitPrice">￥420</span>元/操作员 · 年</div></div>
                            <div class="money" style="width: 100%; text-align: left;">总价：<span>￥<span id="totalMoney">420</span>.00</span></div>

                            <div class="buy-Btn">
                                @if (CC.Framework.User.Current == null && string.IsNullOrEmpty(Request["companyid"]))
                                {
                                    <a id="btnBuyBase" href="/buy/CompanySure?type=0">联系客服</a>
                                }
                                else
                                {
                                    <a id="btnBuyBase" onclick="submitOrder()">联系客服</a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pricePage_content2">
        <div class="pricePage_title">增值服务</div>
        <div class="contentItem">
            <ul>
                <li>
                    <div class="img"><img src="@(cdnFileRoot)/Images/3.0/service/add_service_icon1.png" /></div>
                    <div>
                        <span>打印模板</span>
                        <span>100元/张</span>
                    </div>
                </li>
                <li>
                    <div class="img"><img src="@(cdnFileRoot)/Images/3.0/service/add_service_icon2.png" /></div>
                    <div>
                        <span>专属金牌客服服务</span>
                        <span>780元/年</span>
                    </div>
                </li>
                <li>
                    <div class="img"><img src="@(cdnFileRoot)/Images/3.0/service/add_service_icon3.png" /></div>
                    <div>
                        <span>U盾</span>
                        <span>88元/个</span>
                    </div>
                </li>
                <li>
                    <div class="img"><img src="@(cdnFileRoot)/Images/3.0/service/add_service_icon4.png" /></div>
                    <div>
                        <span>商品扩充包（5000个商品）</span>
                        <span>500元</span>
                    </div>
                </li>
                <li>
                    <div class="img"><img src="@(cdnFileRoot)/Images/3.0/service/add_service_icon5.png" /></div>
                    <div>
                        <span>短信（2000条）</span>
                        <span>200元</span>
                    </div>
                </li>
                <li>
                    <div class="img"><img src="@(cdnFileRoot)/Images/3.0/service/add_service_icon6.png" /></div>
                    <div>
                        <span>短信（5300条）</span>
                        <span>500元</span>
                    </div>
                </li>
                <li>
                    <div class="img"><img src="@(cdnFileRoot)/Images/3.0/service/add_service_icon7.png" /></div>
                    <div>
                        <span>短信（11200条）</span>
                        <span>1000元</span>
                    </div>
                </li>
                <li>
                    <div class="img"><img src="@(cdnFileRoot)/Images/3.0/service/add_service_icon8.png" /></div>
                    <div>
                        <span>数据恢复（1次）</span>
                        <span>600元</span>
                    </div>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
        <a class="price_checkBtn" href="/service/buyvalueadd">立即购买</a>
    </div>
</div>