@using CC.InnerBLL.BLL.Agent

@{
    ViewBag.Title = "关于来肯云商";
    ViewBag.Keywords = "来肯云商,来肯在线，来肯，来肯进销存";
    ViewBag.description = "来肯云商-专注于为中小型商贸流通企业提供SAAS信息化解决方案，集进销存、客户管理、协同办公为一体";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string cdnFileRoot = CC.ERP.Portal.Global.CDNFileRoot;
    ViewData.Add("cdnFileRoot", cdnFileRoot);
}

@if (!AgentInfo.Current.IsLaiken && AgentInfo.Current.Properties["aboutHTML"] != null && !string.IsNullOrEmpty(AgentInfo.Current.Properties["aboutHTML"].ToString()))
{
    <div id="about">
        <div class="banner" style="height:300px;">
        </div>

        <div class="panel">
            <div class="container" style="margin-bottom:40px !important;">
                <div class="row">
                    <div class="col-xs-12">
                        @Html.Raw(AgentInfo.Current.Properties["aboutHTML"])
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    @section head{
        <script type="text/javascript" src="http://api.map.baidu.com/api?key=&v=1.1&services=true&ak=59T1FL4Vz8ZopBm2w65CAKP7"></script>
    }
    <style type="text/css">
        .New_service_banner, .New_about_content3, .New_about_content4, .mapDiv, .bottomP,.New_about_content1 {
            min-width: 1316px;
        }
    </style>

    <div class="New_about_wra">
        <div class="New_service_banner">
            <div class="title">在云端  <span>连接一切事业</span></div>
        </div>
        <div class="New_about_content1">
            <div class="content1_wra">
                <div class="New_service_title"><div class="New_line"></div></div>
                <div style="margin-bottom:30px;">
                    <img src="@(cdnFileRoot)/Images/3.0/aboutus/About-about.png">
                </div>
                <div class="title">公司简介</div>
                <div class="content_text1">
                    成都来肯信息技术有限公司于2013年创立，总部位于四川成都，是一家领先的SaaS ERP企业级服务提供商，专注服务于中小微商贸流通企业，为不同规模、不同发展阶段的企业提供管理+销售一体化整体解决方案，助力企业互联网信息化转型。成立至今，来肯一直在用专业和专注创造价值与品质，致力于成为受中小企业欢迎的SAAS解决方案提供商。
                </div>
                <div class="title">“来肯”的由来：Lichen--地衣  音译：来肯</div>
                <div class="content_text1">
                    地衣是藻类和菌类的联合共生体，藻类吸收阳光和二氧化碳为菌类提供有机物，菌类吸收有机物为藻类提供水和养分，这样的“联合共生”关系使得地衣成为地球上生命力最顽强的生物——从南极到北极，从荒原到大漠，从冰川到火山无处不在；真空中可保持6年的活力，200摄氏度环境依然可以生长。因此，来肯将“联合共生”作为企业文化，秉承“客户至上，利益共生”的理念，倡导与客户、与伙伴、与员工“联合共生”，相互壮大、共同成长。
                </div>
                <div class="title">来肯的期望：只为客户满意</div>
                <div class="content_text1">
                    我们认为，客户满意不是营销噱头更不是洗脑技艺，它对应的是一种“工匠精神”—— 追求卓越的创造精神、精益求精的品质精神、用户至上的服务精神；让员工做事更能从客户角度出发，解决问题更具责任感，获得真正的客户认同。
                </div>
                <div class="title">产品简介</div>
                <div class="content_text1" style="margin-bottom:10px;">
                    “来肯云商”是以云端ERP为核心，融合云技术创新、移动管理销售、大数据及用户使用场景的智能商务管理平台；经过数代更迭，现已形成ERP进销存管理、线上线下一体化(O2O)、经销/加盟管理三大产品体系，满足用户的多种需求；云端系统、无需下载、无需安装、注册即用。
                </div>
                <div class="content_text1">
                    目前，来肯为全国10多个行业超过100,000家商贸企业提供服务，正在引领企业用户率先步入“精营时代”，用互联网技术改变传统工作模式，享受“互联网+经营”带来的便捷与高效。
                </div>
                <div class="product_list">
                    <div class="product_cont">
                        <img src="@(cdnFileRoot)/Images/3.0/aboutus/product_icon1.png" />
                        <span>企业使命</span>
                        <div>依托互联网思维与前沿<br />技术，推动中小企业高<br />速发展</div>
                    </div>
                    <div class="product_cont">
                        <img src="@(cdnFileRoot)/Images/3.0/aboutus/product_icon2.png" />
                        <span>企业愿景</span>
                        <div>成为受中小企业欢迎的<br />SaaS整体解决方案提<br />供商</div>
                    </div>
                    <div class="product_cont">
                        <img src="@(cdnFileRoot)/Images/3.0/aboutus/product_icon3.png" />
                        <span>核心价值观</span>
                        <div>多元创新、立体服务、<br />共享成就</div>
                    </div>
                    <div class="product_cont">
                        <img src="@(cdnFileRoot)/Images/3.0/aboutus/product_icon4.png" />
                        <span>经营理念</span>
                        <div>用专业与专注，创造价<br />值与品质</div>
                    </div>
                    <div class="product_cont">
                        <img src="@(cdnFileRoot)/Images/3.0/aboutus/product_icon5.png" />
                        <span>服务理念</span>
                        <div>高质量满足客户需求，<br />高效率提供超值服务</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="New_about_content3">
            <div class="content3_top_wra">
                <img src="@(cdnFileRoot)/Images/3.0/aboutus/content3Cont.png?v=20170623" class="content3Cont" />
                <div class="growth"><img src="@(cdnFileRoot)/Images/3.0/aboutus/Growth.png" /></div>
                <div class="groupUp">成长历程</div>
                <div class="time">
                    <div class="w_25">
                        <a href="javascript:;">2013.07</a>
                        <div>成都来肯信息技术有限<br />公司创立，总部位于四<br />川成都</div>
                    </div>
                    <div class="w_25" style="padding-left:21px;">
                        <a href="javascript:;">2014.12</a>
                        <div>旗下核心产品“来肯在<br />线”平台正式公开</div>
                    </div>
                    <div class="w_25" style="padding-left:41px;">
                        <a href="javascript:;">2015.03</a>
                        <div>获伊禾资本天使投资，<br />注册企业用户超40000<br />家</div>
                    </div>
                    <div class="w_25" style="padding-left:61px;">
                        <a href="javascript:;">2015.09</a>
                        <div>获坚果资本Pre-A轮投资</div>
                    </div>
                </div>
                <div class="time" style=" margin: 43px auto 50px;">
                    <div class="w_25">
                        <a href="javascript:;">2017.02</a>
                        <div>来肯云商荣获CCTV展<br />播品牌称号</div>
                    </div>
                    <div class="w_25" style="padding-left:21px;">
                        <a href="javascript:;">2016.09</a>
                        <div>来肯匠心独运180余天<br />的全新4.0版本发布</div>
                    </div>
                    <div class="w_25" style="padding-left:41px;">
                        <a href="javascript:;">2016.03</a>
                        <div>B2C零售商城、B2B批<br />发商城上线，SaaS管理<br />销售整体解决方案获用<br />户好评</div>
                    </div>
                    <div class="w_25" style="padding-left:61px;">
                        <a href="javascript:;">2015.12</a>
                        <div>一体化产品上线，“来<br />肯在线”更名为“来肯<br />云商”；注册用户企业<br />超60000家</div>
                    </div>
                </div>
                <div class="time">
                    <div class="w_25">
                        <a href="javascript:;">2017.03</a>
                        <div>来肯云商发布4.5版本，<br />进一步提升用户体验</div>
                    </div>
                    <div class="w_25" style="padding-left: 21px;">
                        <a href="javascript:;">2017.07</a>
                        <div>历经6个月精心研发的经<br />销商加盟版正式上线，成<br />为了国内率先推出类似产<br />品的SAAS服务企业</div>
                    </div>
                </div>
            </div>

            <div class="content3_bot_wra">
                <div class="content3_cont0">
                    <div class="history">
                        <img src="@(cdnFileRoot)/Images/3.0/aboutus/History.png" />
                    </div>
                    <div class="enterprise">企业荣誉与资质</div>
                    <div class="content1_picture">
                        <div>
                            <div class="w_33 picture_l">
                                <img src="@(cdnFileRoot)/Images/3.0/JoinUs/picture_03.png" class="w_300">
                                <div class="content1_title1 " style="margin-left:-108px;">国家高新技术企业  </div>
                            </div>
                            <div class="w_33">
                                <img src="@(cdnFileRoot)/Images/3.0/JoinUs/picture_02.png">
                                <div class="content1_title1">CCTV展播品牌</div>
                            </div>
                            <div class="w_33 picture_r">
                                <img src="@(cdnFileRoot)/Images/3.0/JoinUs/picture_01.png" class="w_300" style="margin-right:8px;">
                                <div class="content1_title1" style="margin-left:133px;width: 264px;">中国电子商务诚信示范企业</div>
                            </div>
                        </div>
                        <ul class="content_row">
                            <li>
                                <div>
                                    公司成立至今，拥有多项核心技术自主知识产权，被国家科技部、财政部、税务总局授予“国家高新技术企业”称号。
                                </div>
                            </li>
                            <li style="padding-left:50px;">
                                <div style="width:90%;">
                                    用专业与专注，创造价值与品质；用高质量满足客户需求，用高效率提供超值服务；来肯云商荣获”CCTV展播品牌”称号。
                                </div>
                            </li>
                            <li style="padding-left: 135px;">
                                <div style="width:100%;">
                                    公司一直秉承诚信为本的理念，被工信部、商务部、国资委、发改委授予"中国互联网诚信示范单位"称号。
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <ul style="padding-top:60px;">
                                <li>
                                    <img src="@(cdnFileRoot)/Images/3.0/aboutus/New_about_content3_img1.jpg?v=20170621" style="width:100%;height:auto;" />
                                </li>
                                <li>
                                    <img src="@(cdnFileRoot)/Images/3.0/aboutus/New_about_content3_img2.jpg?v=20170621" style="width:85%;height:auto;margin-left:20px;" />
                                </li>
                                <li>
                                    <img src="@(cdnFileRoot)/Images/3.0/aboutus/New_about_content3_img3.jpg?v=20170621" style="width:85%;height:auto;" />
                                </li>
                            </ul>
                            <div class="clear"></div>
                        </div>
                        <div class="item">
                            <ul>
                                <li>
                                    <img src="@(cdnFileRoot)/Images/3.0/aboutus/New_about_content3_img4.jpg" />
                                </li>
                                <li>
                                    <img src="@(cdnFileRoot)/Images/3.0/aboutus/New_about_content3_img5.jpg" />
                                </li>
                                <li>
                                    <img src="@(cdnFileRoot)/Images/3.0/aboutus/New_about_content3_img6.jpg" />
                                </li>
                            </ul>
                            <div class="clear"></div>
                        </div>
                        <div class="item">
                            <ul>
                                <li>
                                    <img src="@(cdnFileRoot)/Images/3.0/aboutus/New_about_content3_img7.jpg" />
                                </li>
                                <li>
                                    <img src="@(cdnFileRoot)/Images/3.0/aboutus/New_about_content3_img8.jpg" />
                                </li>
                                <li>
                                    <img src="@(cdnFileRoot)/Images/3.0/aboutus/New_about_content3_img9.jpg?v=20170621" />
                                </li>
                            </ul>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                        <span aria-hidden="true"><img src="@(cdnFileRoot)/Images/3.0/JoinUs/New_about_content3_icon1.png?v=20170621" /></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                        <span aria-hidden="true"><img src="@(cdnFileRoot)/Images/3.0/JoinUs/New_about_content3_icon2.png?v=20170621" /></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="New_about_content4">
            <div class="service_content4_wra">
                <div class="New_service_title">Our team</div>
                <div class="title">来肯团队</div>
                <div class="subitle">来肯服务团队目前已经超过百人，包括运营、技术、产品、测试、市场、渠道、KA、售前、售后、客服等近10个专业团队，</div>
                <div class="subitle">我们只为“一直保持高质量满足客户需求，高效率提供超值服务”。</div>
                <div class="service_content4_cont">
                    <div class="w_25">
                        <img src="@(cdnFileRoot)/Images/3.0/aboutus/ServiceCont4_01.png" />
                        <p>技术</p>
                        <span>超10年互联网行业研发经验<br />超10年企业管理软件实践沉淀</span>
                    </div>
                    <div class="w_25">
                        <img src="@(cdnFileRoot)/Images/3.0/aboutus/ServiceCont4_02.png" />
                        <p>产品</p>
                        <span>深度理解用户实际需求<br />用户体验的极致追求</span>
                    </div>
                    <div class="w_25">
                        <img src="@(cdnFileRoot)/Images/3.0/aboutus/ServiceCont4_03.png" />
                        <p>测试</p>
                        <span>产品漏洞的敏锐捕手<br />解决方案价值评估人</span>
                    </div>
                    <div class="w_25">
                        <img src="@(cdnFileRoot)/Images/3.0/aboutus/ServiceCont4_04.png" />
                        <p>市场</p>
                        <span>资源整合的策划中枢<br />组织营销与品牌建设</span>
                    </div>
                </div>
                <div class="service_content4_cont">
                    <div class="w_20">
                        <img src="@(cdnFileRoot)/Images/3.0/aboutus/ServiceCont4_05.png" />
                        <p>运营</p>
                        <span>企业级SaaS领域专家矩阵<br />实施管理规划与战略创新</span>
                    </div>
                    <div class="w_20">
                        <img src="@(cdnFileRoot)/Images/3.0/aboutus/ServiceCont4_06.png" />
                        <p>渠道</p>
                        <span>多维度协助代理商发展<br />提供全程优质运维服务</span>
                    </div>
                    <div class="w_20">
                        <img src="@(cdnFileRoot)/Images/3.0/aboutus/ServiceCont4_07.png" />
                        <p>KA</p>
                        <span>专业评估KA客户需求<br />合理制定KA开发方案</span>
                    </div>
                    <div class="w_20">
                        <img src="@(cdnFileRoot)/Images/3.0/aboutus/ServiceCont4_08.png" />
                        <p>销售</p>
                        <span>向客户输出实效建议<br />精确配置差异化版本</span>
                    </div>
                    <div class="w_20">
                        <img src="@(cdnFileRoot)/Images/3.0/aboutus/ServiceCont4_09.png" />
                        <p>客服</p>
                        <span>专业而热情的售后服务<br />以解决用户疑问为己任</span>
                    </div>
                </div>

            </div>
        </div>
        <div class="New_service_contact">
            <img src="@(cdnFileRoot)/Images/3.0/aboutus/ContactUus.png" />
            <div class="contactus">联系我们</div>
            <ul class="contactus_ul">
                <li>
                    <div class="concatus_div">咨询热线 </div>
                    <span class="contactus_tel">400-800-7683</span>
                </li>
                <li>
                    <div class="concatus_div">渠道合作 </div>
                    <span class="contactus_tel">400-800-7683转3</span>
                </li>
                <li style="width:20%">
                    <a target="_blank" class="contactService" href="http://wpa.qq.com/msgrd?v=3&uin=2880928298&site=qq&menu=yes" title="点此咨询">售前客服<img src="@(cdnFileRoot)/Images/3.0/aboutus/service.png" /> </a>
                    <a target="_blank" class="contactService" href="http://wpa.qq.com/msgrd?v=3&uin={0}&site=qq&menu=yes" title="点此咨询">售后客服<img src="@(cdnFileRoot)/Images/3.0/aboutus/service.png" /> </a>
                </li>
                <li style="width:30%">
                    <div class="concatus_address">地址：成都市高新区孵化园9号楼F座6F、8F </div>
                    <div class="concatus_address">电话：028-84519710</div>
                    <div class="concatus_address">邮箱：service@lk361.com</div>
                </li>
            </ul>
        </div>
        <div class="mapDiv">
            <img src="@(cdnFileRoot)/Images/3.0/aboutus/map.png" class="map" />
        </div>
    </div>
}

