@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Title = "进销存代理|进销存软件加盟|进销存软件代理|来肯云商加盟|来肯云商代理";
    ViewBag.Keywords = "来肯热线：400-800-7683";
    ViewBag.description = "来肯云商在线进销存管理软件,功能完善,售后强大,支持移动版及微信版下载,中国首家支持微信客户端使用的SAAS技术服务商!进销存代理|进销存软件加盟|进销存软件代理|来肯云商加盟|来肯云商代理热线400-800-7683/028-84519709";

    string cdnFileRoot = CC.ERP.Portal.Global.CDNFileRoot;
    ViewData.Add("cdnFileRoot", cdnFileRoot);
}
<style>
    .bottom_content2, #menu_div {
        min-width: 1200px !important;
    }
</style>
<div class="New_joinus_wra">
    <div class="New_joinus_banner" style="min-width:1200px;">
        <div class="banner_wra">
            <div class="title0">携手来肯</div>
            <div class="title1">抢占千亿级SAAS企业云服务市场</div>
            <div class="title2">不再错过本属于您的时代</div>
            <div class="title3">全国合作伙伴火热招募</div>
            <div class="btn">@*<a href="http://agent.lk361.com" target="_blank">来肯工作平台</a>*@<a href="/Account/AgentApply">申请加盟</a></div>
            <div class="join_phone">加盟电话：400-800-7683转3</div>
        </div>
    </div>
    <div class="New_joinus_content1" style="min-width:1200px;">
        <div class="content1_header">
            <div class="content1_wra">
                <div class="joinus_htitle"><span>优势决定价值</span>实力兑现财富</div>
                <div class="htitle2">欢迎加入成为来肯云商SaaS应用产品的代理商，共享科技变革红利</div>
                <img class="content1_header_bg" src="@(cdnFileRoot)/Images/3.0/JoinUs/b_bg.jpg" />
            </div>
        </div>
        <div class="content1_titlebar">
            <div class="btitle btitlea">品牌优势</div>
            <div class="btitleline">BRAND ADVANTAGE</div>
        </div>
        <div class="content1_picture">
            <div class="w_33 picture_l">
                <img src="@(cdnFileRoot)/Images/3.0/JoinUs/picture_03.png?v=0605" />
                <div class="content1_title1 " style="margin-left:-108px;">国家高新技术企业  </div>
                <div class="content1_title2 " style="margin-left:-108px;">国家高企</div>
            </div>
            <div class="w_33">
                <img src="@(cdnFileRoot)/Images/3.0/JoinUs/picture_02.png" />
                <div class="content1_title1">CCTV展播品牌</div>
                <div class="content1_title2">荣登央视</div>
            </div>
            <div class="w_33 picture_r">
                <img src="@(cdnFileRoot)/Images/3.0/JoinUs/picture_01.png" />
                <div class="content1_title1" style="margin-left: 75px;width: 314px;">中国电子商务诚信示范企业</div>
                <div class="content1_title2" style="margin-left: 95px;">诚信保障</div>
            </div>
        </div>
        <div class="content1_wra content_container w_980">
            <ul class="content_row colcount3" style="margin-right:0;">
                <li>
                    <div>
                        拥有多项核心技术自主知识产权，雄厚的研发实力使来肯荣获“国家高新技术企业”称号。
                    </div>
                </li>
                <li>
                    <div>
                        诚信为本，用专业与专注，创造价值与品质；来肯云商荣获”CCTV展播品牌”称号。
                    </div>
                </li>
                <li style="margin-right:0;">
                    <div>
                        工信部、商务部、国资委、发改委授予来肯“中国互联网诚信示范单位”称号。
                    </div>
                </li>
            </ul>
        </div>
        <div class="content1_titlebar">
            <div class="btitle  btitleline_te">技术优势</div>
            <div class="btitleline">TECHNICAL ADVANTAGE</div>
            <div class="content1_div1">来肯超过50人的技术团队每天专注的工作，只为让产品更优秀。</div>
            <div class="content1_div1" style="margin-top:15px;">拥有6项软件著作权</div>
        </div>
        <div class="content1_picture content1_certificate">
            <div class="w_33 picture_l">
                <img src="@(cdnFileRoot)/Images/3.0/JoinUs/certificate01.jpg" alt="在线进销存,进销存软件,经销商管理,crm管理系统,免费进销存软件,进销存软件哪个好,进销存软件免费版">

            </div>
            <div class="w_33">
                <img src="@(cdnFileRoot)/Images/3.0/JoinUs/certificate02.jpg" alt="在线进销存,进销存软件,经销商管理,crm管理系统,免费进销存软件,进销存软件哪个好,进销存软件免费版">
            </div>
            <div class="w_33 picture_r">
                <img src="@(cdnFileRoot)/Images/3.0/JoinUs/certificate03.jpg" alt="在线进销存,进销存软件,经销商管理,crm管理系统,免费进销存软件,进销存软件哪个好,进销存软件免费版">
            </div>
            <div class="w_33 picture_l">
                <img src="@(cdnFileRoot)/Images/3.0/JoinUs/certificate04.jpg" alt="在线进销存,进销存软件,经销商管理,crm管理系统,免费进销存软件,进销存软件哪个好,进销存软件免费版">

            </div>
            <div class="w_33">
                <img src="@(cdnFileRoot)/Images/3.0/JoinUs/certificate05.jpg" alt="在线进销存,进销存软件,经销商管理,crm管理系统,免费进销存软件,进销存软件哪个好,进销存软件免费版">
            </div>
            <div class="w_33 picture_r">
                <img src="@(cdnFileRoot)/Images/3.0/JoinUs/certificate06.jpg" alt="在线进销存,进销存软件,经销商管理,crm管理系统,免费进销存软件,进销存软件哪个好,进销存软件免费版">
            </div>
        </div>
        <div class="content1_titlebar" style="padding-top:0;">
            <div class="btitle btitleb">产品优势</div>
            <div class="btitleline">PRODUCT ADVANTAGE</div>
        </div>

        <div class="content1_wra content_container">
            <ul class="content_row colcount4 w_1024">
                <li style="width:33%;padding:0 27px;">
                    <img src="@(cdnFileRoot)/Images/3.0/JoinUs/icon.c.a.png" />
                    <span>管理及营销一体化</span>
                    <div>
                        一套系统，四大模块，集成进销存ERP、在线商城（B2B/B2C）、客户管理、协同办公于一体。数据无缝衔接，轻松实现线上+线下一体化（020）,告别管理与销售“零互动”。
                    </div>
                </li>
                <li style="width:33%;padding:0 27px;">
                    <img src="@(cdnFileRoot)/Images/3.0/JoinUs/icon.c.b.png" />
                    <span>多终端匹配 </span>
                    <div>
                        手机、平板、微信、电脑多终端接入，随时管理、随地销售，零限制、无约束。
                    </div>
                </li>
                <li style="width:33%;padding:0 0 0 27px;">
                    <img src="@(cdnFileRoot)/Images/3.0/JoinUs/icon_0.png" />
                    <span>与微信融合</span>
                    <div>
                        与微信完美融合，用流行并且习惯的方式来工作，让工作方式紧跟时代步伐。
                    </div>
                </li>
            </ul>
            <ul class="content_row colcount4">
                <li>
                    <img src="@(cdnFileRoot)/Images/3.0/JoinUs/icon_2.png" />
                    <span>社会化分销</span>
                    <div>
                        客户、朋友、家人都能轻松成为分销员，销售渠道更宽广，销售业绩实现质的飞越。
                    </div>
                </li>
                <li>
                    <img src="@(cdnFileRoot)/Images/3.0/JoinUs/icon_3.png" />
                    <span>智能决策</span>
                    <div>
                        关键数据智能提取，展示直观明显，企业决策有据可依，企业把控轻松准确。
                    </div>
                </li>
                <li>
                    <img src="@(cdnFileRoot)/Images/3.0/JoinUs/icon.c.c.png" />
                    <span>操作简便</span>
                    <div>
                        让整个系统更贴合您的使用习惯,每一处布局我们都用心斟酌。
                    </div>
                </li>
                <li style="padding-right:44px;">
                    <img src="@(cdnFileRoot)/Images/3.0/JoinUs/icon.c.d.png" />
                    <span>服务优质</span>
                    <div>
                        来肯为每一位用户配备一对一专属客服，全天候无休式快速高效响应；产品免费高频迭代，让用户后顾无忧。
                    </div>
                </li>
            </ul>
        </div>
        <div class="content1_titlebar">
            <div class="btitle btitlec">代理优势</div>
            <div class="btitleline">AGENCY ADVANTAGE</div>
        </div>
        <div class="content1_wra content_container" style="padding-bottom:76px;">
            <ul class="content_row colcount2">
                <li>
                    <img src="@(cdnFileRoot)/Images/3.0/JoinUs/icon_4.png" />
                    <span>永续分成</span>
                    <div>
                        一次成交永续分成，
                    </div>
                    <div>
                        诚意保障代理商利益
                    </div>
                </li>
                <li>
                    <img src="@(cdnFileRoot)/Images/3.0/JoinUs/icon_5.png" />
                    <span>人员配置要求低</span>
                    <div>
                        只需配置少量销售
                    </div>
                    <div>
                        人员，节省庞大人

                    </div>
                    <div style="text-align: left;padding-left: 57px;">
                        力成本
                    </div>
                </li>
                <li>
                    <img src="@(cdnFileRoot)/Images/3.0/JoinUs/icon_6.png" />
                    <span>市场前景广阔</span>
                    <div>
                        客户满意度高，市场
                    </div>
                    <div>
                        需求大，拓客成本低
                    </div>
                </li>
                <li>
                    <img src="@(cdnFileRoot)/Images/3.0/JoinUs/icon.d.b.png" />
                    <span>投入产出比高</span>
                    <div>
                        启动资金少，回报见
                    </div>
                    <div style="margin-left: -30px;">
                        效快，收益丰厚

                    </div>
                </li>
                <li>
                    <img src="@(cdnFileRoot)/Images/3.0/JoinUs/icon_7.png" />
                    <span>坐当甩手掌柜</span>
                    <div>
                        只管销售，客户培训、
                    </div>
                    <div style="margin-left:-30px;">
                        售后全由总部负责
                    </div>
                </li>
            </ul>
        </div>
        <div class="content_advantage_bg">
            <div class="advantage_title1">相对于传统ERP</div>
            <div class="advantage_title2">
                <div class="advantage_center">
                    云ERP（SAAS ERP）的
                    <img src="@(cdnFileRoot)/Images/3.0/JoinUs/four-advantages.png" />
                </div>
            </div>
            <div class="content_bg">
                <img src="@(cdnFileRoot)/Images/3.0/JoinUs/content_bg.png" class="img-responsive" />
            </div>
        </div>
        <div class="advantage_cont">
            <div class="advantage_content">
                <div class="advantage_div1">
                    <span class="advantage_span m_60">低成本、低许可</span>
                    <p class="advantage_p m_60">与传统ERP相比，公司不需要给每一个使用者购买许可，公司只要给云ERP许可支付固定的金额，然后所有人都可以使用这一系统。</p>
                </div>
                <div class="advantage_div2">
                    <span class="advantage_span">维护更简便</span>
                    <p class="advantage_p">使用传统的ERP时，企业为了新功能和新更新而不断地升级他们的系统，而云ERP的操作步骤将会很简化，可以直接到空中下载技术安全包，然后在进行更新即可，这就节省了大量的时间，也减轻了工作量。</p>
                </div>
                <div class="advantage_div3">
                    <span class="advantage_span">数据更安全</span>
                    <p class="advantage_p">由于云ERP制定了严格的协议，对公司数据提供了最顶级的安全和隐私保护，大大保证了数据的安全性。</p>
                </div>
                <div class="advantage_div4">
                    <span class="advantage_span">方便数据管理</span>
                    <p class="advantage_p">因为云ERP有良好的可扩展性。所以当把所有的数据都保存在云中时，公司可以随时随地移动这些数据，而且不必担心丢失问题。</p>
                </div>
            </div>
        </div>
    </div>
    <div class="New_joinus_content4">
        <div class="joinus_title"><span class="r_25">完善的合作伙伴支持体系</span>  为合作伙伴赢利保驾护航</div>
        <div class="content1_wra content_container">
            <ul class="content_row colcount3" style="margin-left:0;padding-left:88px;">
                <li>
                    <div class="btitle"><img src="@(cdnFileRoot)/Images/3.0/JoinUs/perfect01.jpg" /><span>基础支持</span></div>
                    <div class="bcontent h_auto">
                        <span class="bcontent_span">运营支持：</span>
                        <p class="bcontent_word">物品物料、即时客服、运营方案、云助手、微平台。</p>
                    </div>
                    <div class="bcontent h_auto">
                        <span class="bcontent_span">标准支持： </span>
                        <p class="bcontent_word">  数据安全体系、作业流程、结算体系、运维体系。</p>
                    </div>
                    <div class="bcontent h_auto">
                        <span class="bcontent_span">技术支持：</span>
                        <div class="bcontent_word">a、对于大型定制用户，可提供差异化定制服务。</div>
                        <div class="bcontent_word">b、建立独立网站。</div>
                        <div class="bcontent_word">c、布置独立呼叫系统。</div>
                        <div class="bcontent_word">d、开 放在线工作平台，并提供数据安全体系、即时客服、电话专线等多种辅助。</div>
                    </div>
                </li>
                <li>
                    <div class="btitle"><img src="@(cdnFileRoot)/Images/3.0/JoinUs/perfect02.jpg" /><span>营销支持</span></div>
                    <div class="bcontent h_auto">
                        <span class="bcontent_span">广告推广支持：</span>
                        <div class="bcontent_word">a、为有需代理商提供的推广渠道资源，并可代运营管理。</div>
                        <div class="bcontent_word">b、公司官方渠道代理商进行曝光。</div>
                    </div>
                    <div class="bcontent h_auto">
                        <span class="bcontent_span">市场营销支持：</span>
                        <div class="bcontent_word">a、免费提供市场营销策略、方案支持。</div>
                        <div class="bcontent_word">b、每年将举办多市场营销活动。</div>
                        <div class="bcontent_word">c、每年投入100余万品牌推广费用。</div>
                    </div>
                    <div class="bcontent h_auto">
                        <span class="bcontent_span">市场费用扶持：</span>
                        <p class="bcontent_word"> 对所有市场营销行为进行补贴——只针对区域总代。</p>
                    </div>
                    <div class="bcontent h_auto">
                        <span class="bcontent_span">客户资源支持：</span>
                        <p class="bcontent_word"> 代理商可向总部提交意向用户资源申请，总部根据情况予以支持。</p>
                    </div>
                </li>
                <li>
                    <div class="btitle"><img src="@(cdnFileRoot)/Images/3.0/JoinUs/perfect03.jpg" /><span>团建支持</span></div>
                    <div class="bcontent h_auto">
                        <span class="bcontent_span">驻地支持：</span>
                        <p class="bcontent_word"> 树立重点支持对象，对于符合我们驻地支持的合作伙伴公司将提供1-3个月不等上门指导建设团队、产品培训、销售培训、市场开拓、树立典型客户、市场合作、大客户开发、售后团队培训等。</p>
                    </div>
                    <div class="bcontent h_auto">
                        <span class="bcontent_span">人才支持：</span>
                        <p class="bcontent_word"> 只针对区域总代——提供管理人才驻地建设团队。</p>
                    </div>
                </li>
                <li>
                    <div class="btitle"><img src="@(cdnFileRoot)/Images/3.0/JoinUs/perfect04.jpg" /><span>售后支持</span></div>
                    <div class="bcontent h_auto">
                        <p class="bcontent_word" style="padding-top:5px;">售后不管，所有售后工作由来肯专业的售后团队负责售后服务、技术支持等工作，合作伙伴无需进行任何售后相关工作。</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="New_joinus_content2">
        <div class="joinus_title">
            合作加盟资质
        </div>
        <div class="content1_wra content_container">
            <ul class="content_row colcount4">
                <li>
                    <div class="wra2_item text-left">
                        <img src="@(cdnFileRoot)/Images/3.0/JoinUs/a.jpg" />
                        <div>无债务的企业或完全民事能力的自然人，无不良信用</div>
                    </div>
                </li>
                <li>
                    <div class="wra2_item text-left">
                        <img src="@(cdnFileRoot)/Images/3.0/JoinUs/b.jpg" />
                        <div>拥有当地各类资源：<br />人脉、团队、渠道</div>
                    </div>
                </li>
                <li>
                    <div class="wra2_item">
                        <img src="@(cdnFileRoot)/Images/3.0/JoinUs/c.jpg" />
                        <div>认可来肯商业模式</div>
                    </div>
                </li>
                <li>
                    <div class="wra2_item">
                        <img src="@(cdnFileRoot)/Images/3.0/JoinUs/d.jpg" />
                        <div>具备一定启动资金</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="New_joinus_content3">
        <div class="joinus_title">合作加盟流程</div>
        <img src="@(cdnFileRoot)/Images/3.0/JoinUs/New_joinus_content3img0.png?v=0509" />
    </div>
    <div class="New_joinus_content3">
        <div class="joinus_title">我们的合作伙伴</div>
        <img src="@(cdnFileRoot)/Images/3.0/JoinUs/New_joinus_content3img.jpg" />
    </div>

    <div class="New_joinus_content5" style="min-width:1200px;">
        <div class="content5_title1">合作共赢，携手共进，开拓千亿级市场疆土</div>
        <div class="content5_title2">来肯云商期待与您合作！</div>
        <div class="btn btnb">
            <a href="/Account/AgentApply" style="height:58px;line-height: 40px;font-size:36px;padding: 9px 20px;" class="btna">申请加盟</a>
            <a class="lk_link" style="margin-right:0;background:none;border:3px solid #fff;height:58px;line-height:32px;font-size:36px;padding: 9px 20px;" href="http://agent.lk361.com" target="_blank">来肯工作平台</a>
        </div>
        <div class="text">
            <span>加盟电话： <span class="tel">400-800-7683<span style="font-weight:normal;">转</span>3</span></span>
        </div>
    </div>
</div>

