@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "进销存服务|进销存售后|进销存维护|来肯云商";
    ViewBag.Keywords = "进销存服务管理,好用的进销存软件";
    ViewBag.description = "来肯云商，强大的售后服务体系!拒绝“一锤子”买卖，一次成交，永久实时服务!进销存完善而细致的服务体系助企业成功。进销存服务管理|好用的进销存软件";

    string cdnFileRoot = CC.ERP.Portal.Global.CDNFileRoot;
    ViewData.Add("cdnFileRoot", cdnFileRoot);
}
@section head{
    <script type="text/javascript" src="http://api.map.baidu.com/api?key=&v=1.1&services=true&ak=59T1FL4Vz8ZopBm2w65CAKP7"></script>
}

<div class="servicePage">
    <div class="service-banner">
        <span>完善而细致的服务体系</span>
        <div>一切只为用心为您服务</div>
    </div>
    <div class="service-content">
        <div class="service-content-wra color">
            <div class="service-content-title">
                <div>专人答疑</div>
                <span>拒绝无效冗余的叙述，让每一次答疑快速有效</span>
            </div>
            <div class="service-content-text">
                <ul>
                    <li class="service-content-left">
                        <span>过去：</span>
                        <div>
                            每一次对接的客服都不同，重复<br />
                            叙述经营概况，效率低下。
                        </div>
                    </li>
                    <li class="service-content-img">
                        <img src="@(cdnFileRoot)/Images/3.0/service/servicePage_img1.jpg" />
                    </li>
                    <li class="service-content-right color1">
                        <span>在来肯：</span>
                        <div>指定金牌顾问1对1咨询</div>
                        <div>细致的管家式服务全程协同</div>
                    </li>
                </ul>
                <div class="clear"></div>
            </div>
        </div>
        <div class="service-content-wra">
            <div class="service-content-title">
                <div>多种帮助</div>
                <span>无论何种服务需求，多种方式为您面面俱到</span>
            </div>
            <div class="service-content-text">
                <ul>
                    <li class="service-content-left">
                        <span>过去：</span>
                        <div>
                            购买产品后只有一次培训机会，<br />
                            之后再有任何问题时得不到及时<br />
                            有效的帮助，售后体验很差。
                        </div>
                    </li>
                    <li class="service-content-img">
                        <img src="@(cdnFileRoot)/Images/3.0/service/servicePage_img2.jpg" />
                    </li>
                    <li class="service-content-right color2">
                        <span>在来肯：</span>
                        <div>系统出问题，我们为您免费维护</div>
                        <div>使用有盲区，我们提供远程协助</div>
                        <div>新员工不会操作，我们有视频课<br />程，还可线上培训手把手教学</div>
                        <div>多种方式解决您的所有问题</div>
                    </li>
                </ul>
                <div class="clear"></div>
            </div>
        </div>
        <div class="service-content-wra color">
            <div class="service-content-title">
                <div>全时待命</div>
                <span>拒绝“一锤子”买卖，一次成交，永久实时服务</span>
            </div>
            <div class="service-content-text">
                <ul>
                    <li class="service-content-left">
                        <span>过去：</span>
                        <div>
                            需要售后解决问题的时候，总是<br />
                            没人响应，最怕严重影响企业运<br />
                            营。
                        </div>
                    </li>
                    <li class="service-content-img">
                        <img src="@(cdnFileRoot)/Images/3.0/service/servicePage_img3.jpg" />
                    </li>
                    <li class="service-content-right color3">
                        <span>在来肯：</span>
                        <div>提供7×24小时无休式答疑解惑</div>
                        <div>客服专线/QQ客服任您派遣</div>
                        <div>积极的售后让产品价值放大</div>
                    </li>
                </ul>
                <div class="clear"></div>
            </div>
        </div>
        <div class="service-content-wra ">
            <div class="service-content-title">
                <div>安全保障</div>
                <span>传统进销存软件的安全隐患，我们为您把关</span>
            </div>
            <div class="service-content-text">
                <ul>
                    <li class="service-content-left">
                        <span>过去：</span>
                        <div>
                            使用传统ERP软件，一旦软件出<br />
                            现故障造成数据丢失，数据将会<br />
                            很难恢复，过往各种记录不复存<br />
                            在。
                        </div>
                    </li>
                    <li class="service-content-img">
                        <img src="@(cdnFileRoot)/Images/3.0/service/servicePage_img4.jpg" />
                    </li>
                    <li class="service-content-right color1">
                        <span>在来肯：</span>
                        <div style="margin-bottom:20px;">采用阿里云服务器，所有数据存<br />在云端</div>
                        <div>自动备份，不再惧怕各种数据丢<br />失问题，简单操作即可恢复</div>
                    </li>
                </ul>
                <div class="clear"></div>
            </div>
        </div>
        <div class="service-content-wra color">
            <div class="service-content-title">
                <div>产品升级</div>
                <span>终身享受软件升级服务，保持功能领先。而这一切，完全免费</span>
            </div>
            <div class="service-content-text">
                <ul>
                    <li class="service-content-left">
                        <span>过去：</span>
                        <div>
                            购买产品后，只能一直使用购买<br />
                            时具备的一些功能，后续有新功<br />
                            能出现要想使用，必须重新购买，<br />
                            增加花费。
                        </div>
                    </li>
                    <li class="service-content-img">
                        <img src="@(cdnFileRoot)/Images/3.0/service/servicePage_img5.jpg" />
                    </li>
                    <li class="service-content-right color2">
                        <span>在来肯：</span>
                        <div>产品不断的改善和升级</div>
                        <div>为客户免费提供产品升级服务</div>
                        <div>客户不花钱也能轻松跟上科技发<br />展的步伐，享受科技带来的改变</div>
                    </li>
                </ul>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>

