@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    CC.Public.HashObject data = (CC.Public.HashObject)Model;
    string saler_name = data.GetString("servicename"), saler_qq = data.GetString("qq"), saler_tel = data.GetString("cellphone");

    string cdnFileRoot = CC.ERP.Portal.Global.CDNFileRoot;
    ViewData.Add("cdnFileRoot", cdnFileRoot);
}
<style>
    .servicefree_wrapper {
    margin-top: 80px;
    padding-top: 60px;
}
    .servicefree_title {
         font-size:24px;
        color:#333333;
        text-align: center;
        margin-bottom: 30px;
    }
     .servicefree_title span{
          font-size: 38px;
     }
     .servicefree_step{
          width: 1000px;
          margin: 0 auto;
     }
      .servicefree_step li{
            float: left;
        font-size: 18px;
        color: #333333;
        text-align: center;
        margin-right: 100px;
      }
      .servicefree_step li span{
           font-size: 36px;
            color: #ff5050;
            display: inline-block;
            margin-right: 10px;
      }
      .servicefree_step li div{
           margin-bottom: 45px;
      }
      .servicefree_contact{
          color: #039fea;
      }
      .servicefree_contact a{
           display: block;
        height: 25px;
        line-height: 25px;
        width: 133px;
        background-color: #b0e8ff;
        border-radius: 8px;
        font-size: 14px;
        color: #333;
        margin: 10px auto;
      }
       .servicefree_contact a:hover{
            background-color: #62D1FF;
       }
       .servicefree_tablewrapper{
             margin-top: 70px;
              text-align: center;
       }
        .servicefree_tablewrapper .servicefree_tabletltle{
             font-size: 24px;
            color: #333333;
        }
         .servicefree_tablewrapper table{
              font-size:14px;
                color: #333333;
                margin: 40px auto 0;
         }
     .servicefree_tablewrapper table td{
            border: 1px solid #ddd;
                padding: 10px 5px;
     }
     .servicefree_tablewrapper table td span{
          color: #4eec98;
     }
     .servicefree_tableno {
    color: #ff4e4e;
    }
     .servicefree_tablehead td{
          font-weight: bold;
     }
</style>
<div class="servicefree_wrapper">
    <div class="servicefree_title">分享集赞即可获得<span>免费</span>使用权</div>
    <div class="servicefree_step">
        <ul>
            <li>
                <div><span>1</span>扫描二维码</div>
                <img class="lazy" data-original="@(cdnFileRoot)/Images/3.0/service/servicefree_img1.png" />
            </li>
            <li>
                <div><span>2</span>将链接分享到您的微信朋友圈，集赞</div>
                <img class="lazy" data-original="@(cdnFileRoot)/Images/3.0/service/servicefree_img2.png" />
            </li>
            <li style="width:320px;margin-right:0;">
                <div><span>3</span>集赞超过15个，截图发给您的专属 &nbsp; &nbsp;&nbsp; &nbsp;客服，获得进销存免费版一年使用权</div>
                <div class="servicefree_contact">
                    <div>
                        <img class="lazy" data-original="@(cdnFileRoot)/Images/3.0/service/servicefree_icon.png" />
                        专属客服
                    </div>
                    <div style="margin-bottom:10px;">客服经理: @saler_name</div>
                    <a target="_blank" href="@string.Format("http://wpa.qq.com/msgrd?v=3&uin={0}&site=qq&menu=yes",saler_qq)" title="点此咨询">
                        <img src="@(cdnFileRoot)/Images/3.0/common/service_2.png" />QQ交谈
                    </a>
                </div>             
            </li>
        </ul>
        <div class="clear"></div>
    </div>
    <div class="servicefree_tablewrapper">
        <div class="servicefree_tabletltle">各版本功能对比</div>
        <div>
            <table>
                <tr class="servicefree_tablehead">
                    <td>功能模块</td>
                    <td>进销存免费版</td>
                    <td>进销存版</td>
                    <td>企业版</td>
                </tr>
                <tr>
                    <td>仓库数量</td>
                    <td>1个</td>
                    <td>不限</td>
                    <td>不限</td>
                </tr>
                <tr>
                    <td>操作员数量</td>
                    <td>2个</td>
                    <td>按需购买，3用户起售</td>
                    <td>按需购买，6用户起售</td>
                </tr>
                <tr>
                    <td>进销存-采购管理-订单申请</td>
                    <td class="servicefree_tableno">×</td>
                    <td><span>√</span></td>
                    <td><span>√</span></td>
                </tr>
                <tr>
                    <td>进销存-销售管理-订单申请</td>
                    <td class="servicefree_tableno">×</td>
                    <td><span>√</span></td>
                    <td><span>√</span></td>
                </tr>
                <tr>
                    <td>进销存-销售管理-零售、出库、退货、换货</td>
                    <td><span>√</span>(无换货)</td>
                    <td><span>√</span></td>
                    <td><span>√</span></td>
                </tr>
                <tr>
                    <td>进销存-销售管理-价格查询</td>
                    <td><span>√</span></td>
                    <td><span>√</span></td>
                    <td><span>√</span></td>
                </tr>
                <tr>
                    <td>进销存-仓库管理-调拨</td>
                    <td><span>√</span></td>
                    <td><span>√</span></td>
                    <td><span>√</span></td>
                </tr>
                <tr>
                    <td>进销存-仓库管理-收发货</td>
                    <td class="servicefree_tableno">×</td>
                    <td class="servicefree_tableno">×</td>
                    <td><span>√</span></td>
                </tr>
                <tr>
                    <td>进销存-仓库管理-生产</td>
                    <td class="servicefree_tableno">×</td>
                    <td><span>√</span></td>
                    <td><span>√</span></td>
                </tr>
                <tr>
                    <td>进销存-仓库管理-盘点（其他）</td>
                    <td><span>√</span>（无其他出入库）</td>
                    <td><span>√</span></td>
                    <td><span>√</span></td>
                </tr>
                <tr>
                    <td>进销存-财务管理-收款</td>
                    <td><span>√</span>（无按单收款和预收款）</td>
                    <td><span>√</span></td>
                    <td><span>√</span></td>
                </tr>
                <tr>
                    <td>进销存-财务管理-付款</td>
                    <td><span>√</span>（无按单付款和预付款）</td>
                    <td><span>√</span></td>
                    <td><span>√</span></td>
                </tr>
                <tr>
                    <td>进销存-财务管理-收入支出</td>
                    <td><span>√</span>（无费用单）</td>
                    <td><span>√</span></td>
                    <td><span>√</span></td>
                </tr>
                <tr>
                    <td>进销存-财务管理-调账</td>
                    <td class="servicefree_tableno">×</td>
                    <td><span>√</span></td>
                    <td><span>√</span></td>
                </tr>
                <tr>
                    <td>进销存-财务管理-凭证、银行转款、月结（其他）</td>
                    <td><span>√</span>（无会计凭证和月结）</td>
                    <td><span>√</span></td>
                    <td><span>√</span></td>
                </tr>
                <tr>
                    <td>进销存-报表中心</td>
                    <td><span>√</span>（有采购报表、销售报表、应收应付）</td>
                    <td><span>√</span></td>
                    <td><span>√</span></td>
                </tr>
                <tr>
                    <td>客户管理-客户登记</td>
                    <td class="servicefree_tableno">×</td>
                    <td><span>√</span></td>
                    <td><span>√</span></td>
                </tr>
                <tr>
                    <td>客户管理-跟进</td>
                    <td class="servicefree_tableno">×</td>
                    <td class="servicefree_tableno">×</td>
                    <td><span>√</span></td>
                </tr>
                <tr>
                    <td>客户管理-报价</td>
                    <td class="servicefree_tableno">×</td>
                    <td class="servicefree_tableno">×</td>
                    <td><span>√</span></td>
                </tr>
                <tr>
                    <td>客户管理-合同</td>
                    <td class="servicefree_tableno">×</td>
                    <td class="servicefree_tableno">×</td>
                    <td><span>√</span></td>
                </tr>
                <tr>
                    <td>工作管理-日程</td>
                    <td class="servicefree_tableno">×</td>
                    <td class="servicefree_tableno">×</td>
                    <td><span>√</span></td>
                </tr>
                <tr>
                    <td>工作管理-日志</td>
                    <td class="servicefree_tableno">×</td>
                    <td class="servicefree_tableno">×</td>
                    <td><span>√</span></td>
                </tr>
            </table>
        </div>
    </div>
</div>
