@using CC.Public
@{
    ViewBag.Title = "来肯云商——产品购买";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string cdnFileRoot = CC.ERP.Portal.Global.CDNFileRoot;
    ViewData.Add("cdnFileRoot", cdnFileRoot);
}
@model HashObject
@{
    HashObject servicer = (HashObject)Model["servicer"];
    decimal discount_two_year = 1, discount_three_year = 1;
    decimal.TryParse(CC.InnerBLL.Tools.LoadInnerCfg("discount_two_year"), out discount_two_year);
    decimal.TryParse(CC.InnerBLL.Tools.LoadInnerCfg("discount_three_year"), out discount_three_year);
}
<style>
    #years .selected::after {
        margin-left: 33px !important;
    }
</style>

<script src="@(cdnFileRoot)/Scripts/knockout-3.1.0.js"></script>
<script>

    var data = (function () { return @Html.Raw(Model.ToJsonString()) })();

    var toFixed = function (number, s) {
        var i = 0.5;
        if (number * 1 < 0) {
            i = -0.5;
        }
        return (parseInt(number * Math.pow(10, s) + i) / Math.pow(10, s)).toString();
    }

    function Model() {
        var self = this;
        this.mustList = ko.observableArray([]);
        this.otherList = ko.observableArray([]);

        this.bind = function () {
            //必选产品
            ko.utils.arrayForEach(data.mustList, function (type, index) {
                //选中产品
                type.selectedProduct = ko.observable();
                type.selectedProductId = ko.observable();
                //选中规格
                type.selectedScale = ko.observable();
                type.selectedScaleId = ko.observable();
                //选中有效期
                type.selectedYear = ko.observable();
                type.selectedYearId = ko.observable();

                if (type.exsitProduct) {
                    self.setProduct(type);
                }
            });
            self.mustList(data.mustList);

            //扩展产品
            ko.utils.arrayForEach(data.otherList, function (type, index) {
                //选中产品
                type.selectedProduct = ko.observable();
                type.selectedProductId = ko.observable();
                //选中规格
                type.selectedScale = ko.observable();
                type.selectedScaleId = ko.observable();
                //选中有效期
                type.selectedYear = ko.observable();
                type.selectedYearId = ko.observable();

                if (type.exsitProduct) {
                    self.setProduct(type);
                }
            });
            self.otherList(data.otherList);
        }

        this.setProduct = function (type) {
            //监控选择产品
            type.selectedProductId.subscribe(function (p_value) {
                ko.utils.arrayForEach(type.productList, function (product, p_index) {
                    if (product.productid == p_value) {
                        if (product.exsitScale) {
                            type.selectedProduct(product);
                            self.setScale(type, product);
                        }
                    }
                });
            });

            //循环产品列表，设置默认选中产品
            ko.utils.arrayForEach(type.productList, function (product, p_index) {
                if (p_index == 0) {
                    type.selectedProductId(product.productid);
                }
                product.parent = type;
            });
        }

        this.setScale = function (type, product) {
            //监控选中规格
            type.selectedScaleId.subscribe(function (s_value) {
                ko.utils.arrayForEach(product.scaleList, function (scale, s_index) {
                    if (scale.priceid == s_value) {
                        type.selectedScale(scale);
                        self.setYear(type, product, scale);
                    }
                });
            });

            //循环规格列表
            ko.utils.arrayForEach(product.scaleList, function (scale, s_index) {
                if (s_index == 0) {
                    type.selectedScaleId(scale.priceid);
                }
                scale.parent = product;
            });
        }

        this.setYear = function (type, product, scale) {
            //监控选中有效期
            type.selectedYearId.subscribe(function (y_value) {
                ko.utils.arrayForEach(scale.periodList, function (year, y_index) {
                    if (year.priceid == y_value) {
                        type.selectedYear(year);
                    }
                });
            });

            //循环有效期列表，设置默认有效期
            ko.utils.arrayForEach(scale.periodList, function (year, y_index) {
                if (y_index == 0) {
                    type.selectedYearId(year.priceid);
                }
            });
        }
    }

    //选中产品
    function doChangeSelectProduct() {
        //选中年份
        var year = $("#years li[class=selected]").attr("id");
        //选中ERP版本号
        var select_base_product_flag = $("#select_base_product_flag").val();

        var event = window.event || arguments.callee.caller.arguments[0];
        var myevent = event.srcElement;
        if (!myevent) {
            myevent = event.target;
        }
        var tagName = myevent.tagName;
        var li;
        if (tagName == "SPAN") {
            li = $(myevent).parent().parent();
        } else if (tagName == "DIV") {
            li = $(myevent).parent();
        } else if (tagName == "LI") {
            li = $(myevent);
        }

        if ($(li).parent().hasClass("extendUl")) {
            if (!$(li).hasClass("selected")) {
                arguments[0].parent.selectedProductId(arguments[0].productid);
            } else {
                arguments[0].parent.selectedProductId(0);
                arguments[0].parent.selectedScaleId(0);
                arguments[0].parent.selectedScale(null);
                arguments[0].parent.selectedYearId(0);
                arguments[0].parent.selectedYear(null);
            }
        } else {
            arguments[0].parent.selectedProductId(arguments[0].productid);
        }

        ComputeTotalMoney();
    }

    //选中规格
    function doChangeScale() {
        var event = window.event || arguments.callee.caller.arguments[0];
        var myevent = event.srcElement;
        if (!myevent) {
            myevent = event.target;
        }
        $(".base_service_item2 li").removeClass("selected");
        var li;

        if (myevent.tagName == "LI") {
            li = $(myevent);
        } else {
            li = $(myevent).parent();
        }

        $(li).addClass("selected");
        arguments[0].parent.parent.selectedScaleId(arguments[0].priceid);

        ComputeTotalMoney();
    }

    //选中有效期
    function doChangeYear(e) {
        //选中年份
        var year = $(e.target).attr("id");
        //选中ERP版本号
        var select_base_product_flag = $("#select_base_product_flag").val();

        $(".base_service_item5 li").removeClass("selected");
        $(e.target).addClass("selected");

        ComputeTotalMoney();
    }

    //计算价格
    function ComputeTotalMoney() {
        //选中ERP版本号
        var select_base_product_flag = $("#select_base_product_flag").val();
        //获取选中的年分
        var year = $("#years li[class=selected]").attr("id");
        var discount = 10;
        if (year == 1) {
            $("#li_discount").css("display", "none");
            $("#oldTotalMoney").css("display", "none");
            discount = 10;
        } else if (year == 2) {
            discount = parseFloat($("#discount_two_year").val()) * 10;
            if (discount < 10 && select_base_product_flag != "1") {//小微版2年不参与折扣
                $("#li_discount").css("display", "");
                $("#oldTotalMoney").css("display", "block");
            } else {
                $("#li_discount").css("display", "none");
                $("#oldTotalMoney").css("display", "none");
                discount = 10;
            }
        } else if (year == 3) {
            discount = parseFloat($("#discount_three_year").val()) * 10;
            if (discount < 10) {
                $("#li_discount").css("display", "");
                $("#oldTotalMoney").css("display", "block");
            } else {
                $("#li_discount").css("display", "none");
                $("#oldTotalMoney").css("display", "none");
                discount = 10;
            }
        }
        $("#discount").text(toFixed(discount, 2));

        //设置各个产品选择年限
        //必选产品
        ko.utils.arrayForEach(model.mustList(), function (type, index) {

            if (type.selectedScale() != null) {
                $("#span_selected").text(type.selectedProduct().product_name + "(" + type.selectedScale().scale + "用户)")
                ko.utils.arrayForEach(type.selectedScale().periodList, function (period, p_index) {
                    if (period.years == year) {
                        type.selectedYearId(period.priceid);
                    }
                });
            }
        });
        //扩展产品
        ko.utils.arrayForEach(model.otherList(), function (type, index) {

            if (type.selectedScale() != null) {
                $("#span_selected").text($("#span_selected").text() + " + " + type.type_name + "(" + type.selectedProduct().product_name + ")")
                ko.utils.arrayForEach(type.selectedScale().periodList, function (period, p_index) {
                    if (period.years == year) {
                        type.selectedYearId(period.priceid);
                    }
                });
            }
        });

        //计算总价格
        var oldTotalMoney = 0;
        $(".selectedprice").each(function (index, e) {
            oldTotalMoney += parseFloat($(e).val());
        });
        $("#oldTotalMoney").text("￥" + oldTotalMoney);
        //计算折后价
        var totalMoney = toFixed(oldTotalMoney * parseFloat(discount / 10), 0);
        $("#totalMoney").text(totalMoney);
    }

    //提交订单
    function submitOrder() {
        var arrayPrice = [];
        $(".selectedYearId").each(function (index, item) {
            if ($(item).val() > 0) {
                arrayPrice.push({ "priceid": $(item).val() });
            }
        });

        //选中ERP版本号
        var select_base_product_flag = $("#select_base_product_flag").val();
        //获取选中的年分
        var year = $("#years li[class=selected]").attr("id");

        if (select_base_product_flag == "1") {//精简版
            if (arrayPrice.length > 1) {
                alert("精简版不支持商城！");
                return;
            }
        }

        if (arrayPrice.length > 0) {
            $("#doSubmitOrder").attr("disabled", "disabled");
            $.ajax({
                url: "/service/submitorder",
                type: "post",
                async: false,
                dataType: "json",
                data: { "type": 0, "companyid": $("#companyid").val(), "list": JSON.stringify(arrayPrice) },
                success: function (result) {
                    if (result.success) {
                        location.href = result.message;
                    } else {
                        alert(result.message);
                        $("#doSubmitOrder").removeAttr("disabled");
                    }
                }, error: function (result) {
                    alert(result.responseText);
                    $("#doSubmitOrder").removeAttr("disabled");
                }
            });
        } else {
            alert("参数传递错误！");
        }
    }

    var model = new Model();
    $(function () {
        if (data.success) {
            model.bind();
            ko.applyBindings(model, document.getElementById("div_product"));
        } else {
            alert(data.message);
        }

        $("#years li").click(function (e) {
            doChangeYear(e);
        });

        setTimeout(function () {
            //取消选中扩展产品
            $(".extendUl li").each(function (o, i) {
                if ($(this).hasClass("selected")) {
                    $(this).click();
                }
            });
            ComputeTotalMoney();
        }, 300);

        //点击切换效果
        $(".nav_img li").click(function () {
            $(".nav_img li").removeClass("selected")
            $(this).addClass("selected")
        })
        $(".base_service_item1 li").click(function () {
            $(".base_service_item1 li").removeClass("selected")
            $(this).addClass("selected")
        })
        $("#more_btn").click(function () {
            event.stopPropagation()
            if ($(".more_user_panel").css("display") == "none") {
                $(".more_user_panel").show()
            } else if ($(".more_user_panel").css("display") == "block") {
                $(".more_user_panel").hide();
            }
        })
        $(".base_service_wrapper").click(function () {
            $(".more_user_panel").hide()
        })
    })
</script>

@if ((bool)Model["success"])
{
    <div class="base_service_wrapper">
        <div class="base_service_content base_service_content1" id="div_product">
            <div class="base_service_content_wrapper" data-bind="foreach:mustList" style="position:relative;">
                <span class="product_title">主产品︵ 必选 ︶</span>
                <div class="base_service_item base_service_item1 base_service_controls">
                    <span class="title"> <span>*</span> 版本:</span>
                    <ul data-bind="foreach:productList">
                        <li data-bind="css:{selected:$parent.selectedProductId() == productid},event:{click:doChangeSelectProduct}">
                            <div data-bind="text:product_name"></div>
                            <div data-bind="if:product_flag == 1"><span>365元</span>/用户/年</div>
                            <div data-bind="if:product_flag == 2"><span>780元</span>/用户/年</div>
                            <div data-bind="if:product_flag == 3"><span>1460元</span>/用户/年</div>
                        </li>
                    </ul>
                    <div class="clear"></div>
                </div>
                <div class="base_service_user base_service_item2">
                    <span class="title usertitle"><span>*</span> 用户数:</span>
                    <ul data-bind="foreach:selectedProduct().scaleList">
                        <li data-bind="css:{selected:$parent.selectedScaleId() == priceid},event:{click:doChangeScale}"><span data-bind="text:scale"></span><span data-bind="text:$parent.selectedProduct().scale_unit"></span></li>
                    </ul>
                    <input type="hidden" id="select_base_product_flag" data-bind="value:selectedProduct().product_flag" />
                    <input type="hidden" class="selectedProductId" data-bind="value:selectedProductId()" />
                    <input type="hidden" class="selectedScaleId" data-bind="value:selectedScaleId()" />
                    <input type="hidden" class="selectedYearId" data-bind="value:selectedYearId()" />
                    <input type="hidden" class="selectedprice" data-bind="value:selectedYear().price" />
                    <a id="more_btn">更多用户</a>
                    <div class="clear"></div>
                </div>
                <div class="more_user_panel">
                    <ul>
                        <li class="user_panel_per">
                            <span>亲，更多用户数，请联系您的专属客服为您下单购买哦~</span>
                            <div><span>专属客服</span><span>@servicer["servicename"]</span></div>
                        </li>
                        <li class="user_panel_num">
                            <div>电话：<span>@servicer["cellphone"]</span></div>
                            <a target="_blank" href="@string.Format("http://wpa.qq.com/msgrd?v=3&uin={0}&site=qq&menu=yes", @servicer.GetString("qq"))"><div class="qq">点此QQ联系</div></a>
                        </li>
                    </ul>
                    <div class="clear"></div>
                </div>
            </div>

            <div class="base_service_content_wrapper" style="position:relative;">
                <span class="product_title product_title2">扩展产品</span>
                <div class="base_service_item0" data-bind="foreach:otherList">
                    <span class="title"><span data-bind="text:type_name" style="color:#666;"></span>:</span>
                    <ul data-bind="foreach:productList" class="extendUl">
                        <li data-bind="css:{selected:$parent.selectedProductId() == productid},event:{click:doChangeSelectProduct}">
                            <div data-bind="text:product_name"></div>
                            <div><span data-bind="text:scaleList[0].price"></span><span>元</span>/年</div>
                        </li>
                    </ul>
                    <input type="hidden" class="selectedProductId" data-bind="value:selectedProductId()" />
                    <input type="hidden" class="selectedScaleId" data-bind="value:selectedScaleId()" />
                    <input type="hidden" class="selectedYearId" data-bind="value:selectedYearId()" />
                    <input type="hidden" class="selectedprice" data-bind="value:selectedYear() != null ? selectedYear().price : 0" />
                    <div class="clear"></div>
                    <span class="line" data-bind="style:{display:($.length - 1 > $index()) ? 'block' : 'none'}"></span>
                </div>
            </div>

            <div class="base_service_content_wrapper" style="border-bottom:none;position:relative;">
                <span class="product_title product_title3">必选</span>
                <div class="base_service_user base_service_item5">
                    <span class="title"><span>*</span> 有效期:</span>
                    <ul id="years">
                        <li class="selected" id="1">1年</li>
                        <li id="2">2年</li>
                        <li id="3">3年</li>
                    </ul>
                    @if (discount_two_year < 1
                    || discount_three_year < 1)
                    {
                        <div class="tip">购买多年低至@(discount_three_year * 10)折优惠哦~~~</div>
                    }
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="base_service_content_wrapper" style="border-bottom:none;">
            <div class="have_chose">
                已选产品：<span id="span_selected">进销存版（4用户） + B2C零售商城（标准版）</span>
            </div>
            <div class="price">
                <span class="title" style="width:100px;">价格:</span>
                <ul>
                    <li>￥<span id="totalMoney">2800</span><div id="oldTotalMoney" style="margin-right:30px;">￥3800</div></li>
                    <li id="li_discount"><div><span id="discount">8</span>折</div></li>
                </ul>
                <div class="clear"></div>
            </div>
            <div class="but_btn disableed"><a href="javascript:;" onclick="submitOrder()" id="doSubmitOrder">立即购买</a><span class="tip" style="display:none;">未选择带<span>*</span>号必选项</span></div>
            <input type="hidden" id="companyid" value="@Model["companyid"]" />
            @Html.Hidden("discount_two_year", discount_two_year)
            @Html.Hidden("discount_three_year", discount_three_year)
            <div class="clear"></div>
        </div>
    </div>
}