@using CC.Public
@{
    ViewBag.Title = "来肯云商——增值服务购买";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model HashObject

<div class="base_service_wrapper">
    <div class="add_service_content">
        @if ((bool)Model["success"])
        {
            <ul>
                @foreach (HashObject obj in (HashObjectList)Model["list"])
                {
                    <li>
                        <div class="content_wrapper">
                            <div class="icon"><div class="icon1"><img src="@obj["img"]" /></div></div>
                            <div class="tltle">
                                <div>@obj["product_name"]</div>
                                <span>@obj["product_des"]</span>
                            </div>
                            <div class="price">
                                <span>￥@(Math.Round(obj.GetDecimal("price"), 2))元@*@(!string.IsNullOrEmpty(obj.GetString("scale_unit")) ? string.Format("/{0}", obj.GetString("scale_unit")) : "")*@</span>
                                <span>/</span>
                                <a onclick="submitOrder(@obj["priceid"])" href="javascript:;">立即购买</a>
                            </div>
                        </div>
                    </li>
                }
            </ul>
            <input type="hidden" id="companyid" value="@Model["companyid"]" />
            <div class="clear"></div>
        }
        else
        {
            <div>@Model["message"]</div>
        }
    </div>
</div>
<script>
    $(function () {
        $(".nav_img li").click(function () {
            $(".nav_img li").removeClass("selected")
            $(this).addClass("selected")
        })
    })

    //提交订单
    function submitOrder(priceid) {
        if (priceid > 0) {
            $.ajax({
                url: "/service/submitorder",
                type: "post",
                dataType: "json",
                data: { "type": 1, "companyid": $("#companyid").val(), "list": JSON.stringify([{ "priceid": priceid, "qty": 1 }]) },
                success: function (result) {
                    if (result.success) {
                        location.href = result.message;
                    } else {
                        alert(result.message);
                    }
                }, error: function (result) {
                    alert(result.responseText);
                }
            });
        } else {
            alert("参数传递错误！");
        }
    }
</script>