@using CC.Public
@using CC.InnerBLL.Enum
@{
    ViewBag.Title = "订单详情";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string cdnFileRoot = CC.ERP.Portal.Global.CDNFileRoot;
    ViewData.Add("cdnFileRoot", cdnFileRoot);
}
<link href="@(cdnFileRoot)/Content/service.css?v=0527" rel="stylesheet" />
<script src="@(cdnFileRoot)/Scripts/service.js"></script>
@{
    HashObject order = Model["order"];
    HashObjectList list = Model["list"];
}
<div class="orderDetail_wrapper">
    <div class="userCenter_topbar">
        <div class="userCenter_topbar_wra">
            <span>用户中心</span>
            <div>
                @if (order.GetInt("status") == (int)OrderStatus.UnPay)
                {
                    <a style="cursor:pointer;" id="@order["orderid"]" onclick="showDialog(this)">取消</a> <a class="userbuy_btn"  href="@Url.Action("BuySuccess", "Order")?orderid=@order["orderid"]">付款</a>
                }
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="orderDetail_content_wra">
        <div class="orderDetail_content_top">
            <div class="orderDetail_content_top_wrap">
                <div class="orderDetail_title"><div>订单</div><span>(PURCHASE ORDER)</span></div>
                <ul>
                    <li>
                        <div>公司名称(Company name)：<span>@(order.GetString("companyrealname"))</span></div>
                        <div>订单号(Order No)：<span>@order["orderid"]</span></div>
                        <div>订单状态(order status)：<span>@(ShowEnumName.GetEnumName<OrderStatus>(order.GetInt("status")))</span></div>
                    </li>
                    <li>
                        <div>下单用户(Single user)：<span>@order["opname"]</span></div>
                        <div>订单类型(Order type)：<span>@(ShowEnumName.GetEnumName<OrderType>(order.GetInt("ordertype")))</span></div>
                        <div>下单时间(order time)：<span>@order.GetDateTime("createtime").ToString("yyyy-MM-dd HH:mm:ss")</span></div>
                        @if (order.GetInt("status") == (int)OrderStatus.Finished)
                        {
                        <div>支付时间：<span>@(order["paytime"] != null ? order.GetDateTime("paytime").ToString("yyyy-MM-dd HH:mm:ss") : "")</span></div>
                        }
                    </li>
                </ul>
                <div class="clear"></div>
            </div>          
        </div>
        <div class="orderDetail_content_bot">
            <table>
                <thead>
                    <tr>
                        <td class="name">产品名称</td>
                        <td>产品类型</td>
                        <td>产品属性</td>
                        <td>产品数量</td>
                        <td>金额</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (HashObject obj in list)
                    {
                        <tr>
                            <td><span>@obj["type_name"] . @obj["product_name"]</span></td>
                            <td>@(ShowEnumName.GetEnumName<ServiceType>(obj.GetInt("type_flag")))</td>
                            <td>@obj["price_name"]@obj["scale"]@obj["scale_unit"]@(obj["years"].ToString() != "0" ? "*" + obj["years"] + "年" : "")</td>
                            <td>@obj["qty"]</td>
                            <td class ="orderDetail_price">￥@obj["totalmoney"]</td>
                        </tr>
                    }                                    
                </tbody>
            </table>
            <div class="orderDetail_saleprice">
                @if (order.GetDecimal("cutoffmoney") > 0)
                {<div>- 优惠金额 <span>￥@order["cutoffmoney"]</span> </div>}<div>订单金额 <span>￥@order["totalmoney"]</span> </div>                               
            </div>
        </div>
    </div>
</div>
<!--弹出框-->
<div class="dialogDiv">
    <div class="promptDialog">
        <h4><span class="payMessage"><img src="@(cdnFileRoot)/Images/warning.jpg" alt="Alternate Text" class="warningImg" />提示信息</span><a onclick="closeDialog(this)" class="closeBtn closeDialogBtn">×</a></h4>
        <h5 id="message">您确定要取消该订单吗？</h5>
        <input type="hidden" id="cancel_orderid" />
        <p><button onclick="canelOrder()" class="sureBtn closeDialogBtn" style="width:60px;">是的</button><button onclick="closeDialog(this)" style="width:60px;margin-left:15px;" class="cancelPromptDialoBtn closeDialogBtn">点错了</button></p>
    </div>
</div>
<!--弹出框-->
<script>
    function showDialog(e) {
        $("#cancel_orderid").val($(e).attr("id"));
        $('.dialogDiv').css('display', 'block');
    }

    function canelOrder() {
        $.post("/order/cancle", { orderid: $("#cancel_orderid").val() }, function () {
            alert("订单已取消！");
            location.href = location.href;
        });
    }
</script>