@using CC.Public
@using CC.InnerBLL.Enum
@{
    ViewBag.Title = "来肯云商：用户中心";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string cdnFileRoot = CC.ERP.Portal.Global.CDNFileRoot;
    ViewData.Add("cdnFileRoot", cdnFileRoot);
}
<link href="@(cdnFileRoot)/Content/service.css?v=0525" rel="stylesheet" />
<script src="@(cdnFileRoot)/Scripts/service.js"></script>
@{
    HashObject user = Model["user"];
    HashObject servicer = Model["servicer"];
}
<div class="userCenter_wrapper" style="margin-bottom:20px;margin-top:70px;">
    <div class="userCenter_topbar">
        <div class="userCenter_topbar_wra">
            <span>用户中心</span>
            <div>
                <a target="_blank" href="/service/ordercenter">我的订单</a>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="userCenter_content">
        <div class="userCenter_title">
            <div>@user["companyrealname"]</div>
            <div><img src="@(cdnFileRoot)/Images/3.0/service/userCenter_icon2.png" /><span>@user["cellphone"]</span></div>
        </div>
        <div class="userCenter_content_wra">
            <ul>
                <li class="userCenter_content_per">
                    <div><img src="@(cdnFileRoot)/Images/3.0/service/userCenter_icon3.png" />客户类型：@(ShowEnumName.GetEnumName<CustomerType>(user.GetInt("customertype")))</div>
                    <div class="registTime"><img src="@(cdnFileRoot)/Images/3.0/service/userCenter_icon4.png" />注册时间：@user.GetDateTime("addtime").ToString("yyyy-MM-dd HH:mm:ss")</div>
                </li>
                <li class="userCenter_content_per" style="width:100%;border:none;">
                    <div class="width-30"><img src="@(cdnFileRoot)/Images/3.0/service/u-banben.png" />当前版本：@(user["productversionname"])</div>
                    <div class="width-30" style="text-align:center"><img src="@(cdnFileRoot)/Images/3.0/service/u-yonghushu.png" />用户数：@user["usercount"]</div>
                    <div class="width-30" style="text-align:right"><img src="@(cdnFileRoot)/Images/3.0/service/u-shiyong.png" />有效期：@user.GetDateTime("expiredate").ToString("yyyy-MM-dd")</div>
                </li>
            </ul>
            <div class="clear"></div>
            <div class="userCenter_content_bot" style="margin-top:50px;">
                <div class="userCenter_content_list" style=" padding-left: 3%;">
                    <div class="userCenter_content_qq">
                        <img src="@(cdnFileRoot)/Images/3.0/service/u-qq.png" />
                    </div>
                    <div class="user-qq">
                        <span>@servicer["servicename"]</span>
                        <span class="userService-tel">电话：<a>@servicer["cellphone"]</a></span>
                        <span class="userService-qq">
                            <a target="_blank" href="@string.Format("http://wpa.qq.com/msgrd?v=3&uin={0}&site=qq&menu=yes", @servicer.GetString("qq"))" class="qq">点此QQ联系</a>
                        </span>
                    </div>
                </div>
                <div class="userCenter_content_list" style="margin-top: 43px; padding-left: 85px;">
                    <div>
                        <img src="@(cdnFileRoot)/Images/3.0/service/u-goumai.png" /> 
                    </div>
                    <a class="buy_btn" target="_blank" href="/service/buy">购买产品</a>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>