@using CC.InnerBLL.BLL.Agent;
@using CC.Public;
@{
    string cdnFileRoot = ViewData["cdnFileRoot"] == null ? "" : ViewData["cdnFileRoot"].ToString();
}
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <title>@((ViewBag.Title == null || ViewBag.Title == "") ? "来肯云商|来肯在线|进销存软件|进销存管理软件|在线进销存" : ViewBag.Title)</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="keywords" content="@if (ViewBag.Keywords == null || ViewBag.Keywords == "")
                                   { @("在线进销存,进销存管理软件,进销存软件免费版,进销存,进销存软件,免费进销存,来肯云商,来肯");
                                   }
                                   else
                                   {@ViewBag.Keywords}" />
    <meta name="description" content="@if (ViewBag.description == null || ViewBag.description == "")
                                      {@("来肯云商在线进销存管理软件,无需下载,注册即可体验!涵盖在线进销存,云ERP,库存管理软件,CRM,商城系统,客户管理,OA管理系统等,支持移动版及微信版下载,中国首家支持微信客户端使用的SAAS技术服务商,热线400-800-7683免费进销存");
                                      }
                                      else
                                      {@ViewBag.description}" />
    <meta name="baidu-site-verification" content="CbL2ZS9kkr" />
    <link rel="shortcut icon" href="/favicon.ico?v=20170605" />
    <script src="@(cdnFileRoot)/Scripts/cdn/_lk_check_cdn_avaiabled.js" data-cdn-loader-type="check" data-cdn-loader-src="@(cdnFileRoot)"></script>
    <script src="/Scripts/cdn/cdn-loader.js?v=04241"></script>
    <link href="@(cdnFileRoot)/Content/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="@(cdnFileRoot)/Content/portal.css?v=20170904" rel="stylesheet" />
    <script src="@(cdnFileRoot)/Scripts/jquery-1.8.3.min.js" type="text/javascript"></script>
    <script src="@(cdnFileRoot)/Content/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="@(cdnFileRoot)/Scripts/jquery.lazyload.js" type="text/javascript"></script>
    @{
        var urlprefix = "http://" + Request.Url.DnsSafeHost;
        var urlprefix_s = CC.ERP.Portal.Global.urlprefix_s;
        var register_url = string.Format("{0}/account/register", urlprefix_s);
        var login_url = "";

        if (AgentInfo.Current.IsLaiken)
        {
            register_url += string.Format("?salerid={0}&sourceflag={1}", Request["salerid"], Request["sourceflag"]);
        }
        else
        {
            register_url += string.Format("?agentid={0}&salerid={1}&sourceflag={2}", AgentInfo.Current.AgentID, Request["salerid"], Request["sourceflag"]);
        }

        login_url = register_url.Replace("register", "logon");
        ViewBag.urlprefix = urlprefix;
    }
    @RenderSection("head", false)
    @functions{
        public bool IsCurrentPath(string action, string controller)
        {
            if (Request.FilePath.ToLower() == "/" && action == "index" && controller == "home")
            {
                return true;
            }
            return Request.FilePath.ToLower() == ("/" + controller + "/" + action).ToLower();

        }
        public MvcHtmlString ActionLinkLI(string text, string action, string controller, bool onlyAgent0show = false)
        {
            var nofollow = "";
            var urlprefix = "http://" + Request.Url.DnsSafeHost;
            if (action == "joinus" && !AgentInfo.Current.IsLaiken)
            {
                return MvcHtmlString.Create("");
            }
            return MvcHtmlString.Create(string.Format("<li class='{0}'>{1}</li>", IsCurrentPath(action, controller) ? "current" : "", "<a rel='" + nofollow + "' href='" + urlprefix + "/" + controller + (string.IsNullOrEmpty(action) ? "" : ("/" + action)) + "'>" + text + "</a>", Html.ActionLink(text, action, controller)));
        }

    }
    <style>
        #wrapper, #footer-outer {
            min-width: 1200px !important;
        }

        .bgPop {
            display: none;
            position: absolute;
            z-index: 9;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,.5);
            min-width: 1200px;
            min-height: 5400px;
        }

        .pop {
            display: none;
            width: 90%;
            height: 26%;
            position: absolute;
            top: 20%;
            left: 15%;
            bottom: 0;
            right: 0;
            margin: auto;
            z-index: 10;
            border-radius: 10px;
            background-color: #fff;
            box-shadow: 0 3px 18px rgba(0, 0, 0, .5);
            font-size: 50px;
            text-align: center;
        }

        .popTitle {
            padding: 9% 0;
            border-top: 8px solid #26a9f9;
        }

        .oppBtn {
            position: absolute;
            bottom: 0%;
            width: 100%;
            height: 40%;
            border-top: 2px solid #ddd;
        }

        .cancel, .ok {
            width: 49%;
            padding: 0;
            float: left;
            background: none;
            color: #333;
            border: none;
            cursor: pointer;
            padding-top: 1%;
            font-size: 51px;
            height: 100%;
        }

        .cancel {
            left: 160px;
            border-right: 2px solid #ddd;
        }

        .ok {
            right: 160px;
        }

        input:focus {
            outline: none;
            border: none;
        }
        
    </style>
</head>

<body>
    <div id="move_top"></div>
    @{
        if (CC.ERP.Portal.Global.ShowActive && Request.RequestContext.RouteData.Values["controller"].ToString().ToLower() == "home" && Request.RequestContext.RouteData.Values["action"].ToString().ToLower() == "index")
        {
            
        }
    }
    <!--弹出框-->
    <div class="bgPop"></div>
    <div class="pop">
        <div class="popTitle">是否跳转到手机版网页？</div>
        <div class="oppBtn">
            <input type="button" value="取消" class="cancel" />
            <input type="button" value="好" class="ok" />
        </div>
    </div>

    <header class="header">
        @RenderSection("pageBanner", required: false)
        <div class="nav_bg topP"></div>
        <div id="menu_div">
            <div id="menu_left">
                <div id="img_logo" onclick="window.open('@(urlprefix)/','_self')"></div>
            </div>
            <div>
                <div id="menu_right">
                    @if (CC.Framework.User.Current != null)//已登录
                    {
                        <div class="dropdown">
                            <span type="button" id="userinfoMenu" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <img src="@(cdnFileRoot)/Images/3.0/common/nav_header.png" />
                                <span style="margin-left:5px">@CC.Framework.User.Current.UserName</span>
                                <span class="caret"></span>
                            </span>

                            <ul class="dropdown-menu" role="menu" aria-labelledby="userinfoMenu">
                                @if (CC.Framework.User.Current.IsAdministrator)
                                {
                                    <li role="presentation" style="margin-top:-70px;"><a role="menuitem" tabindex="-1" href="@(urlprefix)/service/usercenter">用户中心</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="@(urlprefix)/service/ordercenter">订单中心</a></li>
                                    <li role="presentation" style="display:none;"><a role="menuitem" tabindex="-1" href="@(urlprefix)/service/cart">购物车</a></li>
                                }
                                <li role="presentation" style="border-bottom:none;"><a role="menuitem" tabindex="-1" href="@(urlprefix)/account/logoff">退出登录</a></li>
                            </ul>
                            <a class="nav_btn2" target="_blank" href="@(urlprefix)/account/EnterProduct">进入产品</a>
                            <span id="menu_phone">@(CC.ERP.Portal.Controllers.Public.agent_cellphone)</span>
                        </div>
                    }
                    else//未登录
                    {
                        <a class="nav_btn nav_btn1" target="_blank" href="@(register_url)" rel="external nofollow">注册</a>
                        <a class="nav_btn nav_btn3" target="_blank" href="@(login_url)" rel="external nofollow">登录</a>
                        <span id="menu_phone">@(CC.ERP.Portal.Controllers.Public.agent_cellphone)</span>
                    }
                </div>
                <div id="menu">
                    <ul>
                        @ActionLinkLI("首页", "", "")
                        @ActionLinkLI("进销存ERP", "new", "home")
                        @ActionLinkLI("线上线下一体化O2O", "dh", "product")
                        @ActionLinkLI("经销/加盟管理", "linkage", "product")
                        @ActionLinkLI("案例客户", "indurstrycase", "product")
                        @ActionLinkLI("价格", "payscheme", "product")
                        <li id="menu_product1">
                            <a href="/news/news" style="cursor:pointer;" id="menu_product_a1">我们</a>
                            <div id="menu_product_child1" class="current menu_product_child" style="display:none;">
                                <ul>
                                    <li id="menu_news" class="fw"><a href="/news/news">新闻资讯</a></li>
                                    <li class="fw"><a href="/home/service">服务</a></li>
                                    @ActionLinkLI("关于我们", "aboutus", "home")
                                </ul>
                            </div>
                        </li>
                        @ActionLinkLI("加盟", "joinus", "home")
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <div id="wrapper" style="min-width: 980px;">
        @RenderBody()
        <div id="service_online">
            <div>
                <ul>
                    <li class="service_per">
                        <div id="service_online1" class="service_online_content">
                            <ul>
                                @if (AgentInfo.Current.Contactor_Salers != null
            && AgentInfo.Current.Contactor_Salers.Count > 0)
                                {
                                    foreach (HashObject obj in AgentInfo.Current.Contactor_Salers)
                                    {
                                        <li>
                                            <span></span>
                                            <a target="_blank" href="@string.Format("http://wpa.qq.com/msgrd?v=3&uin={0}&site=qq&menu=yes", obj.GetString("contactnumber"))" rel="external nofollow" title="点此咨询">
                                                售前客服
                                            </a>
                                        </li>
                                    }
                                }

                                @if (AgentInfo.Current.Contactor_Agents != null
                      && AgentInfo.Current.Contactor_Agents.Count > 0)
                                {
                                    foreach (HashObject obj in AgentInfo.Current.Contactor_Agents)
                                    {
                                        <li>
                                            <span></span>
                                            <a target="_blank" href="@string.Format("http://wpa.qq.com/msgrd?v=3&uin={0}&site=qq&menu=yes", obj.GetString("contactnumber"))" rel="external nofollow" title="点此咨询">
                                                渠道合作
                                            </a>
                                        </li>
                                    }
                                }
                                @if (AgentInfo.Current.Contactor_Services != null
                      && AgentInfo.Current.Contactor_Services.Count > 0)
                                {
                                    foreach (HashObject obj in AgentInfo.Current.Contactor_Services)
                                    {
                                        <li>
                                            <span></span>
                                            <a target="_blank" href="@string.Format("http://wpa.qq.com/msgrd?v=3&uin={0}&site=qq&menu=yes", obj.GetString("contactnumber"))" rel="external nofollow" title="点此咨询">
                                                售后客服
                                            </a>
                                        </li>
                                    }
                                }
                            </ul>
                            <div class="service_online_content2">

                                @if (AgentInfo.Current.IsLaiken)
                                {
                                    <div><a class="content_btn" id="pcDownload" href="@(CC.ERP.Portal.Global.DownloadForClient)" target="_blank">PC端下载</a></div>
                                    <img src="@(cdnFileRoot)/Images/3.0/common/download_mobile4.0.png" title="App下载" />
                                    <span>扫码下载APP</span>

                                }
                                else
                                {
                                    <img src="@(CC.ERP.Portal.Controllers.Public.GetAgentQrCode())" />
                                    <div><a id="pcDownload" href="javascript:;" target="_blank">微信公众号</a></div>
                                }

                                <a target="_blank" class="content_btn content_btn_bot" href="@(register_url)" rel="external nofollow">注册试用</a>

                            </div>
                        </div>

                    </li>
                </ul>
            </div>
        </div>
    </div>
    <a href="#move_top" class="moveTo_top" style="display:none;z-index:1000">
        <img src="@(cdnFileRoot)/Images/3.0/common/move.top.png" />
    </a>
    <div class="bottomAccount_fixed">
        <span><img src="@(cdnFileRoot)/Images/3.0/Characteristics/CoreFunction_bottom_font.png?v=2" /></span>
        <a target="_blank" href="@(register_url)" rel="external nofollow">注册试用</a>
    </div>
    @RenderSection("scripts", required: false)
    <footer id="footer-outer" style="min-width: 960px;">
        @if (AgentInfo.Current.IsLaiken)
        {
         
            <div class="panel">
                <div class="panel_div">
                    <div class="container bottom_img">
                        <div class="row">
                            <div class="title">
                                <div>多终端匹配，契合您的使用习惯</div>
                            </div>
                        </div>
                        <div>


                            <a href="@(register_url)" target="_blank" class="down_div down_1" style="cursor:pointer;display:inline-block">
                                <div class="footer_img">
                                    <img src="@(cdnFileRoot)/Images/3.0/common/download_mobile_wz.png?v=0516" />
                                    <div class="text">Web端</div>
                                    <div class="img img1">
                                        <img src="@(cdnFileRoot)/Images/3.0/common/download_mobile_wz_light.png?v=0516" style="width:75px; margin-top: -7px;margin-left:6px" />
                                    </div>
                                </div>
                            </a>
                            <a href="javascript:;" target="_blank" class="down_div  down_2" style="cursor:pointer;display:inline-block;" onclick="window.open('@(CC.ERP.Portal.Global.DownloadForClient)', '_blank');">
                                <div class="footer_img">
                                    <img src="@(cdnFileRoot)/Images/3.0/common/footerImg4.png?v=20170515" class="img4" />
                                    <div class="text">电脑端</div>
                                    <div class="img img1">
                                        <img src="@(cdnFileRoot)/Images/3.0/common/footerImg6.png?v20170515"style="margin-left:9px;" />
                                    </div>
                                </div>
                            </a>
                            <div class="down_div down_3">
                                <div class="footer_img">
                                    <img src="@(cdnFileRoot)/Images/3.0/common/footerImg2.png?v=20170515" />
                                    <div class="text">安卓端</div>
                                    <div class="img">
                                        <img src="@(cdnFileRoot)/Images/3.0/common/download_mobile4.0.png" style="border:5px solid #fff;" />
                                    </div>
                                </div>
                            </div>
                            <div class="down_div down_4">
                                <div class="footer_img">
                                    <img src="@(cdnFileRoot)/Images/3.0/common/footerImg1.png?v=20170515" />
                                    <div class="text">IOS端</div>
                                    <div class="img">
                                        <img src="@(cdnFileRoot)/Images/3.0/common/download_mobile4.0.png" style="border:5px solid #fff;" />
                                    </div>
                                </div>
                            </div>
                            <div class="down_div down_5 m_0">
                                <div class="footer_img">
                                    <img src="@(cdnFileRoot)/Images/3.0/common/footerImg3.png?v=20170515" />
                                    <div class="text">微信端</div>
                                    <div class="img">
                                        <img src="@(cdnFileRoot)/Images/3.0/common/download_weixin4.0.png" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bottomP">
                    <div class="index_bottom container">
                        <div class="row">
                            <div class="col-xs-6 border_r">
                                <div class="indexBottom_ab">About Us</div>
                                <div class="indexBottom_slogan">
                                    用专业与专注，创造价值与品质；高质量满足客户需求，高效率提供超值服务；
                                </div>
                                <div class="indexBottom_slogan">
                                    成为受中小企业欢迎的SaaS整体解决方案提供商。
                                </div>
                                <div class="indexBottom_slogan">来肯云商主营：<h1><a href="/home/new">进销存管理软件</a>、</h1><h1><a href="/product/dh">微信商城</a>、</h1><h1><a href="/home/new">库存管理软件</a>、</h1><h1><a href="/home/new">仓库管理软件</a>、</h1><h1><a href="/product/dh">订货商城</a>、</h1><h1><a href="/product/dh">零售商城</a></h1></div>
                                <div class="indexBottom_ab contact">联系我们</div>
                                @if (AgentInfo.Current.IsLaiken)
                                {
                                    <div class="indexBottom_slogan">
                                        邮 箱：　service@LK361.com
                                    </div>
                                }
                                <div class="indexBottom_slogan">
                                    地 址：　中国 · 成都市高新科技孵化园9号楼F座6F/8F
                                </div>

                            </div>
                            <div class="col-xs-6 indexBottom_right">
                                <div class="lk_code">
                                    @if (AgentInfo.Current.IsLaiken)
                                    {
                                        <img src="@(cdnFileRoot)/Images/3.0/common/lk_code.png" title="App下载" style="border:5px solid #fff;" />
                                        <div style="text-align:center;">扫码下载APP</div>
                                    }
                                    else
                                    {
                                        <img src="@(CC.ERP.Portal.Controllers.Public.GetAgentQrCode())" style="border:5px solid #fff;" />
                                        <div style="text-align:center;"><a id="pcDownload" href="javascript:;" target="_blank">关注来肯官方微信</a></div>
                                    }
                                </div>
                                <div class="indexBottom_title1">让管理与销售更贴近更轻松 </div>
                                <div class="indexBottom_title2">来肯云商，企业专属的一体化云端ERP</div>
                                <div class="bannerTel bottom_register">
                                    <span class="bannerTel_span"><input id="bannerTel_public" type="tel" name="name" value="" placeholder="请输入手机号码" /><span class="errorText" id="errorText_public"></span></span>
                                    <a id="bannerTelBtn_public" onclick="CheckTelLayout()" target="_blank" rel="external nofollow">注册试用</a>
                                </div>
                                @if (AgentInfo.Current.IsLaiken)
                                {
                                    <div class="indeBottom_tel">400-800-7683</div>
                                    <div class="indeBottom_download">
                                        <span class="indeBottom_download_span">移动客户端下载</span>
                                        <a href="javascript:;" class="indeBottom_ad">
                                            <img src="@(cdnFileRoot)/Images/3.0/common/ad01.png" />
                                            <img src="@(cdnFileRoot)/Images/3.0/common/download_mobile4.0.png" class="indeBottom_img">
                                        </a>
                                        <a href="javascript:;" class="indeBottom_ad">
                                            <img src="@(cdnFileRoot)/Images/3.0/common/ad02.png" />
                                            <img src="/Images/3.0/common/download_mobile4.0.png" class="indeBottom_img">
                                        </a>
                                        <a href="javascript:;" class="indeBottom_ad" onclick="window.open('@(CC.ERP.Portal.Global.DownloadForClient)', '_blank');" title="点击下载电脑端">
                                            <img src="@(cdnFileRoot)/Images/3.0/common/ad03.png" />
                                        </a>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="indexBottom_bottom">
                        <div class="indexBottom_cp">
                            Copyright © 2016 成都来肯信息技术有限公司蜀ICP备13023892号
                        </div>
                    </div>
                </div>
            </div>

        }
        @RenderSection("linkNews", required: false)
        @RenderSection("linkMedia", required: false)
        @RenderSection("linkBlock", required: false)

    </footer>
</body>
</html>

<script type="text/javascript">

    function SetLoginSize() {
        var newwidth = $("#userinfoMenu").width() + 30;
        //将宽度值赋给另一个div
        $(".dropdown-menu").width(newwidth)
    }

    $(function () {
        SetLoginSize();
    });

    $(window).resize(function () {
        SetLoginSize();
    });



    function DoMenuWidth() {
        var width = $("body").width();

        //在线客服高度
        var height = window.innerHeight;
        var menu_height = $("#menu_div").height();
        var service_height = $("#service_online").height();
        var top_hieght = height - menu_height - service_height;
        if (top_hieght < 0) {
            top_hieght = menu_height;
        }

        $("#service_online").css("top", top_hieght / 2 + menu_height);
    }

    window.onresize = function () {
        DoMenuWidth();
    }

    window.onscroll = function () {
        var top = document.body.scrollTop || document.documentElement.scrollTop;
        if (top > $(window).height()) {
            $(".moveTo_top").css("display", "block");
        } else {
            $(".moveTo_top").css("display", "none");
        }
    }
    //底部手机号码注册
    function CheckTelLayout() {
        $("#bannerTelBtn_public").removeAttr("href");
        var val = $("#bannerTel_public").val();
        if ($.trim(val) == "" || $.trim(val) == $("#bannerTel_public").attr("placeholder")) {
            $("#errorText_public").text("手机不能为空");
        } else if (!/^1[3-9]{1}\d{9}$/gi.test($.trim(val))) {
            $("#errorText_public").text("手机号不正确");
        } else {
            var href = "@(register_url)" + "&telphone=" + $.trim(val);
            $("#bannerTelBtn_public").attr("href", href);
        }
    }
    $("#bannerTel_public").focus(function () {
        $("#errorText_public").text("");
    });
    $(function () {
        setTimeout(DoMenuWidth, 100);
        setTimeout(function () {
            var host = window.location.host;
            var s = document.getElementsByTagName("script")[0];
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?3fb0899d09b1e084b9e74c9717ca4ef9";
            s.parentNode.insertBefore(hm, s);
            var haosou = document.createElement("script");
            haosou.src = "//s.union.360.cn/45044.js";
            s.parentNode.insertBefore(haosou, s);
        }, 500);

        //检测到手机设备自动跳转
        var mobileAgent = new Array("iphone", "ipod", "ipad", "android", "mobile", "blackberry", "webos", "incognito", "webmate", "bada", "nokia", "lg", "ucweb", "skyfire");
        var browser = navigator.userAgent.toLowerCase();
        var isMobile = false;
        var system = {
            win: false,
            mac: false,
            xll: false
        };
        //检测平台
        var p = navigator.platform;
        system.win = p.indexOf('Win') == 0;
        system.mac = p.indexOf('Mac') == 0;
        system.x11 = (p == 'X11') || (p.indexOf('Linux') == 0);
        host = window.location.host;//获取域名
        //跳转语句
        if (!(system.win || system.mac || system.xll)) {
            if (sessionStorage.getItem("state") == null || sessionStorage.getItem("state") == true) {
                $('.bgPop').show();
                $('.pop').show();
                $('.ok').click(function () {
                    $('.pop').hide();

                    //输入pc端网址时，本地跳转到本地的手机端地址，测试跳到测试环境手机端地址，正式上跳转到正式手机端地址
                    if (host == "www.laikensoft.com") {
                        window.location.href = 'http://www.laikensoft.com/Mobile/Index?agentid=@(AgentInfo.Current.AgentID)&salerid=@(Request["salerid"])&sourceflag=@(Request["sourceflag"])';
                    }
                    if (host == "wwwtest.lk361.com") {
                        window.location.href = 'http://mtest.lk361.com?agentid=@(AgentInfo.Current.AgentID)&salerid=@(Request["salerid"])&sourceflag=@(Request["sourceflag"])';
                    }
                    if (host == "www.lk361.com") {
                        window.location.href = 'http://m.lk361.com?agentid=@(AgentInfo.Current.AgentID)&salerid=@(Request["salerid"])&sourceflag=@(Request["sourceflag"])';
                    }
                });
                $('.cancel').click(function () {
                    $('.pop').hide();
                    $('.bgPop').hide();
                });
                sessionStorage.setItem("state", true)
            } else {
                sessionStorage.setItem("state", false)
            }
            //}
        }
        @*for (var i = 0; i < mobileAgent.length; i++) {
            if (browser.indexOf(mobileAgent[i]) != -1 && !navigator.userAgent.match(/iPod/i) && !navigator.userAgent.match(/iPad/i)) {
                if (sessionStorage.getItem("state") == null || sessionStorage.getItem("state") == true) {
                    var r = confirm("是否跳转到手机版网页？");
                    if (r == false) {
                        isMobile = true;
                        location.href = 'http://m.lk361.com?agentid=@(AgentInfo.Current.AgentID)&salerid=@(Request["salerid"])&sourceflag=@(Request["sourceflag"])';
                        sessionStorage.setItem("state", true)
                        break;
                    } else {
                        sessionStorage.setItem("state", false)
                    }
                }
            }
        }*@
        DoMenuWidth();

        $(".lazy").lazyload();
        $("img").attr("alt", "在线进销存,进销存软件,经销商管理,crm管理系统,免费进销存软件,进销存软件哪个好,进销存软件免费版");
        if (location.href.indexOf("/product/lkerp") != -1) {
            $("#menu_product").addClass("current");
            $("#menu_lkerp a").addClass("current_a");
        } else if (location.href.indexOf("/product/dh") != -1) {
            $("#menu_product").addClass("current");
            $("#menu_dh a").addClass("current_a");
        } else if (location.href.indexOf("/product/b2c") != -1) {
            $("#menu_product").addClass("current");
            $("#menu_b2c a").addClass("current_a");
        } else {
            $("#menu_product").removeClass("current");
            $("#menu_lkerp a").removeClass("current_a");
            $("#menu_b2c a").removeClass("current_a");
            $("#menu_dh a").removeClass("current_a");
        }

        if (location.href.indexOf("/news/news") != -1 || location.href.indexOf("/news/newscontent") != -1) {
            $("#menu_product1").addClass("current");
            //$("#menu_news a").addClass("current_a");
        } else if (location.href.indexOf("/home/aboutus") != -1) {
            $("#menu_product1").addClass("current");
        }

        $("#menu_product").mouseover(function () {
            $("#menu_product_child").css("display", "block");
            $("#menu_product_child").addClass("current");
        });

        $("#menu_product").mouseout(function (e) {
            $("#menu_product_child").css("display", "none");
        });

        $("#menu_product1").mouseover(function () {
            $("#menu_product_child1").css("display", "block");
            $("#menu_product_child1").addClass("current");
        });

        $("#menu_product1").mouseout(function (e) {
            $("#menu_product_child1").css("display", "none");
        });

        $(function () {
            if (!placeholderSupport()) {   // 判断浏览器是否支持 placeholder
                $('[placeholder]').focus(function () {
                    var input = $(this);
                    if (input.val() == input.attr('placeholder')) {
                        input.val('');
                        input.removeClass('placeholder');
                    }
                }).blur(function () {
                    var input = $(this);
                    if (input.val() == '' || input.val() == input.attr('placeholder')) {
                        input.addClass('placeholder');
                        input.val(input.attr('placeholder'));
                    }
                }).blur();
            };

        });
        /*检查是否支持placeholder*/
        function placeholderSupport() {
            return 'placeholder' in document.createElement('input');
        }

        String.prototype.trim = function () {
            return this.replace(/^\s\s*/, '').replace(/\s\s*$/, '');
        }
    });

    var getAgentInfo = (function () {
        var ret;
        $.ajax({
            url: "/home/getAgentInfo",
            type: "post",
            dataType: "json",
            success: function (rst) {
                ret = rst;
            },
            async: false
        });
        return ret;
    });
    //手机号码注册
    var getHostName = (function () { return "@Html.Raw(CC.ERP.Portal.Global.Global_Domain)"; });
    function CheckCellphone() {
        $("#bannerTelBtn").removeAttr("href");
        var val = $("#bannerTel").val();
        if ($.trim(val) == "" || $.trim(val) == $("#bannerTel").attr("placeholder")) {
            $("#errorText").text("手机不能为空");
        } else if (!/^1[3-9]{1}\d{9}$/gi.test($.trim(val))) {
            $("#errorText").text("手机号不正确");
        } else {
            var href = "@(register_url)" + "&telphone=" + $.trim(val);
            $("#bannerTelBtn").attr("href", href);
        }
    }
    //屏幕滚动导航黑白两色切换
    $(function () {
        $(window).scroll(function () {
            if (($(window).scrollTop()) >= 70) {
                $(".topP").removeClass("nav_bg").addClass("nav_bg1");
                $("#menu").addClass("menu1");
                $("#menu_div").addClass("menu_div1");
                $(".dropdown-menu").addClass("dropdown-menu1");
                $(".dropdown-toggle").addClass("dropdown-toggle1");
                $(".menu_product_child").addClass("menu_product_child1");
            }
            else {
                $(".topP").removeClass("nav_bg1").addClass("nav_bg");
                $("#menu").removeClass("menu1");
                $("#menu_div").removeClass("menu_div1");
                $(".dropdown-menu").removeClass("dropdown-menu1")
                $(".dropdown-toggle").removeClass("dropdown-toggle1");
                $(".menu_product_child").removeClass("menu_product_child1");
            }
        });
    });
</script>
