@using CC.InnerBLL.BLL.Agent;
@using CC.Public;
@{
    string cdnFileRoot = ViewData["cdnFileRoot"] == null ? "" : ViewData["cdnFileRoot"].ToString();
}
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <title>@((ViewBag.Title == null || ViewBag.Title == "") ? "来肯云商|进销存|网上订货|经销商管理|CRM/ERP软件|进销存软件免费版|微信移动客户端下载" : ViewBag.Title)</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="keywords" content="@if (ViewBag.Keywords == null || ViewBag.Keywords == "")
                                   { @("在线进销存,进销存管理软件,进销存软件免费版,进销存,进销存软件,经销商管理,crm管理系统,免费进销存软件,进销存软件哪个好");
                                   }
                                   else
                                   {@ViewBag.Keywords}" />
    <meta name="description" content="@if (ViewBag.description == null || ViewBag.description == "")
                                      {@("来肯云商是一家专业为中小企业提供在线管理软件的互联网SAAS供应商，旗下产品涵盖在线进销存、网上订货、经销商管理、加盟商订货、erp、crm管理系统等软件，并支持移动版及微信版下载使用，是中国首家专业支持微信客户端使用的SAAS技术服务商,免费版试用热线400-800-7683/028-84519710。");
                                      }
                                      else
                                      {@ViewBag.description}" />
    <meta name="baidu-site-verification" content="b9BXcjangk" />
    <link rel="shortcut icon" href="@(cdnFileRoot)/favicon.ico" />
    <link href="@(cdnFileRoot)/Content/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="@(cdnFileRoot)/Content/portal_local.css?v=0527" rel="stylesheet" />
    <script src="@(cdnFileRoot)/Scripts/jquery-1.8.3.min.js" type="text/javascript"></script>
    <script src="@(cdnFileRoot)/Content/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="@(cdnFileRoot)/Scripts/jquery.lazyload.js" type="text/javascript"></script>
    <script src="@(cdnFileRoot)/Scripts/jquery.cookie.js"></script>
    @RenderSection("head", false)
</head>
<body>
    <div id="wrapper" style="min-width: 980px">
        <div class="wrapper_bg">
           
            @RenderBody()
            <div class="wrapper_botimg">
                <img src="@(cdnFileRoot)/Images/3.0/account/Nlogin_bgimg.png" />
            </div>

        </div>       
        <div id="service_online" class="service_online_login">
            <div>
                <ul>
                    <li class="service_per">                     
                        <div class="service_online_content">
                            <ul>
                                <li class="title">在线客服</li>

                                @if (AgentInfo.Current.Contactor_Salers != null
                                && AgentInfo.Current.Contactor_Salers.Count > 0)
                                {
                                    foreach (HashObject obj in AgentInfo.Current.Contactor_Salers)
                                    {
                                        <li>
                                            <span></span>
                                            <a target="_blank" href="@string.Format("http://wpa.qq.com/msgrd?v=3&uin={0}&site=qq&menu=yes", obj.GetString("contactnumber"))" title="点此咨询">
                                                售前客服
                                            </a>
                                        </li>
                                    }
                                }

                                @if (AgentInfo.Current.Contactor_Agents != null
                                          && AgentInfo.Current.Contactor_Agents.Count > 0)
                                {
                                    foreach (HashObject obj in AgentInfo.Current.Contactor_Agents)
                                    {
                                        <li>
                                            <span></span>
                                            <a target="_blank" href="@string.Format("http://wpa.qq.com/msgrd?v=3&uin={0}&site=qq&menu=yes", obj.GetString("contactnumber"))" title="点此咨询">
                                                渠道加盟
                                            </a>
                                        </li>
                                    }
                                }
                                @if (AgentInfo.Current.Contactor_Services != null
                                          && AgentInfo.Current.Contactor_Services.Count > 0)
                                {
                                    foreach (HashObject obj in AgentInfo.Current.Contactor_Services)
                                    {
                                        <li>
                                            <span></span>
                                            <a target="_blank" href="@string.Format("http://wpa.qq.com/msgrd?v=3&uin={0}&site=qq&menu=yes", obj.GetString("contactnumber"))" title="点此咨询">
                                                售后客服
                                            </a>
                                        </li>
                                    }
                                }
                            </ul>
                            <div class="service_online_content2">
                                <span>APP下载</span>
                                @if (AgentInfo.Current.IsLaiken)
                                {
                                    <img src="@(cdnFileRoot)/Images/3.0/common/download_mobile4.0.png" style="margin:0 !important;" title="App下载" />
                                    <div><a id="pcDownload" href="@(CC.ERP.Portal.Global.DownloadForClient)" target="_blank">PC端下载</a></div>
                                }
                                else
                                {
                                    <img src="@(CC.ERP.Portal.Controllers.Public.GetAgentQrCode())" style="margin:0 !important;" />
                                    <div><a id="pcDownload" href="javascript:;" target="_blank">微信公众号</a></div>
                                }
                            </div>
                        </div>
                    </li>
                    @*<li class="service_app">
                            <img src="~/Images/3.0/common/service_content_icon2.png" />

                        </li>*@
                   
                </ul>
            </div>
        </div>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>

<script type="text/javascript">

    function DoMenuWidth() {

        //在线客服高度
        var height = window.innerHeight;
        var service_height = $("#service_online").height();
        var top_hieght = height - service_height;
        if (top_hieght < 0) {
            top_hieght = 0;
        }

        $("#service_online").css("top", top_hieght / 2);
    }

    window.onresize = function () {
        DoMenuWidth();
    }

    DoMenuWidth();

    function LoadBaiduScript() {
        var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
        var src = "https://hm.baidu.com/hm.js?3fb0899d09b1e084b9e74c9717ca4ef9";
        var nodeScript = document.createElement("script");
        nodeScript.setAttribute("type", "text/javascript");
        nodeScript.setAttribute("src", src);

        $("#div_script")[0].appendChild(nodeScript);
    }

    $(function () {

        setTimeout(LoadBaiduScript, 500);

        //检测到手机设备自动跳转
        var mobileAgent = new Array("iphone", "android", "mobile", "blackberry", "webos", "incognito", "webmate", "bada", "nokia", "lg", "ucweb", "skyfire");

        var browser = navigator.userAgent.toLowerCase();

        var isMobile = false;
        for (var i = 0; i < mobileAgent.length; i++) {
            if (browser.indexOf(mobileAgent[i]) != -1 && !navigator.userAgent.match(/iPod/i) && !navigator.userAgent.match(/Pad/i)) {
                if (sessionStorage.getItem("state") == null || sessionStorage.getItem("state") == true) {
                    var r = confirm("是否跳转到手机版网页？");
                    if (r == true) {
                        isMobile = true;
                        location.href = 'http://m.lk361.com?agentid=@(AgentInfo.Current.AgentID)&salerid=@(Request["salerid"])&sourceflag=@(Request["sourceflag"])';
                        sessionStorage.setItem("state", true)
                        break;
                    } else {
                        sessionStorage.setItem("state", false)
                    }
                }
            }
        }

        $(".lazy").lazyload();
        $("img").attr("alt", "在线进销存,进销存软件,经销商管理,crm管理系统,免费进销存软件,进销存软件哪个好,进销存软件免费版");

        //计算内容离顶部的距离
        var height = $(window).height();
        var register_div_height = $(".register_div").height();
        $(".register_div").each(function () {
            if ($(this).height() > register_div_height) {
                register_div_height = $(this).height();
            }
        });
        var padding_top = (height - register_div_height - 107) / 2;
        if (height < 780) {
            $("#account_top").css("padding-top", padding_top > 0 ? padding_top : 10);
        }
    });

    var getAgentInfo = (function () {
        var ret;
        $.ajax({
            url: "/home/getAgentInfo",
            type: "post",
            dataType: "json",
            success: function (rst) {
                ret = rst;
            },
            async: false
        });
        return ret;
    });
    var getHostName = (function () { return "@Html.Raw(CC.ERP.Portal.Global.Global_Domain)"; });
</script>
