<!DOCTYPE html>
@{
    string cdnFileRoot = ViewData["cdnFileRoot"] == null ? "" : ViewData["cdnFileRoot"].ToString();
}

<html lang="zh-cn">
<head>
    <script>
        (function () {
            if ("-ms-user-select" in document.documentElement.style && navigator.userAgent.match(/IEMobile\/10\.0/)) {
                var msViewportStyle = document.createElement("style");
                msViewportStyle.appendChild(document.createTextNode(String.fromCharCode(64) + "-ms-viewport{width:auto!important}"));
                document.head.appendChild(msViewportStyle);
            }
        })();
    </script>


    <title>@(string.IsNullOrEmpty(ViewBag.Title) ? "来肯云商" : ViewBag.Title)</title>
    <meta name="keywords" content="@if (ViewBag.Keywords == null || ViewBag.Keywords == "")
                                   { @("在线进销存,进销存管理软件,进销存软件免费版,进销存,进销存软件,经销商管理,crm管理系统,免费进销存软件,进销存软件哪个好");
                                   }
                                   else
                                   {@ViewBag.Keywords}" />
    <meta name="description" content="@if (ViewBag.description == null || ViewBag.description == "")
                                      {@("来肯云商是一家专业为中小企业提供在线管理软件的互联网SAAS供应商，旗下产品涵盖在线进销存、网上订货、经销商管理、加盟商订货、erp、crm管理系统等软件，并支持移动版及微信版下载使用，是中国首家专业支持微信客户端使用的SAAS技术服务商,免费版试用热线400-800-7683/028-84519710。");
                                      }
                                      else
                                      {@ViewBag.description}" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=yes">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <meta http-equiv="Pragma" content="cache">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="screen-orientation" content="portrait">
    <meta name="full-screen" content="yes">
    <meta name="browsermode" content="application">
    <meta name="x5-orientation" content="portrait">
    <meta name="x5-fullscreen" content="true">
    <meta name="x5-page-mode" content="app">
    <script src="@(cdnFileRoot)/Scripts/cdn/_lk_check_cdn_avaiabled.js" data-cdn-loader-type="check" data-cdn-loader-src="@(cdnFileRoot)"></script>
    <script src="/Scripts/cdn/cdn-loader.js?v=04241"></script>
    <link href="@(cdnFileRoot)/Content/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="@(cdnFileRoot)/mobile/mobile.css?v=20170828">
    <script src="@(cdnFileRoot)/Scripts/jquery-1.8.3.min.js" type="text/javascript"></script>
    <script src="@(cdnFileRoot)/Content/bootstrap/js/bootstrap.min.js"></script>
    <!--360统计-->
    <script type="text/javascript" src="//s.union.360.cn/45044.js"></script>
</head>
<body>
  
    <div class="mobileIndex">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header" style="position: relative; z-index: 1; background:#fff;">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" id="navBarBtn">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/mobile/index"><img src="@(cdnFileRoot)/mobile/image/3.0/index/mobileLogo.png" /></a>
                </div>

                <div class="navbar-collapse" id="navList">
                    <ul class="nav navbar-nav">
                        <li><a href="/mobile/index" class="">首页</a><span class="preRight"></span></li>
                        <li><a href="/mobile/new">进销存ERP <span class="sr-only"></span></a><span class="preRight"></span></li>
                        <li><a href="/mobile/dh">线上线下一体化O2O </a><span class="preRight"></span></li>
                        <li><a href="/mobile/linkage">经销/加盟管理 </a><span class="preRight"></span></li>
                        <li><a href="/mobile/joinus">合作加盟</a><span class="preRight"></span></li>
                        <li><a href="/mobile/about">我们</a><span class="preRight"></span></li>
                    </ul>
                    <div class="nav-bottom">
                        <img src="@(cdnFileRoot)/mobile/image/pre-top.png" />
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div id="height" style="height:63px;"></div>
    @RenderSection("linkNews", required: false)
    @RenderBody()
    <div class="footerLink">
        <ul>
            <li>
                <a href="tel://4008007683"><i class="iconfont icon-navphone"></i>@(CC.ERP.Portal.Controllers.Public.agent_cellphone)</a>
            </li>
            <li><span></span></li>
            <li>
                <a href="/mobile/register?agentid=@Request["agentid"]&salerid=@Request["salerid"]&sourceflag=@Request["sourceflag"]"><i class="iconfont icon-navuser"></i>注册试用</a>
            </li>
        </ul>
        <div class="clear"></div>
    </div>
    <section class="foot_link"></section>
</body>
</html>
<script type="text/javascript">
    $(function () {
        setTimeout(function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?ca33106b3bdc587c72cf661b77cd537e";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);

            var haosou = document.createElement("script");
            haosou.src = "//s.union.360.cn/45044.js";
            s.parentNode.insertBefore(haosou, s);
        }, 500);

        //导航
        $(".mobileIndex nav .navbar-collapse").css("height", "0px")
        $("#navBarBtn").click(function () {
            $(this).toggleClass("hasNav");
            if ($(this).hasClass("hasNav")) {
                $("#navList").animate({ "min-height": "286px" }, 300)
            } else {
                $("#navList").animate({ "min-height": "0" }, 300)
            }
        });
        $(".nav-bottom").click(function () {
            $("#navBarBtn").toggleClass("hasNav")
            $("#navList").animate({ "min-height": "0" }, 300)
        });

        //导航颜色切换
        if (location.href.indexOf("/mobile/index") != -1 || location.href.indexOf("/Mobile/Index") != -1) {
            $(".nav li").eq(0).find("a").addClass("color-a");
            $(".nav li").eq(0).find("span").removeClass("preRight").addClass("preRight-ff");
        }
        else if (location.href.indexOf("/mobile/new") != -1) {
            $(".nav li").eq(1).find("a").addClass("color-a");
            $(".nav li").eq(1).find("span").removeClass("preRight").addClass("preRight-ff");
        }
        else if (location.href.indexOf("/mobile/dh") != -1) {
            $(".nav li").eq(2).find("a").addClass("color-a");
            $(".nav li").eq(2).find("span").removeClass("preRight").addClass("preRight-ff");
        }
        else if (location.href.indexOf("/mobile/linkage") != -1) {
            $(".nav li").eq(3).find("a").addClass("color-a");
            $(".nav li").eq(3).find("span").removeClass("preRight").addClass("preRight-ff");
        }
        else if (location.href.indexOf("/mobile/joinus") != -1) {
            $(".nav li").eq(4).find("a").addClass("color-a");
            $(".nav li").eq(4).find("span").removeClass("preRight").addClass("preRight-ff");
        }
        else if (location.href.indexOf("/mobile/about") != -1) {
            $(".nav li").eq(5).find("a").addClass("color-a");
            $(".nav li").eq(5).find("span").removeClass("preRight").addClass("preRight-ff");
        }
    });
</script>
