@{
    Layout = null;
    string cdnFileRoot = CC.ERP.Portal.Global.CDNFileRoot;
}
<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <script src="@(cdnFileRoot)/Scripts/cdn/_lk_check_cdn_avaiabled.js" data-cdn-loader-type="check" data-cdn-loader-src="@(cdnFileRoot)"></script>
    <script src="/Scripts/cdn/cdn-loader.js?v=04241"></script>
    <script src="@(cdnFileRoot)/Scripts/jquery-1.8.3.min.js"></script>
    <link href="@(cdnFileRoot)/Content/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <script src="@(cdnFileRoot)/Content/bootstrap/js/bootstrap.min.js"></script>
    <title>出错啦</title>
    <style>
        .error_width {
            width: 60%;
            margin: auto;
            padding-top: 11%;
            position: relative;
        }

        .error_sorry {
            font-size: 28px;
            color: #ce9001;
            font-weight: 900;
            width: 120%;
        }

        .error_try {
            margin-top: 12%;
            color: #587ee3;
            font-size: 20px;
        }

        .error_way {
            font-size: 16px;
            color: #587ee3;
            margin-top: 48px;
        }

        .error_span {
            display: block;
            line-height: 24px;
        }

        .col-xs-12 {
            padding: 0;
        }

            .col-xs-12 img {
                margin: 20px auto;
            }
    </style>
</head>
<body style="background-color: #fcfcfc; align-content: center;">
    <div class="error_width row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="error_sorry">
                出错了！
            </div>
            <div class="error_try">很遗憾，<br />您访问的页面不存在或者出错了，<br />您可以进行如下尝试</div>
            <div class="error_way">
                <span class="error_span"> 1、刷新页面</span>
                <span class="error_span"> 2、重启浏览器</span>
                <span class="error_span">3、联系我们的客服QQ2844529348</span>
                <span class="error_span">4、电话联系我们的客服人员，联系电话：028-84519710</span>
            </div>
        </div>
        <div class="error_img col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <img src="@(cdnFileRoot)/Images/false-right.png?v=20170419" class="img-responsive" />
        </div>
    </div>
    <!--
    @(ViewData != null && ViewData["Exception"] != null && ViewData["Exception"] is ExceptionContext ? (ViewData["Exception"] as ExceptionContext).Exception.Message : "")
    -->
</body>
</html>